<!-- ..............................................................
			Payment status
................................................................-->
	<option selected>Выберите</option>

	{% if order.paymentStatus == 'pending_payment' %}
		<option value="pending_payment" selected>Ожидает оплыты</option>

	{% else %}
				<option value="pending_payment"> Ожидает оплыты</option>

		{% if order.checked is not empty %}
			{% if order.checked['status'] != 'success' %}
			{% endif %}
		{% endif %}

	{% endif %}

	{% if order.paymentStatus == 'pending_confirmation' and order.order_status != 'order_failed' %}
		<option value="pending_confirmation" selected>Подтверждение оплаты</option>

	{% endif %}

	{% if order.paymentStatus == 'paid' %}
		<option value="paid" selected >Оплачен</option>
	{% else %}
		<option value="paid">Оплачен</option>

	{% endif %}
 

	<!-- if order have some error -->
	{% if order.order_status == 'order_failed' %}
		<option value="order_failed" selected>ошибка заказа</option>
		<option value="accepted">Нет ошибок</option>
		<!-- <option value="pending_payment">Ожидает оплыты</option> -->
	{% else %}
		<option value="order_failed">ошибка заказа</option>
	{% endif %}
