<!-- ..............................................................
			Order Status
................................................................-->
	<option selected>Выберите</option>
	{% if order.order_status == 'on_consideration' %}
		<option value="on_consideration" selected>На расмотрение</option>
	{% else %}
		<option value="on_consideration">На расмотрение</option>
	{% endif %}

	{% if order.order_status == 'order_failed' %}
		<option value="order_failed" selected>ошибка заказа</option>
	{% else %}
		<option value="order_failed">ошибка заказа</option>
	{% endif %}