<!-- ..............................................................
			Delivery Status
................................................................-->
	<!-- <option value=""></option> -->

	{% if is_granted('ROLE_COURIER') %}
		{% if  order.order_status != 'order_failed'  and  order.paymentStatus == 'paid' %}

			{% if order.deliveryStatus == 'to_courier' %}
				<option value="to_courier" selected>У курьера</option>
			{% endif %}

			{% if order.deliveryStatus == 'on_package' %}
				<option selected value="on_package">на упаковке</option>
			{% else %}
				<option value="on_package">на упаковке</option>
			{% endif %}

			{% if order.deliveryStatus == 'sent' %}
				<option value="sent" selected>отправлен</option>
			{% else %}
				<option value="sent">отправлен</option>
			{% endif %}

			<option value="order_failed">ошибка заказа</option>

		{% else %}
			<option value="order_failed" selected>ошибка заказа</option>
		{% endif %}

	{% endif %}

	{% if is_granted('ROLE_ADMIN') and  order.order_status != 'order_failed' and  order.paymentStatus == 'paid' %}
		<option value=""></option>
		{% if order.deliveryStatus == 'to_courier' %}
			<option value="to_courier" selected>У курьера</option>
		{% else %}
			<option value="to_courier">У курьера</option>
		{% endif %}

		{% if order.deliveryStatus == 'on_package' %}
			<option selected value="on_package">на упаковке</option>
		{% else %}
			<option value="on_package">на упаковке</option>
		{% endif %}

		{% if order.deliveryStatus == 'sent' %}
			<option value="sent" selected>отправлен</option>
		{% else %}
			<option value="sent">отправлен</option>
		{% endif %}

	{% endif %}
