
<!-- ................................................................................................................
						Loop for products
.................................................................................................................. -->
{% if fullUserBasket is defined and fullUserBasket['products'] is not empty %}

	{% for item in fullUserBasket['products'] %}
		{% if item.0.entry_status == false or item.0.inStock == false %}
		<tr class="entry{{ item['id'] }} entry bg-failed" >
		{% else %}
		<tr class="entry{{ item['id'] }} entry">
		{% endif %}

			<!-- Продукт -->
			<td>
				{% if item.0.images is not empty %}
					<a href="/pDetail/{{ item.0.id }}">
						<img src="{{ asset(item.0.images.0) }}" width="50" alt="White Blouse Armani">
					</a>
				{% endif %}
			</td>

			<td>
				<a href="/pDetail/{{ item.0.id }}">
					{{ item.0.name }}
				</a>
			</td>

			<!-- Количество -->
			<td>
				<input type="number" value="{{ item['count'] }}" class="form-control" min="1"  max="{{ item.0.product_quantity }}"
				 onchange="updateB(this.value, {{ item.0.product_quantity }}, {{item.id}}, {{ item.0.price }}, 'product')" >
			</td>

			<!-- Цена за единицу -->
			<td>
				<i class="fa fa-rub" aria-hidden="true"></i>
				{{ item.0.price }}
			</td>

			<!-- Cкидка -->
			<td> <i class="fa fa-rub" aria-hidden="true"></i> 0.00</td>

			<!-- Всего -->
			<td>
				<i class="fa fa-rub" aria-hidden="true"></i>
				<span class="entry_total">
					{% if item['count'] > 0 %}
						{{ item.0.price * item['count'] }}
					{% else  %}
						{{ item.0.price }}
					{% endif %}
				</span>
			</td>

			<!-- Управление -->
			<td>
				<a href="/shop_basket_rm_item" eid="{{ item['id'] }}" class="trash_fb"><i class="fa fa-trash-o"></i></a>
			</td>
		</tr>
		{#
		#}

	{% endfor %}

{% endif %}

<!-- ................................................................................................................
						Loop for course
.................................................................................................................. -->
{% if fullUserBasket is defined and fullUserBasket['course'] is not empty %}

	{% for item in fullUserBasket['course'] %}

		{% if item.0.entry_status == false or item.0.instock == false %}
		<tr class="entry{{ item['id'] }} entry bg-failed" >
		{% else %}
		<tr class="entry{{ item['id'] }} entry">
		{% endif %}


			<!-- Продукт -->
			<!-- 																				 -->
			<td>
				<p  class="btn btn-template-main btn-sm" style="border-color:#000; color:#000;" data-toggle="modal" data-target=".course_content{{item.id}}">
					<i class="fa fa-info"></i>
				</p>

				<div class="x_content">
					<!-- modals -->

					<div class="modal fade course_content{{item.id}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">

								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
									</button>
									<p class="modal-title" id="myModalLabel">Содержимое курса : {{item.0.name}}</p>
								</div>

								<div class="modal-body" style="overflow: scroll;">
									<table class="table">
										<thead>
											<tr>
												<!-- Name -->
												<th>Наимен.</th>
												<!-- Count -->
												<th>Кол-во</th>
												<!-- price -->
												<th>Цена за единицу</th>
											</tr>
										</thead>

										<tbody>
											{% for product in item.0.content %}
											<tr>
												<!-- Product Name  -->
												<td>

													<a href="/pDetail/{{product.prodid}}">
														{{product.prod_name}} {{product.count_dosage}}
													</a>
												</td>

												<!-- Count -->
												<td>
													{{ product.count }}
												</td>

												<!-- price -->
												<td>
													{{product.price}}
													<i class="fa fa-rub" aria-hidden="true"></i>
												</td>
											{% endfor %}
										<tbody>

										<tfoot>
											<th colspan="3">Cумма за 1 курс:</th>
											<th>
												{{ item.0.price }}
												<i class="fa fa-rub" aria-hidden="true"></i>
											</th>
										</tfoot>

									</table>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
								</div>

							</div><!-- ./modal-content -->
						</div><!-- ./modal-dialog -->
					</div><!-- ./modal -->

				</div><!-- /.x_content -->
			</td>
			<!-- 																				 -->

			<td>
				<a href="/courseDetail/{{ item['courseid'] }}">
					{{ item.0.name }}
				</a>
			</td>

			<!-- Количество -->
			<td>
				<input type="number" value="{{ item['count'] }}" class="form-control" min="1"
				 onchange="updateB(this.value, 1000, {{item.id}}, {{ item.0.price }}, 'course')" >
			</td>

			<!-- Цена за единицу -->
			<td>
				<i class="fa fa-rub" aria-hidden="true"></i>
				{{ item.0.price }}
			</td>

			<!-- Cкидка -->
			<td> <i class="fa fa-rub" aria-hidden="true"></i> 0.00</td>

			<!-- Всего -->
			<td>
				<i class="fa fa-rub" aria-hidden="true"></i>
				<span class="entry_total">
					{% if item['count'] > 0 %}
						{{ item.0.price * item['count'] }}
					{% else  %}
						{{ item.0.price }}
					{% endif %}
				</span>
			</td>

			<!-- Управление -->
			<td>
				<a href="/shop_basket_rm_item" eid="{{ item['id'] }}" class="trash_fb"><i class="fa fa-trash-o"></i></a>
			</td>

		</tr>

	{% endfor %}

{% endif %}
