{% extends "base.html.twig" %}

{% block title %}Контакты{% endblock %}

{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1>Контакты</h1>
						{% if is_granted('ROLE_SUPER_ADMIN') %}
							<button id="edit_contact_info" class="btn btn-template-main">Для админа</button>
						{% endif %}
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/">Главная</a>
							</li>
							<li>Контакты</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block body %}
		<div id="content">
			<div class="container" id="contact">

				<form action="/setContact">
				<div class="row">
					<div class="col-md-8">

						<section>
							<div class="heading">
								<h4 class="by_user">{{Contact.heading_intro}}</h4>
								<textarea  class="by_admin col-md-12" name="heading_intro" >{{Contact.heading_intro}}</textarea>
							</div>

							<p class="lead ">
								<p class="by_user"> {{Contact.heading_value}} </p>
								<textarea  class="by_admin col-md-12 by_admin" name="heading_value"> {{Contact.heading_value}}</textarea>
							</p>

							<div class="heading">
								<h4 class="by_user"> {{Contact.to_support_intro}} </h4>
								<input type="text" class="by_admin" value="Написать администрации" name="to_support_intro">
							</div>

							<div class="row">
							<!-- write message to support -->
								<div class="col-sm-6">
									<div class="form-group">
										<label for="firstname">
											Имя
										</label>
										<input type="text"  class="form-control toSupport" id="firstname" name="firstname" maxlength="20">
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label for="surname">Фамилия</label>
										<input type="text"  class="form-control toSupport" id="surname" name="surname" maxlength="20">
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label for="mail">
											<span class="red">*</span>
											Эл.почта
										</label>
										<input type="email" class="form-control toSupport" id="mail" name="mail">
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label for="title">
											<span class="red">*</span>
											Заголовок
										</label>
										<input type="text"  class="form-control toSupport" id="title" name="title" maxlength="100">
									</div>
								</div>

								<div class="col-sm-12">
									<div class="form-group">
										<label for="message">
											<span class="red">*</span>
											Сообщение
										</label>
										<textarea type="text" class="form-control toSupport" id="message" name="message" 
											class="form-control" maxlength="1000">
										</textarea>
									</div>
								</div>


								{% if is_granted('ROLE_USER') %}
								<div class="col-sm-12">
									<div class="form-group">
										<label for="message">
											прикрепить файлы
										</label>

										<!-- upload images -->
										<div class="btn-group">
											<a class="btn" id="upload_images">
												<i class="fa fa-paperclip" aria-hidden="true" style="font-size:1.5em;"></i>
											</a>
											<input type="file" name="files[]" multiple  class="toSupport">
										</div>
									</div>
								</div>
								{% endif %}

								<div class="col-sm-12 text-center">
									<button type="button" class="btn btn-template-main" onclick="toSupport()">
										<i class="fa fa-envelope-o"></i> Отправить сообщение
									</button>
								</div>
							</div>
							<!-- /.row -->
						</section>
					</div>

					<div class="col-md-4">

						<section>
							<!-- Call_center -->
							<h4 class="text-uppercase by_user">{{Contact.call_center_title}} </h4>
							<input type="text" class="by_admin" value="колл-центр" name="call_center_title">

							<p class="text-muted">
								<p class="by_user"> {{Contact.call_center_intro}} </p>
								<textarea  class="by_admin col-md-12 by_admin" name="call_center_intro"> {{Contact.call_center_intro}}</textarea>
							</p>

							<p>
								<strong class="by_user">{{Contact.call_center_value}}</strong>
								<textarea  class="by_admin col-md-12 by_admin" name="call_center_value"> {{Contact.call_center_value}}</textarea>
							</p> 

							<!-- MAIL -->
							<h4 class="text-uppercase by_user"> {{Contact.mail_title}} </h4>
							<input type="text" class="by_admin" value=" Электронная поддержка" name="mail_title">

							<p class="text-muted by_user">
								<p class="by_user" style="overflow:hidden;"> {{Contact.mail_intro}} </p>
								<textarea  class="by_admin col-md-12 by_admin" name="mail_intro"> {{Contact.mail_intro}}</textarea>
							</p>

							<!-- email -->
							<strong class="by_user"><a href="mailto:{{Contact.mail_value}}"> {{Contact.mail_value}} </a></strong>
							{% if is_granted("ROLE_SUPER_ADMIN") %}
								<br>
								<br>
								<br>

								<label class="by_admin red">Внимательно коректируйте поля ниже, от этого зависит будет ли доставленно сообшение от клиента администрации или нет</label>
								<input  class="by_admin col-md-12 by_admin" name="mail_value" value="{{Contact.mail_value}}"> 
								<!-- password -->
								<input type="password" class="by_admin col-md-12 by_admin" name="mail_pass" id="mail_pass" value="{{Contact.mail_pass}}">

								<span class="red by_admin"> Заметка:</span>
								<label class="by_admin warning">
									Ecли вы указали новую эл.почьту и пароль убедитесь , что с вашего профиля сняты ограничения. 
									Это можно проверить по ссылкам ниже <br>
									<span class="red by_admin">1) Снимите ограничения с эл.почьты:</span>
									<a href="https://myaccount.google.com/lesssecureapps">Ссылка</a>
								</label>

								<label class="by_admin warning">
									<span class="red by_admin">2) Уберите блокировку от gmail Captcha:</span>
									<a href="https://accounts.google.com/DisplayUnlockCaptcha">Ссылка</a>
								</label>

							{% endif %}

						</section>

					</div>

				</div>
				<!-- /.row -->

				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<br>
					<br>
					<button type="button" onclick="submitForm()" class="btn btn-template-main col-md-12 by_admin"> Сохранить изменения</button>
					<br>
					<br>
				{% endif %}

				</form>
				<!-- .Form -->


			</div>
			<!-- /#contact.container -->
		</div>
		<!-- /#content -->
{% endblock %}

{% block javascripts %}
<script>

$('#edit_contact_info').click(function(event) {
	if ($('.by_user').is(":visible") ) {
		$('.by_user').fadeOut();
		$('.by_admin').fadeIn();

	}else {
		$('.by_user').fadeIn();
		$('.by_admin').fadeOut();
	}

});

// TEST
function submitForm() {
	var form = $('<form action="/setContact" method="post"></form>');
	var inputs = $('.by_admin').clone();
	form.append(inputs);

	$(document.body).append(form);

	form.submit();
}

function toSupport(){
	var form = $('<form action="/toSupport" method="post" enctype="multipart/form-data" ></form>');
	var inputs = $('.toSupport').clone();
	form.append(inputs);
	form.attr('style', 'display:none');

	var modal = $('#captcha_modal');
	modal.append(form);
	$(modal).modal('show');
}

</script>
{% endblock %}