{% extends "::base.html.twig" %}

{% block title %}ControlpanelBundle:Deliverycost:newDeliverycost{% endblock %}

{% block body %}
<h1>Welcome to the Deliverycost:newDeliverycost page</h1>
{% endblock %}
