{% extends "::base.html.twig" %}

{% block title %}ControlpanelBundle:Deliverycost:rmvDeliverycost{% endblock %}

{% block body %}
<h1>Welcome to the Deliverycost:rmvDeliverycost page</h1>
{% endblock %}
