{% extends "base.html.twig" %}

{% block title %} ` {% endblock %}
{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						{% if is_granted('ROLE_SUPER_ADMIN') %}
							<br>
							<button  id="edit_contact_info" class="btn btn-template-main">
								Для Администратора
							</button> 
						{% endif %}
					</div>

					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/"> ГЛАВНАЯ </a>
							</li>

							{% if target is defined %}
								{% if target == "pr" %}
									<li> <a href="/blog_post/{{ target }}"> ОПЛАТА И ДОСТАВКА </a></li>
								{% endif %}

								{% if target == "guarantee" %}
									<li> <a href="/blog_post/{{ target }}"> ГАРАНТИЯ </a></li>
								{% endif %}
							{% endif %} 
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block stylesheets %}
	<!-- Include external CSS. -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

	<!-- Include Editor style. -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_style.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
		<div id="content">

			<div class="container" style="min-height:500px; overflow: scroll;">
				<div id="edit_blog_post" class="by_admin">

					<form action="/edit_blog_post/{{ target }}/{{blog_post.id}}"  method="post">
						<!-- content -->
						<div class="row">
							<div class="col-sm-12 ">

								<!-- Create a tag that we will use as the editable area. -->
								<!-- You can use a div tag as well. -->
								<textarea id="blog_post_content" name="blog_post_content">
									{{ blog_post.content|raw }}
								</textarea>

							</div>
						</div>

						<br>
						<br>
						<br>

						<!-- Button -->
						<div class="row">
							<div class="col-sm-12 text-right">
								<button type="submit" class="btn btn-template-main">
									<i class="fa fa-save"></i>
									Сохранить
								</button>
							</div>
						</div>

						<br>
						<br>
						<br>


					</form> <!-- ./ END FORM -->

				</div>
				<!-- /#edit_blog_post -->


				<div id="blog_post_content" class="by_user">
					{{ blog_post.content|raw }}
				</div>



			</div>
			<!-- /.container -->

		</div>
		<!-- /#content -->
{% endblock %}

{% block javascripts %}
	<!-- Include external JS libs. -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

	<!-- Include Editor JS files. -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/js/froala_editor.pkgd.min.js"></script>

	<!-- Initialize the editor. -->
	<script>
		$(function() {
			$('#blog_post_content').froalaEditor({
				language: 'asd'
			})
		});
	</script>


	<script>
	$('#edit_contact_info').click(function(event) {
		if ($('.by_user').is(":visible") ) {
			$('.by_user').fadeOut();
			$('.by_admin').fadeIn();

		}else {
			$('.by_user').fadeIn();
			$('.by_admin').fadeOut();
		}

	});
	</script>

{% endblock %}
