{% extends "baseCP.html.twig"  %}

{% block title %} Статус магазина {% endblock %}

{% block stylesheets %}
<style>
	.activeState{
		background: #0080001f !important;
	}
</style>
{% endblock %}

{% block body %}
<div class="right_col" role="main" style="min-height: 898px;">

	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">

				<div class="x_title">
					<h2> Статус магазина </h2>

					<ul class="nav navbar-right panel_toolbox">
						<li>
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</li>
					</ul>

					<div class="clearfix"></div>
				</div> <!-- ./x_title -->

				<div class="x_content">
					<div class="dashboard-widget-content">
						<!-- .........................................
							new Wex Wallet
						........................................... -->
						<div class="x_content">
							<form action="/newState" method="post">


							<button type="button" 
								 data-toggle="modal" data-target=".newState">

								<i class="fa fa-plus"></i>
							</button>

							<div class="modal fade newState" tabindex="-1" role="dialog"
								aria-hidden="true" style="display: none;">

								<div class="modal-dialog modal-lg">
									<div class="modal-content">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
											</button>
										</div>

										<div class="modal-body">

											<div class="row">
												<div class="col-md-6 col-md-offset-3 col-xs-12">
													<select name="sate_name" id="sate_name" required class="col-md-12 col-xs-12 ">
														<option value="">Выберите статус</option>
														<option value="shop_audit">Ревизия</option>
														<option value="shop_active">Активный</option>
													</select>

													<br>
													<br>

													<textarea id="sate_content" name="sate_content" class="col-md-12 col-xs-12">
													</textarea>
												</div>
											</div>

										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
											<button type="submit" class="btn btn-default" >Добавить</button>
										</div>

									</div><!-- ./modal-content -->
								</div><!-- ./modal-dialog -->
							</div><!-- ./modal -->

							</form>
						</div> <!-- ./x_content -->


						<!-- Wex LIST -->
						<table id="shop_state_list_table" class="mdl-data-table display responsive nowrap"> 
							<thead>
								<tr>
									<th>ID</th>
									<!-- state name -->
									<th>Наим.</th>
									<!-- content-->
									<th>Контент</th>
									<!-- Main-->
									<th>статус</th>
									<!-- Control -->
									<th>Управление</th>
								</tr>
							</thead>

							<tbody>
									{% for state in shopstates %}
										<!-- EXAMPLE OF ROW OF TABLE -->
										{% if state.status == 1 %}
											<tr id="row_{{state.id}}" class="activeState">
										{% else %}
											<tr id="row_{{state.id}}">
										{% endif %}

											<!-- ID wallet -->
											<td>
												<input type="number" value="{{ state.id }}" name="sid" style="display:none;">
												<p>{{ state.id }}</p>
											</td>

											<!-- state name -->
											<td>
												<input type="text" value="{{ state.state }}" name="sName" style="display:none;">
												{% if state.state == 'shop_audit' %}
													<p> Ревизия </p>
												{% elseif  state.state == 'shop_active'%}
													<p> Сайт активный </p>
												{% endif %}
											</td>

											<!-- content -->
											<td>

												<!-- Info -->
												<button type="button" class="btn  btn-default" 
													 data-toggle="modal" data-target=".state_info{{state.id}}">

													<i class="fa fa-info"></i>
												</button>

												<div class="modal fade state_info{{state.id}}" tabindex="-1" role="dialog"
													aria-hidden="true" style="display: none;">

													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">

																<div class="row">
																	<div class="col-md-6 col-md-offset-3 col-xs-12">
																		<textarea name="sContent" id="sContent" class="col-md-12 col-xs-12"
																		rows="7" cols="50" >
																			{{state.content }} 
																		</textarea>
																	</div>
																</div>

															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->
											</td>

											<!-- Status -->
											<td>
												{% if state.status == 1 %}
													<input type="radio" name="sStatus" value="checked" checked>
												{% else %}
													<input type="radio" name="sStatus" value="checked">
												{% endif %}
											</td>

											<!-- Control -->
											{% if is_granted('ROLE_SUPER_ADMIN') %}
											<td>
												<!-- change -->
												<button type="submit" class="btn btn-default  col-md-3" data-toggle="tooltip" data-placement="top" 
													data-original-title="изменить" style="margin-right: 20px;"
													onclick="submitForm('#row_{{state.id}}', 'updateState')"> 

													<i class="fa fa-edit"></i>
												</button>


												<!-- trash -->
												<button type="button" class="btn  btn-default col-md-3" data-toggle="modal"
													data-target=".bs{{ state.id }}">

													<i class="fa fa-trash"></i>
												</button>


												<div class="modal fade bs{{ state.id }}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																<h4 class="modal-title" id="myModalLabel">Вы уверены что хотите удалить wex кошелек, c Nr:
																 {{ state.id }} </h4>
															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">
																	закрыть
																</button>

																	<a href="/removeState/{{ state.id }}" class="btn btn-primary wallet_rmv">
																		<i class="fa fa-trashs"></i> удалить
																	</a>
																</form>
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->

											</td>
											{% endif %}

										</tr>
										<!-- EXAMPLE OF ROW OF TABLE -->
									{% endfor %}

							</tbody>
						</table>
						<!-- END QIWI LIST -->

					</div> <!-- ./dashboard-widget-conten -->
				</div> <!-- ./x_content -->
			</div> <!-- ./x_panel -->
		</div>

	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>


/*-------------------------------------------------------------
			WORK WITH DATATABLE
--------------------------------------------------------------*/
$(document).ready(function() {
	var table = $('#shop_state_list_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: [
			{
				// targets: [ 0, 1, 2 ],
				className: 'mdl-data-table__cell--non-numeric'
			}
		],
		responsive: true,
		columnDefs: [
			{ responsivePriority: 0, targets: 1 },
		],
		autoFill: true,

	});

} );
// END Document ready

</script>

{% endblock %}