{% extends "base.html.twig" %}

{% block title %}КАТАЛОГ{% endblock %}
{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<p class="text-muted lead hidden-xs">Если у вас есть какие-либо вопросы, пожалуйста <a href="/contact"> свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/">Главная</a>
							</li>
							<li>
								<a href="/shop_category_full">
									КАТАЛОГ
								</a>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block body %}

<div id="content">
	<div class="container" style="min-height: 500px;"> 

		{% if products is not empty %}
		<p class="text-muted lead text-center hidden-xs">
			{% if app.session.get('catRell') is defined and app.session.get('catRell') is not empty %}
				{% for item in app.session.get('catRell') %}

					{% if item['cat_id'] == app.request.get('catId') %}
						{{ item['name'] }}

						{% if app.request.get('subcatId') %}
							>
							{% for item_sub in item['subcategory'] %}

								{% if item_sub['id'] == app.request.get('subcatId') %}
									{{ item_sub['name'] }}
								{% endif %}

							{% endfor %}

						{% endif %}
					{% endif %}

				{% endfor %}
			{% endif %}
		</p>

		<p class="text-muted lead text-center hidden-xs">В данном отделе мы предлагаем широкий выбор лучших продуктов, которые мы нашли и тщательно отобрали. </p>
		<div class="row products">

			{% for product in products %}
				{% include '@App/components/product_model.html.twig' %}
			{% endfor %}
		</div>
		<!-- /.products -->
		{% else %}
			<p class="text-muted lead text-center red">По данному запросу не найдено продуктов </p>
			<p class="text-muted lead text-center"><a href="/shop_category"> Посмотреть все продукты </a> </p>
		{% endif %}

		<div class="row products">
			<div class="col-md-12" id="customer-orders">

			</div><!-- /.col-md-12 -->
		</div><!-- /.product -->

	</div>
	<!-- /.container -->
</div>
<!-- /#content -->
{% endblock %}
