{% extends "baseCP.html.twig" %}

{% block title %}cPanelBundle:admin:admin{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

<!-- page content -->
<div class="right_col" role="main">
	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Список всех производителей</h2>

					<div class="clearfix"></div>
				</div>

				<!-- Filters -->
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<a href="/Newmanufacturer" type="button" class="btn btn-round btn-default" width="100%">
						<i class="fa fa-plus"></i>
						создать
					</a>
				{% endif %}
				<!-- ./Filters -->
				<div class="divider"></div>

				<div class="x_content">

					<table id="manufacturers_table" class="mdl-data-table display responsive nowrap">
						<thead>
							<tr>
								<th>ИД</th>
								<th>Наименование</th>
								<th>Дата</th>

								{% if is_granted('ROLE_SUPER_ADMIN') %}
									<th>Управлене</th>
								{% endif %}
							</tr>
						</thead>

						<tbody>
							{% for manufacturer in man_list %}
								<!-- EXAMPLE OF ROW OF TABLE -->
								<tr id="row_{{loop.index}}">
										<!-- ИД -->
										<td>
											{{manufacturer.id}}
											<input value="{{ manufacturer.id }}" name="manufacturer_id" style="display:none">
										</td>

										<!-- Наименование -->
										<td>
											{% if is_granted('ROLE_SUPER_ADMIN') %}
												<input type="text" name="manufacturer_name" value="{{ manufacturer.name }}"  class="form-control"data-toggle="tooltip" data-placement="top" data-original-title="изменить наименование">
											{% else %}
												{{ manufacturer.name }}
											{% endif %}
										</td>

										<!-- Дата -->
										<td>{{manufacturer.date|date('d-M-Y| H-i')}}</td>

										{% if is_granted('ROLE_SUPER_ADMIN') %}
										<td>
											<div class="x_content">
												<button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top"
												 data-original-title="изменить" onclick="submitForm('#row_{{loop.index}}', 'manufacturerUpdate')">
													<i class="fa fa-edit"></i>
												</button>

												<button type="button" class="btn btn-default " data-toggle="modal" data-target=".bs{{manufacturer.id}}"> <i class="fa fa-trash"></i></button>

												<div class="modal fade bs{{manufacturer.id}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																<footer>
																	<p>Вы уверены что хотите удалить производителя:
																		<cite title="Source Title">
																			{{manufacturer.name}}
																		</cite>
																	</p>
																</footer>
															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
																<a href="/rmvman/{{manufacturer.id}}" class="btn btn-primary"><i class="fa fa-trash"></i> удалить</a>
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->
											</div>
										</td>
										{% endif %}
								</tr>
								<!-- EXAMPLE OF ROW OF TABLE -->

							{% endfor %}
						</tbody>
					</table>

				</div><!-- ./x_content -->
			</div><!-- ./x_panel -->
		</div>
	</div><!-- ./row -->
</div><!-- ./right_col -->

<!-- /page content -->
{% endblock %}


{% block javascripts %}
<script>
$(document).ready(function() {
	var table = $('#manufacturers_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: [
			{
				// targets: [ 0, 1, 2 ],
				className: 'mdl-data-table__cell--non-numeric'
			}
		],
		responsive: true,
		columnDefs: [
			{ responsivePriority: 0, targets: 0 },
			{ responsivePriority: 1, targets: 1 },
		],
		autoFill: true,
		"pageLength": 50
	});
});
</script>
{% endblock %}