{% extends "baseCP.html.twig" %}

{% block title %}cPanelBundle{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

	<div class="right_col" role="main" style="min-height: 3543px;">
		<div class="">
			<div class="page-title">
	<!-- 			<div class="title_left">
					<h3>Форма для добавления товара</h3>
				</div>

				<div class="title_right">
					<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search for...">

							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Go!</button>
							</span>
						</div>
					</div>
				</div> -->
			</div><!-- ./page-title -->

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>Форма для добавления производителя</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Settings 1</a>
										</li>
										<li><a href="#">Settings 2</a>
										</li>
									</ul>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>

						<div class="x_content">
							<br>

							<form action="/Newmanufacturer" method="post" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

								<!-- Category name -->
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="manufacturer_name">Наименование производителя <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="text" id="manufacturer_name" name="manufacturer_name" required="required" class="form-control col-md-7 col-xs-12">
									</div>
								</div>

								<br>
								<br>

								<!-- buttons -->
								<div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
										<button class="btn btn-primary" type="button">Отмена</button>
										<button class="btn btn-primary" type="reset">сброс</button>
										<button type="submit" class="btn btn-success">Добавить</button>
									</div>
								</div>

								<!-- divider -->
								<div class="ln_solid"></div>

							</form>
							<!-- FORM  END  -->

						</div><!-- ./x_content -->
					</div><!-- ./x_panel -->
				</div>
			</div><!-- ./row -->

		</div>
	</div><!-- ./right_col -->
{% endblock %}
