{% extends "baseCP.html.twig" %}

{% block title %}Новый продукт{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 3543px;">
	<div class="">

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Форма для добавления товара</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>

					<div class="x_content">
						<br>

						<form action="/Newproduct" method="post" enctype="multipart/form-data" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

							<!-- Product name -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="product_name">Наименование <span class="required red">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="product_name" name="product_name" required red="required red" class="form-control col-md-7 col-xs-12">
								</div>
							</div>

							{#
							<!-- upload images -->
							<div class="form-group">
								<br>
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="upload_images"> Фото продукта <span class="required red"><!-- * --></span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="btn-group">
										<a class="btn" id="upload_images"><i class="fa fa-picture-o"></i></a>
										<input type="file" name="files[]" multiple data-role="magic-overlay">
									</div>
								</div>
								<br>
								<br>
							</div><!-- ./form-group -->
							#}

							<!-- alternative images -->
							<div class="form-group">
								<div class="control-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Ссылка на фото</label>

									<div class="col-md-9 col-sm-9 col-xs-12">
										<input type="text" value="" name="alter_img" data-role="tagsinput" >
									</div>
								</div>
							</div>

							<!-- Category -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="category">Категория <span class="required red"><!-- * --></span>
								</label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="form-control" name="category" id="category">
										<option value="0">Не выбрано</option>
										{% for cat in cat_list %}
											<option value="{{ cat.id }}">{{ cat.name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<!-- Subcategory -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="subcategory">Подкатегория <span class="required red"><!-- * --></span>
								</label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="form-control" name="subcategory" id="subcategory">
										<option value="0">Не выбрано</option>
										{% for subcat in subcat_list %}
											<option value="{{ subcat.id }}">{{ subcat.name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<!-- Brands -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="manufacturer">Производители <span class="required red"><!-- * --></span>
								</label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="form-control" name="manufacturer" id="manufacturer">
										<option value="">Не выбрано</option>
										{% for man in man_list %}
											<option value="{{ man.id }}">{{ man.name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<!-- count & dosage -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="count_dosage"> Кол-во таб и доз-ка <span class="required red"><!-- * --></span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="count_dosage" name="count_dosage" class="form-control col-md-7 col-xs-12" red="required red">
								</div>
							</div>

							<!-- active_substance -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="active_substance"> Активное вещество <span class="required red"><!-- * --></span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="active_substance" name="active_substance" class="form-control col-md-7 col-xs-12">
								</div>
							</div>

							<!-- status -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="status"> Статус продукта <span class="required red"></span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="form-control" name="status" id="status">
										<option value="">Не выбрано</option>
										<option value="sale">Распродажа</option>
									</select>
								</div>
							</div>

							<!-- in_stock -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="in_stock">
									В наличии продуктов<span class="required red">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="number" id="product_quantity" name="product_quantity" required red="required red" class="form-control col-md-7 col-xs-12">
								</div>
							</div>

							<!-- Price -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Цена <span class="required red red">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="price" name="price" required class="form-control col-md-7 col-xs-12">
								</div>
								<br>
								<br>
								<br>
							</div>

							<!-- compose -->
							<!-- product info -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
									Описание продукта <span class="required red red">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<button id="compose" class="btn btn-sm btn-success btn-block" type="button">
										Добавить описание
									</button>
								</div>
							</div>

							<div class="col-md-6 col-xs-12">
								{% include '@CP/components/wysiwyg_form.html.twig' %}
								<textarea type="text" id="wysiwyg_content" name="wysiwyg_content" class="form-control" style="display:none;"></textarea>
							</div>
							<!-- /compose -->

							<br>
							<br>

							<!-- buttons -->
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button class="btn btn-primary" type="reset">сброс</button>
									<button type="submit" class="btn btn-success"> Добавить</button>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-12 ">
									<a href="/Productslist" class="btn btn-default">Товары</a>
								</div>
							</div>

							<!-- divider -->
							<div class="ln_solid"></div>

						</form>
						<!-- FORM  END  -->

					</div><!-- ./x_content -->
				</div><!-- ./x_panel -->
			</div>
		</div><!-- ./row -->
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}