{% extends "baseCP.html.twig" %}

{% block title %} Список товаров {% endblock %}

{% block stylesheets %}
<style>
.course_tbody .old_price{
	display: none;
}
</style>
{% endblock %}

{% block body %}
<!-- page content -->
<div class="right_col" role="main">

		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">

					<div class="x_title">
						<h2>Список товаров</h2>

						<ul class="nav navbar-right panel_toolbox">

							<!-- Фильтры -->
							<li>
								<button type="button" class="btn btn-dark mr-15" onclick="$('#filters').toggle('slow');">
									Фильтры
								</button>
							</li>

							<!-- Cоздать продукт -->
							{% if is_granted('ROLE_SUPER_ADMIN') %}
							<!-- Фильтры -->
							<li>
								<!-- Cоздать курс -->
								{% include '@CP/components/delivery_cost.html.twig' %}
							</li>

							<li>
								<a href="/Newproduct" type="button" class="btn btn-round btn-default mr-15"  data-toggle="tooltip" data-placement="top"
									data-original-title="создать товар">

									<i class="fa fa-cube"></i> Cоздать продукт
								</a>
							</li>

							<li>
								<!-- Cоздать курс -->
								{% include '@CP/components/new_course.html.twig' %}
							</li>
							{% endif %}

						</ul>

						<div class="clearfix"></div>
					</div>


					<div id="filters" style="display:none;">
						<!-- Категория фильтр-->
						<div class="col-md-3">
							<label for="category_filter" class="col-xs-12">Выберите категорию</label>
							<select id="category_filter" class="form-control col-xs-12" onchange="javascript:location.href = this.value;"> <!-- then input value will be changed form will be submitted -->
								<option></option>
								{% for cat in cat_list %}
									{% if app.request.get('sect') == "category" and app.request.get('id') == cat.id %}
										<option selected value="/sortProdBy/category/{{cat.id}}">{{cat.name}}</option>
									{% else %}
										<option value="/sortProdBy/category/{{cat.id}}">{{cat.name}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>

						<!-- Подкатегория фильтр-->
						<div class="col-md-3">
							<label for="subcategory_filter " class="col-xs-12">Выберите подкатегорию</label>
							<select id="subcategory_filter" class="form-control col-xs-12" onchange="javascript:location.href = this.value;">
								<option></option>
								{% for subcat in subcat_list %}
									{% if app.request.get('sect') == "subcategory" and app.request.get('id') == subcat.id %}
										<option selected value="/sortProdBy/subcategory/{{subcat.id}}">{{subcat.name}}</option>
									{% else %}
										<option value="/sortProdBy/subcategory/{{subcat.id}}">{{subcat.name}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>

						<!-- Производитель фильтр-->
						<div class="col-md-3">
							<label for="manufacturers_filter" class="col-xs-12">Выберите производителя</label>
							<select id="manufacturers_filter" class="form-control col-xs-12" onchange="javascript:location.href = this.value;">
								<option></option>
								{% for manufacturer in manufacturer_list %}
									{% if app.request.get('sect') == "manufacturer" and app.request.get('id') == manufacturer.id %}
										<option selected value="/sortProdBy/manufacturer/{{manufacturer.id}}">{{manufacturer.name}}</option>
									{% else %}
										<option value="/sortProdBy/manufacturer/{{manufacturer.id}}">{{manufacturer.name}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>

						<div class="col-md-2 col-xs-12">
							<label for="reset" class="col-xs-12">Сбр. фильтр по категориям</label>
							<a href="/Productslist" class="btn btn-default">
								сбросить
							</a>
						</div>

						<div class="col-md-12">
							<hr>
							<button id="sale_filter" class="btn btn-default sale_filter col-md-3 col-xs-12">
								Товары на распродаже
							</button>

							<button id="reset" class="btn btn-default sale_filter col-md-1 col-xs-12">
								все
							</button>
						</div>

						{#
						<div class="col-md-12">
							<form action="/massive_discount" method="post">
								<!-- category -->
								<select id="cat_discount" name="cat_discount" class="form-control col-md-4 col-xs-12">
									<option></option>
									{% for cat in cat_list %}
										{% if app.request.get('sect') == "category" and app.request.get('id') == cat.id %}
											<option selected value="/sortProdBy/category/{{cat.id}}">{{cat.name}}</option>
										{% else %}
											<option value="/sortProdBy/category/{{cat.id}}">{{cat.name}}</option>
										{% endif %}
									{% endfor %}
								</select>

							</form>
						</div>
						#}
					</div>
					<!-- ./Filters -->

					<!-- <div class="divider"></div> -->

					<div class="x_content">
						<table id="products_table" class="mdl-data-table display responsive nowrap"> 
							<thead>
								<tr>
									<!-- id -->
									<th>ИД</th>
									<!-- name -->
									<th>Наименование</th>
									<!-- count & dosagecategory -->
									<th>Кол-во таб <br> и дозю</th>
									<!-- price & old price -->
									<th>
										Цена
										<i class="fa fa-rub" aria-hidden="true"></i>
									</th>
									<!-- discount -->
									<th>
										Скидка %
									</th>

									<!-- wrapper -->
									<th> Инфо</th>

									<!-- Распр. -->
									<th> Распр. </th>

									<!-- Кфештп -->
									<th> Рейт. </th>


									<!-- category -->
									<th>Категория</th>
									<!-- subcategory -->
									<th>Подкатегория</th>
									<!-- manufacturer -->
									<th>Производитель</th>

									<!-- date -->
									<th>Дата</th>

									{% if is_granted('ROLE_SUPER_ADMIN') %}
									<th>Управление</th>
									{% endif %}
								</tr>
							</thead>

							<tbody>
								{% for prod in prod_list %}

									{% if prod.status  == 'sale' %}
									<tr id="row_{{loop.index}}" class="prod sale">
									{% else %}
									<tr id="row_{{loop.index}}" class="prod">
									{% endif %}
											<!-- ИД -->
											<td>
												<p style="display:none;"> {{loop.index}} </p>
												{{prod.id}}
												<input value="{{prod.id}}" name="prod_id" style="display:none" class="prod_id">
											</td>


											<!-- Наименование -->
											<td>
												{% if is_granted('ROLE_SUPER_ADMIN') %}
													<input type="text" name="prod_name" value="{{ prod.name }}" value="{{ prod.name }}" class="form-control prod_name"
													 data-toggle="tooltip" data-placement="top" data-original-title="изменить наименование">
												{% else %}
													{{prod.name}}
												{% endif %}
											</td>


											<!-- Кол-во и доз-->
											<td>
												{% if is_granted('ROLE_SUPER_ADMIN') %}
													<input type="text" name="count_dosage" value="{{prod.count_dosage}}"  class="form-control count_dosage" 
													data-toggle="tooltip" data-placement="top" data-original-title="изменить наименование">
												{% else %}
													{{prod.count_dosage}}
												{% endif %}
											</td>

											<!-- Цена -->
											<td>
												{% if is_granted('ROLE_SUPER_ADMIN') %}
													<input type="number" name="price" class="form-control prod_price test_price"
														placeholder="{{prod.price}}" 
														pprice="{{prod.price}}" 
														onkeyup="updateCoursePrice()"
														onchange="updateCoursePrice()"
														data-toggle="tooltip" data-placement="top" 
														data-original-title="введите новую цену продукта ">
												{% else %}
													{{prod.price}}
												{% endif %}

												{% if prod.oldprice %}
													<br>
													<strike class="old_price">
														{{prod.oldprice}}
													</strike>
												{% endif %}
											</td>

											<!-- Discount -->
											<td>
												{% if is_granted('ROLE_SUPER_ADMIN') %}

	 												{% if prod.discount is not empty %}
														<input type="text" name="discount" placeholder="{{prod.discount['discount']}}">
	 												{% else %}
														<input type="text" name="discount" placeholder="введите процент">
	 												{% endif %}

 												{% else %}
	 												{% if prod.discount is not empty %}
														{{prod.discount['discount']}}
													{% endif %}
												{% endif %}
											</td>

											<!-- more detail -->
											<td>

												<!-- modals -->
												<div class="x_content" >

												<!-- recipient detail -->
												<button type="button" class="btn  btn-default col-md-3" data-toggle="modal"
												 data-target=".prodinfo{{prod.id}}">
													{% if prod.images|length > 0 %}
														<i class="fa fa-info aero"></i>
													{% else %}
														<i class="fa fa-info"></i>
													{% endif %}
												</button>

												<div class="modal fade prodinfo{{prod.id}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<a href="#">
																	<button type="button" class="btn btn-round btn-default external" whref="/pDetail/{{prod.id}}">посмотреть</button>
																</a>

																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																<!-- ..................................
																		Images
																.................................... -->
																<div class="row">
																	<div class="col-md-12 bb">
																		<!-- Upload files from computer -->
																		{#
																		<form action="/addProdImg" method="post" enctype="multipart/form-data">
																			<!-- product id -->
																			<input type="number" name="prodid_img"
																				value="{{prod.id}}" style="display:none;">

																				<!-- set images -->
																			<div class="form-group col-md-12">
																				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="category">
																					Выберите фото <span class="required red"><!-- * --></span>
																				</label>
																				<div class="col-md-6 col-sm-6 col-xs-12">
																					<input type="file" name="prod_files[]" 
																					 multiple data-role="magic-overlay" required>
																				</div>
																			</div>
																			<button type="submit"  class="col-md-12">сохранить фото</button>
																		<!-- submit form -->
																		</form>
																		#}


																		<div class="control-group">
																			<label class="control-label col-md-3 col-sm-3 col-xs-12">Ссылка на фото</label>

																			<div class="col-md-9 col-sm-9 col-xs-12">
																				<input type="text" value="" name="alter_img" data-role="tagsinput" >
																			</div>
																		</div>
																		<br>
																		<br>

																	</div>

																	<br>
																	<br>
																</div>

																<div class="row">
																	<br>
																	{% for image in prod.images %}
																	<div class="col-md-2">
																		<div class="wrap wrap{{prod.id}}{{loop.index}} agwrap" >
																			<!-- img_wrap -->
																			<div class="image view view-first">
																				<img src="{{ asset(image) }}" alt="{{ asset(image) }}"
																				 width="100">
																				<div class="mask">

																					<div class="tools tools-bottom">
																						<button type="button" class="rmv_btn_img" 
																							onclick="removeProdImg({{prod.id}} , '{{image}}', {{prod.id}}{{loop.index}})">
																							<i class="fa fa-times"></i>
																						</button>
																					</div>

																				</div>
																			</div>
																		</div>
																	</div>
																	{% endfor %}
															</div>
															<hr>

															<!-- ..................................
																	Description of product
															.................................... -->
															<div class="row">
																<h4 class="text-center">
																	<strong> Описание продукта </strong>
																</h4>

																<div class="col-md-12">
																	<div class="proddesc">
																		{% include '@CP/components/products_wysiwyg_form.html.twig' %}
																	</div>
																</div>
															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-default"
																 onclick="submitForm('#row_{{loop.index}}', 'prodUpdate')">Сохранить</button>

																<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->

											</td>

											<!-- Sale -->
											<td>
												<div class="form-check form-check-inline">
													{% if prod.status  == 'sale' %}
													<input class="form-check-input" type="checkbox" name="sale"  value="sale" checked>
													{% else %}
													<input class="form-check-input" type="checkbox" name="sale"  value="sale">
													{% endif %}
												</div>
											</td>

											<!-- rating -->
											<td>
												<div class="form-check form-check-inline">
													{% if prod.rating  == 1 %}
													<input class="form-check-input" type="checkbox" name="rating" value="rating" checked>
													{% else %}
													<input class="form-check-input" type="checkbox" name="rating" value="rating">
													{% endif %}
												</div>
											</td>

											<!-- Категория -->
											<td>
												{% if is_granted("ROLE_SUPER_ADMIN") %}
													<div class="col-md-4">
														<select class="form-control" name="category">
															<option></option>
															{% for cat in cat_list %}
																{% if prod.categoryId == cat.id %}
																	<option selected value="{{cat.id}}">{{cat.name}}</option>
																{% else %}
																	<option value="{{cat.id}}">{{cat.name}}</option>
																{% endif %}
															{% endfor %}
														</select>
													</div>
												{% else %}
													{% for cat in cat_list %}
														{% if prod.categoryId == cat.id %}
															{{cat.name}}
														{% endif %}
													{% endfor %}
												{% endif %}
											</td>

											<!-- Подкатегория -->
											<td>
												{% if is_granted("ROLE_SUPER_ADMIN") %}
													<div class="col-md-4">
														<select class="form-control" name="subcategory"> <!-- then input value will be changed form will be submitted -->
																<option></option>
															{% for subcat in subcat_list %}
																{% if prod.subcategoryId == subcat.id %}
																	<option selected value="{{subcat.id}}"> {{subcat.name}}
																	</option>
																{% else %}
																	<option value="{{subcat.id}}"> {{subcat.name}}</option>
																{% endif %}
															{% endfor %}
														</select>
													</div>
												{% else %}
													{% for subcat in subcat_list %}
														{% if prod.subcategoryId == subcat.id %}
															{{subcat.name}}
														{% endif %}
													{% endfor %}
												{% endif %}
											</td>

											<!-- Производитель -->
											<td>
												{% if is_granted("ROLE_SUPER_ADMIN") %}
													<div class="col-md-4">
														<select class="form-control" name="manufacturer"> <!-- then input value will be changed form will be submitted -->
															<option></option>
															{% for manufacturer in manufacturer_list %}
																{% if prod.manufacturerid == manufacturer.id %}
																	<option selected value="{{manufacturer.id}}">{{manufacturer.name}}</option>
																{% else %}
																	<option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
																{% endif %}
															{% endfor %}
														</select>
													</div>
												{% else %}
													{% for manufacturer in manufacturer_list %}
														{% if prod.manufacturerid == manufacturer.id %}
															{{manufacturer.name}}
														{% endif %}
													{% endfor %}
												{% endif %}
											</td>


											<!-- Дата -->
											<td>{{prod.date|date('d-m-y H:i')}}</td>


											<!-- Управление -->
											{% if is_granted('ROLE_SUPER_ADMIN') %}
											<td>
												<div class="x_content">

												<!-- modals -->
												<!-- change -->
												<button type="button" class="btn btn-default " data-toggle="tooltip" data-placement="top"
												 data-original-title="изменить" onclick="submitForm('#row_{{loop.index}}', 'prodUpdate')"> 
													<i class="fa fa-edit"></i>
												</button>

												<!-- trash -->
												<button type="button" class="btn  btn-default " data-toggle="modal" data-target=".bs{{prod.id}}"> <i class="fa fa-trash"></i></button>

												<div class="modal fade bs{{prod.id}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																<h4 class="modal-title" id="myModalLabel">Вы уверены что хотите удалить продукт: {{prod.name}} {{prod.count_dosage}}</h4>
															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
																<a  href="/rmprod/{{prod.id}}" class="btn btn-primary">
																	<i class="fa fa-trash"></i> удалить
																</a>
															
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->

												</div>
												
											</td><!-- ./управление -->
											{% endif %}

									</tr>
								{% endfor %}
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
{% endblock %}

{% block javascripts %}

	<!--  .........................................................................
						Get main settings
	............................................................................-->
	<script>
	function getSett(columnDefs = null){
		var custom_settings = {
			columnDefs: [
				{className: 'mdl-data-table__cell--non-numeric' },
				{ responsivePriority: 0, targets: 0 },
				{ responsivePriority: 1, targets: 12 },
				{ responsivePriority: 2, targets: 1 },
				{ responsivePriority: 3, targets: 7 },
				{ responsivePriority: 4, targets: 3 },
				{ responsivePriority: 5, targets: 4 },
				{ responsivePriority: 6, targets: 5 },
				{ responsivePriority: 7, targets: 6},
				{ responsivePriority: 8, targets: 2 },
				{ responsivePriority: 9, targets: 8 },
				{ responsivePriority: 10, targets: 9 },
				{ responsivePriority: 11, targets: 10 },
				{ responsivePriority: 12, targets: 11 }
			]
		};

		if (columnDefs == 'not_auth') {
			custom_settings.columnDefs = [
				{className: 'mdl-data-table__cell--non-numeric' },
				{ responsivePriority: 0, targets: 0 },
				{ responsivePriority: 1, targets: 1 },
				{ responsivePriority: 2, targets: 7 },
				{ responsivePriority: 3, targets: 3 },
				{ responsivePriority: 4, targets: 4 },
				{ responsivePriority: 5, targets: 5 },
				{ responsivePriority: 6, targets: 8 },
				{ responsivePriority: 7, targets: 9},
				{ responsivePriority: 8, targets: 10 },
				{ responsivePriority: 9, targets: 11 },
				{ responsivePriority: 10, targets: 6 },
				{ responsivePriority: 11, targets: 2 }
			]
		}

		return custom_settings;
	}
	</script>

	<!--  .........................................................................
		Custom functionality for check if customer is authorized
	............................................................................-->
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<script>
			csettings = getSett();
	</script>
	{% else %}
	<script>
			csettings = getSett('not_auth');
	</script>
	{% endif %}

<script>
	/*--------------------------------------------------------------------------
				Work with datatable
	--------------------------------------------------------------------------*/
	var columnDefs = csettings.columnDefs;

	var table = $('#products_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		responsive: true,
		columnDefs: columnDefs,
		autoFill: true,
		buttons: [
			'print'
		],
		"pageLength": 25
	});

	 // Select multiple rows
	$('#products_table tbody').on( 'click', 'tr', function () {
		$(this).toggleClass('selected');
	} );

	//  Product description
	/* When prod description is changed set value of wysiwyg editor to textarea*/
	function prodDescUpdate(pid){
		editor = $('#editor-' + pid).html();
		textarea = $('#proddesc-' + pid).html(editor);
	}

	// Transform string on html content on editor wysiwyg
	(function(){
		products =  {{ prod_list|json_encode|raw }}

		for(var i in products){
			editor = $('#editor-' + products[i].id);

			editor_val = $.parseHTML(editor.text());
			editor.html( editor_val );
		}
	})();

	/*-----------------------------------------------------------------------------------------
							New course
	------------------------------------------------------------------------------------------*/
	// add selected rows on table new_course_table
	function selectProductsOnCourse() {
		var rows = table.rows('.selected').data()

		for(var i = 0; i < rows.length; i++){
			prod_id = '<th>' + rows[i][0] + '</th>';
			prod_name = '<th>' + rows[i][1] + '</th>';
			count_dosage = '<th>' + rows[i][2] + '</th>';
			price = '<th>' + rows[i][3] + '</th>';

			tr = '<tr>'+
				// product id
				prod_id +
				// product name
				prod_name +
				// product dosage
				count_dosage +
				// product count
				'<th><input type="number" name="count" class="count" onkeyup="updateCoursePrice()" onchange="updateCoursePrice()" min="1" value="1" placeholder="введите количество"></th>' +
				// product price
				price +
			+'</tr>';

			$('.new_course_tbody').append(tr);

			updateCoursePrice();
		}

	}

	// when user hide model with new_course_table need to empty value of this table for prevent errors
	$('#newCourse').on('hidden.bs.modal', function () {
		$('.new_course_tbody').html('');
	})

	$('.new_course_btn').click(function(){
		final_price = updateCoursePrice();
		if ( !(final_price > 0 ) ) {
			alert('Вы не выбрали продукты для добавления в курс')
		}
	});


	/*-----------------------------------------------------------------
		CUSTOM AG METHOD FRO PREPARE PRODUCTS OBJECT FOR COURSE
	-----------------------------------------------------------------*/
	function colletObjectCourse(){
		let table  = $('#new_course_table > .new_course_tbody > tr');

		result = [];
		for (var i = 0; i < table.length; i++) {
			if ($(table).find('.prod_id')[i]) {
				prodid = $(table).find('.prod_id')[i].value;
			}

			if ($(table).find('.prod_name')[i]) {
				prod_name = $(table).find('.prod_name')[i].value;
			}

			if ( $(table).find('.count_dosage')[i] ) {
				count_dosage = $(table).find('.count_dosage')[i].value;
			}

			if ($(table).find('.prod_price')[i]) {
				field_price = $(table).find('.prod_price')[i];
				price = $(field_price).attr('pprice');

				input_price_value = $(field_price);

				if (input_price_value.val()) {
					price = input_price_value.val();
				}
			}

			if ($(table).find('.count')[i]) {
				count = $(table).find('.count')[i].value;
			}

			item = {
				'prodid' : prodid,
				'prod_name' : prod_name,
				'count_dosage' : count_dosage,
				'count' : count,
				'price' : price
			};

			result.push(item)
		}

		return result;
	}

	/*--------------------------------------------------------------------
			Real time update final price of course
	 -------------------------------------------------------------------*/
	function updateCoursePrice(){
		obj = colletObjectCourse();

		total = 0;
		for(var i in obj){
			product_count = parseInt(obj[i].count)
			product_price = parseInt(obj[i].price)

			total += product_count * product_price;
		}

		$('#final_amount').html(total);

		return total;
	}

	function ntf(type, message){
		new Noty({
			text: message,
			type: type,
			layout: 'topRight',
			timeout: 3500
		}).show()
	}
 
	function newCourse(){
		course_name = $('#curs_name').val()
		content = colletObjectCourse();
		total = updateCoursePrice();
		best = $('#best').is(':checked');

		if (best) {
			best = 1
		}else {
			best = 0
		}

		if ( course_name.length < 1 ) {
			// notification part
			ntf('error', 'Заполните поле "Наименование"')
			return null;
		}

		if ( content.length < 1 ) {
			// notification part
			ntf('error', 'Выберите продукты для курса')
			return null;
		}

		$('.create_course_btn').fadeOut();

		$.ajax({
			url:'/newcourse',
			type: "POST",
			dataType: "json",
			data: {
				"name": course_name,
				"price": total,
				"content": content,
				"best": best
			},
			async: true,
			success: function (data)
			{
				// notification part
				ntf(data.type, data.output)

				$('.create_course_btn').fadeIn();

				$('.new_course_tbody').html('');
				$('#curs_name').val('')
				$('#final_amount').html('');

			}
		});
		return false;
	}

	/*---------------------------------------------------------------
			Remove product image
	--------------------------------------------------------------*/
	function removeProdImg(prod_id, img_href, index){
		$('.rmv_btn_img').fadeOut();
		wrap = $('.wrap' + index);

		if (prod_id && img_href) {
			$.ajax({
				url:'/rmvProdImg',
				type: "POST",
				dataType: "json",
				data: {
					"prod_id": prod_id,
					"img_href": img_href,
				},
				async: true,
				success: function (data)
				{
					// notification part
					ntf(data.type, data.output)
					$('.rmv_btn_img').fadeIn();
					wrap.fadeOut();

				}
			});
			return false;
		}
	}

	function tainput(input_val){
		$("input").tagsinput('items')
	}

	// filter by prod which is on "sale"
	$('.sale_filter').click(function(event) {
		$('.prod').fadeOut();

		$('.sale').fadeIn();
	});

	// reset filters
	$('#reset').click(function(event) {
		$('.prod').fadeIn();
	});



</script>
{% endblock %}