{% extends "baseCP.html.twig" %}

{% block title %}Список подкатегорий{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<!-- page content -->
<div class="right_col" role="main">

		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">

					<form >
						<div class="x_title">
							<h2>Список </h2>

							<div class="clearfix"></div>
						</div>

						{% if is_granted('ROLE_SUPER_ADMIN') %}
							<div class="col-md-1" style="border-right: 1px solid #ddd;">
								<a href="/Newsubcategory" type="button" class="btn btn-round btn-default" width="100%"  data-toggle="tooltip" data-placement="top" data-original-title="создать подкатегорию">
									<i class="fa fa-plus"></i> создать
								</a>
							</div>
						{% endif %}

						<div class="col-md-4">

							<select class="form-control" onchange="javascript:location.href = this.value;"> <!-- then input value will be changed form will be submitted -->

										<option value="/Subcategorylist">Не выбранно</option>
								{% for cat in cat_list %}
									{% if getcatid == cat.id %}
										<option selected value="/sortsubcat/{{cat.id}}" >{{cat.name}}</option>
									{% else %}
										<option value="/sortsubcat/{{cat.id}}" >{{cat.name}}</option>
									{% endif %}
								{% endfor %}

							</select>
						</div>
					</form>

					<!-- ./Filters -->
					<br>
					<br>
					<div class="divider"></div>

					<div class="x_content">

						<table id="subcategory_table" class="mdl-data-table display responsive nowrap">
							<thead>
								<tr>
									<th>ИД</th>
									<th>Наименование</th>
									<th>Категория</th>
									<th>Дата</th>
									{% if is_granted('ROLE_SUPER_ADMIN') %}
									<th>Управление</th>
									{% endif %}
								</tr>
							</thead>

							<tbody>
								{% for subcat in subcat_list %}
									<tr id="row_{{loop.index}}">
										<!-- ИД -->
										<td> 
											{{ subcat[0].id }}
											<input value="{{ subcat[0].id }}" name="subcatid" style="display:none">
										</td>

										<!-- Наименование -->
										<td>
											<input type="text" name="subcat_name" value="{{ subcat[0].name }}"  class="form-control"data-toggle="tooltip" data-placement="top" data-original-title="изменить наименование">
										</td>

										<!-- Наименование категории-->
										<td>
											{#
											#}
											<select class="form-control" name="parint_cat">
														<option value="0">Не выбранно</option>
												{% for cat in cat_list %}
													{% if subcat[0].categoryid == cat.id %}
														<option selected value="{{cat.id}}">{{cat.name}}</option>
													{% else %}
														<option value="{{cat.id}}">{{cat.name}}</option>
													{% endif %}
												{% endfor %}
											</select>
										</td>

										<!-- Дата -->
										<td>{{ subcat[0].date|date('d-M-Y| H-i') }}</td>


										{% if is_granted('ROLE_SUPER_ADMIN') %}
										<!-- Управление -->
										<td>
											<div class="x_content">

												<!-- modals -->
												<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" 
												data-original-title="изменить"  onclick="submitForm('#row_{{loop.index}}', 'subcatupdate')">
													<i class="fa fa-edit"></i>
												</button>

												<button type="button" class="btn btn-default"  data-toggle="modal" data-target=".bs{{subcat[0].id}}">
													<i class="fa fa-trash"></i>
												</button>

												<div class="modal fade bs{{subcat[0].id}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal">
																	<span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																<h4 class="modal-title" id="myModalLabel">
																	Вы уверены что хотите удалить подкатегория: {{ subcat[0].name }}
																</h4>
															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>

																<a  href="/rmsubcat/{{subcat[0].id}}" class="btn btn-primary">
																	<i class="fa fa-trash"></i> удалить
																</a>
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->

											</div><!-- /.x_content -->
										</td>
										{% endif %}

									</tr>
								{% endfor %}
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function() {
	var table = $('#subcategory_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: [
			{
				// targets: [ 0, 1, 2 ],
				className: 'mdl-data-table__cell--non-numeric'
			}
		],
		responsive: true,
		columnDefs: [
			{ responsivePriority: 0, targets: 0 },
			{ responsivePriority: 0, targets: 1 },
		],
		autoFill: true,
		"pageLength": 50
	});
} );

</script>
{% endblock %}