<script>
	/*        IS NOT IN STOCK
		* when product is not in stock display notification
		* Example not in stock  button : <button class="not_instock"> Not in stock </button>
	 --------------------------------------------------------*/
	$(document).on('click', '.not_instock', function(){
		new Noty({
			text: "Продукта нет в наличии.",
			type: 'warning',
			layout: 'topRight',
			timeout: 3500
		}).show()
	});
/*-----------------------------------------------------------------------------------------------------------
									BASKET
-------------------------------------------------------------------------------------------------------------*/
	/*        ADD ON BASKET
		* Example add button : <button pid="2" class="toBasket"> В корзину </button>
	 --------------------------------------------------------*/
	$(document).on('click', 'button.toBasket', function(){
		// get product id 

		if ($(this).attr('pid')) {
			pid = $(this).attr('pid');
		}else {
			pid = null;
		}

		if ($(this).attr('courseid')) {
			courseid = $(this).attr('courseid');
		} else {
			courseid = null;
		}

		if ($(this).attr('pcount')) {
			pcount = $(this).attr('pcount');
		}else {
			pcount = 1;
		}

		button_add = $(this);

		button_add.removeClass('toBasket');

		setTimeout(function(){
			button_add.addClass('dn');
		}, 2500);

		$.ajax({
			url:'{{ (path('toBasket')) }}',
			type: "POST",
			dataType: "json",
			data: {
				"pid": pid,
				"courseid": courseid,
				"count": pcount
			},
			async: true,
			success: function (data)
			{
				// animate word "basket" on navbar when make any manipulation with basket table db
				$('a#basket').addClass("pulse animated");

				// button add to basket effects
				// setTimeout(function(){
				// 	$('#basket').removeClass("pulse animated");
				// }, 1500);

				$('.cart_wrap').removeClass("dn");

				if (data.type == "error") {
					button_add.addClass('toBasket');
				}

				// after add to basket fade out button
				// button_add.addClass('dn');
				setTimeout(function(){
					$('.cbtn'+pid).addClass('dn');
				}, 2500);

				// change new current basket count to new bc
				if (data.nbc) {
					$(".basket_count").html(data.nbc);
				}

				if (data.nbc == 1) {
					$(".cart_wrap").html(
						'<span class="badge pull-left basket_count">' +
							data.nbc +
						'</span>' +
						'<a href="/shop_basket" id="basket" class="cart">' +
							'<i class="fa fa-shopping-cart"></i>' +
						'</a>'
					);
				}

				// notification part
				new Noty({
					text: data.output,
					type: data.type,
					layout: 'topRight',
					timeout: 3500
				}).show()
			}
		});
		return false;

	});

	$(document).on('click', '.cours_warning', function(){
		// notification part
		new Noty({
			text: 'Курс уже добавлен в корзину',
			type: 'warning',
			layout: 'topRight',
			timeout: 3500
		}).show()
	});

	/*        REMOVE FROM BASKET
		* Example trash button: <a href="#" eid="23" class="trash_fb">
		* Example field count : <p> text <span id="cbc"> 8 </span> text. </p>
	 --------------------------------------------------------*/
	$(document).on('click', '.trash_fb', function(){
		// get entry id 
		eid = $(this).attr('eid');

		btn = $(this).addClass('dn')

		// current basket count 
		cbc = parseInt( $('#cbc').html())
		// new basket count 
		if (cbc !== 0 ) {
			nbc = cbc - 1;
		}

		row = $('.entry'+ eid);
		var row_child = $(row).next(); 
		var class_child = row_child.attr("class");

		$.ajax({
			url:'{{ (path('basket_rm_item')) }}',
			type: "POST",
			dataType: "json",
			data: {
				"eid": eid
			},
			async: true,
			success: function (data)
			{
				// animate word "basket" on navbar when make any manipulation with basket table db
				$('a#basket').addClass("pulse animated");
				setTimeout(function(){
					$('a#basket').removeClass("pulse animated");
				}, 1500);

				if (data.type == "warning") {
					// notification part
					new Noty({
						text: data.output,
						type: data.type,
						layout: 'topRight',
						timeout: 3500
					}).show();
				}else if(data.type == "error"){
					// notification part
					new Noty({
						text: data.output,
						type: data.type,
						layout: 'topRight',
						timeout: 3500
					}).show();

				}else if(data.type == "success"){
					// fade out row with entry about product removed 

					row.remove();
					if (class_child == "child") {
						row_child.remove();
					}

					// change current basket count "cbc" to new basket count "nbc"
					$('#cbc').html(nbc);

					// change new current basket count to new bc
					if (data.nbc) {
						$(".basket_count").html(data.nbc);
					}else if(data.nbc == 0){
						$(".basket_count").html(data.nbc);
						$(".basket_count").fadeOut();
					}

					// after get response call function calcTotal for calculate and update content of div total of basket
					setTimeout(
						calcTotal(),
					1000)

					// notification part
					new Noty({
						text: data.output,
						type: data.type,
						layout: 'topRight',
						timeout: 3500
					}).show();
				}
			}
		});

		return false;
	});


	/*        calculate totals of basket
	 --------------------------------------------------------*/
	function calcTotal(){
		subtotal = 0;
		subtotal_span = parseInt( $('#subtotal_session').html() );

		// prepare delivery cost options
		delivery = parseInt( $('#delivery').html() );

		options = [];
		delivery_cost = $('.delivery_cost').html();
		if (delivery_cost) {
			delivery_cost = delivery_cost.split(".");

			for(var i in delivery_cost ){
				option = delivery_cost[i].split(",");
				if (option.length > 1) {
					options[option[0]] = option[1];
				}
			}
		}


		coupon = parseInt( $('#coupon').html() );
		total_complet = parseInt( $('#total_complet').html() );

		// calc subtotal
		$(".entry_total").each(function() {
			if (subtotal !== 0 ) {
				subtotal += parseInt( $(this).html() ); 
			}else {
				subtotal = parseInt( $(this).html() ); 
			}
		});

		if (subtotal !== 0 ) {
			$('#subtotal').html(subtotal);
		}else {
			$('#subtotal').html(0);
		}

		// calc delivery
		if (delivery !== 0 ) {

			// 
			if (subtotal !== 0 ){
				DC = 0;

				for( var price_delimiter in options){
					if (subtotal >= price_delimiter) {
						DC = options[price_delimiter];
					}
				}
			}else {

				DC = 0;

				for( var price_delimiter in options){
					if (subtotal_span >= price_delimiter) {
						DC = options[price_delimiter];
					}
				}
			}

			delivery = DC;


			$('#delivery').html(delivery);
		}else {
			$('#delivery').html(0);
		}


		/* ------------------------------------------------------------
			Apply to calculation of total complet
					DELIVERY COST
		--------------------------------------------------------------*/
		if (subtotal !== 0 ) {
			// calc total_complet
			total_complet = parseInt(subtotal) + parseInt(delivery);
		}else {
			total_complet = parseInt(subtotal_span) + parseInt(delivery);
		}

		/* ------------------------------------------------------------
			Apply to calculation of total complet
					COUPON
		--------------------------------------------------------------*/
		// calc coupon
		if (coupon !== 0 && subtotal !== 0  || coupon !== 0 && subtotal_span !== 0 ) {
			coupon_amount = parseInt( ( coupon / 100) * total_complet );
			$('#coupon_result').html('- <i class="fa fa-rub" aria-hidden="true"></i> ' + coupon_amount + ' | %' + coupon);

			total_complet = total_complet - coupon_amount;

		}else {
			$('#coupon').html(0);
			$('#coupon_result').html(0);
		}

		if (!total_complet) {
			$('#total_complet').html(0);
		}else{
			$('#total_complet').html(total_complet);
		}

	}


	(function (){
		calcTotal();
	})();


	/*        UPDATE BASKET ENTRY
	 --------------------------------------------------------*/
	function updateB(count, prod_quantity, entry_id, pPrice, target){
		curent_entry_totals = $(".entry" + entry_id + " > td > .entry_total");
		new_entry_totals = pPrice * count;

		$.ajax({
			url:'{{ (path('updateBasket')) }}',
			type: "POST",
			dataType: "json",
			data: {
				"count": count,
				"entry_id": entry_id,
				"target": target
			},
			async: true,
			success: function (data)
			{
				curent_entry_totals.html(new_entry_totals);

					calcTotal()

				// notification part
				new Noty({
					text: data.output,
					type: data.type,
					layout: 'topRight',
					timeout: 3500
				}).show();
			}
		});

		return false;
	}


/*-----------------------------------------------------------------------------------------------------------
									FAVORITE
-------------------------------------------------------------------------------------------------------------*/

	/*            ADD FAVORITE
	 --------------------------------------------------------*/
	$(document).on('click', '.addFavorite', function(){
		// get product id 
		pid = $(this).attr('pid');
		button_add_favorite = $(this);

		$.ajax({
			url:'{{ (path('addFavorite')) }}',
			type: "POST",
			dataType: "json",
			data: {
				"pid": pid
			},
			async: true,
			success: function (data)
			{
				// after add to favorite change button
				// change class from addFavorite to rm favotire
				button_add_favorite.removeClass("addFavorite");
				button_add_favorite.addClass("rmFavorite");

				// change interaction with user "tips"
				button_add_favorite.attr("data-original-title", "Удалить из списка избранных");

				// change design of button heart
				button_add_favorite.attr("style", "color: #ff000061; border-color: #ff000063;");
				button_add_favorite.children().attr("class", "fa fa-heart");

				// notification part
				new Noty({
					text: data.output,
					type: data.type,
					layout: 'topRight',
					timeout: 3500
				}).show()
			}
		});

		return false;
	});

	/*            REMOVE FAVORITE
	 --------------------------------------------------------*/
	$(document).on('click', '.rmFavorite', function(){
		// get product id 
		pid = $(this).attr('pid');
		button_add_favorite = $(this);

		$.ajax({
			url:'{{ (path('rmFavorite')) }}',
			type: "POST",
			dataType: "json",
			data: {
				"pid": pid
			},
			async: true,
			success: function (data)
			{
				// after add to favorite change button
				// change class from addFavorite to rm favotire
				button_add_favorite.removeClass("rmFavorite");
				button_add_favorite.addClass("addFavorite");

				// change interaction with user "tips"
				button_add_favorite.attr("data-original-title", "В избранное");

				// change design of button heart
				button_add_favorite.attr("style", "");
				button_add_favorite.children().attr("class", "fa fa-heart-o");

				// notification part
				new Noty({
					text: data.output,
					type: data.type,
					layout: 'topRight',
					timeout: 3500
				}).show()
			}
		});

		return false;
	});


	/*            POPULAR PRODUCTS BY CATEGORY SORT
	 --------------------------------------------------------*/
	$(document).on('click', '.man_sort', function(){
		manid = $(this).attr('manid');

		$('.reset_prod').fadeOut(500);
		$('.manid'+manid).fadeIn();
	});
	/*            RESET PRODUCTS BY CATEGORY SORT
	 --------------------------------------------------------*/
	$(document).on('click', '.reset_cat_pop', function(){
		$('.reset_prod').fadeIn();
	});
</script>


{% if is_granted('ROLE_USER') %}
<script>
	/*            ADD TESTIMONIAL
	 --------------------------------------------------------*/
	$(document).on('click', '#addTestimonial', function(){
		testimonial = $('#testimonial_comment');

		$.ajax({
			url:'{{ (path('testimonial')) }}',
			type: "POST",
			dataType: "json",
			data: {
				"testimonial": testimonial.val()
			},
			async: true,
			success: function (data)
			{
				// empty textarea value
				testimonial.val("");

				// hide texarea field
				$('#comment_block').toggle('slow');

				new Noty({
					text: data.output,
					type: data.type,
					layout: 'topRight',
					timeout: 3500
				}).show()
			}
		});

		return false;

	});

	/*            subscribe to product notifications
	 --------------------------------------------------------*/
	 // 				NEED PARAMS
	 //   pid -> attribute on button
	 //   input =  name prodNotifyInput

	$(document).on('click', '.prodNotify', function(){

		pid = $(this).attr('pid');
		prodNotifyInput = $('.prodNotifyInput' + pid);

		btn = $(this);
		btn.attr('disabled', 'disabled');

		if (prodNotifyInput.val()) {
			$.ajax({
				url:'{{ (path('productSubscribe')) }}',
				type: "POST",
				dataType: "json",
				data: {
					"subscriber_mail": prodNotifyInput.val(),
					"pid": pid
				},
				async: true,
				success: function (data)
				{

					if (data.type == "success") {
						prodNotifyInput.val("");
						prodNotifyInput.fadeOut();

						btn.removeAttr('disabled');
						btn.fadeOut();

					}else {
						btn.removeAttr('disabled');
					}


					new Noty({
						text: data.output,
						type: data.type,
						layout: 'topRight',
						timeout: 3500
					}).show()
				}
			});

			return false;
		}else {
			new Noty({
				text: "Не указан адрес эл.почты.",
				type: "error",
				layout: 'topRight',
				timeout: 3500
			}).show()

			// $(this).fadeIn();
			btn.removeAttr('disabled')
		}

	});


	(function(){
		$('.bg-failed input').attr({
			disabled: 'disabled'
		});
	})();

	/*            Notify customer how meessage was be sent to her mail
	 -------------------------------------------------------------------------*/
	$('.customer_massage').click(function(){
		new Noty({
			text: "На вашу эл.почту было отправлено 2/ сообщения",
			type: "info",
			layout: 'topRight',
			timeout: 3500
		}).show()
	})



	/*            Qiwi checker
	 -------------------------------------------------------------------------*/
	function qiwiChecker(){
		$.ajax({
			url:'/qiwiPaymentValidation',
			type: "get",
			dataType: "json",
			data: {
			},
			async: true,
			success: function (data)
			{
				// console.log(data)

				new Noty({
					text: data.output,
					type: data.type,
					layout: 'topRight',
					timeout: 3500
				}).show()
			}
		});

		return false;
	}

</script>
{% endif %}