{% if order.delivery_address %}
<div class="delivery_address{{order.uniqid}}">
	<!-- <p class="s_value">  -->
	<div class="address_element">
			<p class="s_key"> ФИО : </p>
	{% if order.delivery_address.surname is not empty %}
		<p class="s_value">{{ order.delivery_address.surname }} </p>
	{% endif %}

	{% if order.delivery_address.name is not empty %}
		<p class="s_value"> {{ order.delivery_address.name }} </p>
	{% endif %}

	{% if order.delivery_address.potronymic is not empty %}
		<p class="s_value"> {{ order.delivery_address.potronymic }} </p> 
	{% endif %}
	</div>

	{% if order.delivery_address.phone is not empty %}
		<div class="address_element">
			<p class="s_key"> Номер телефона: </p>
			<p class="s_value"> {{ order.delivery_address.phone }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.postcode is not empty %}
		<div class="address_element">
			<p class="s_key"> Почтовый индекс : </p>
			<p class="s_value"> {{ order.delivery_address.postcode }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.region is not empty %}
		<div class="address_element">
			{{ order.delivery_address.region }},
		</div>
	{% endif %}

	{% if order.delivery_address.district is not empty %} 
		<div class="address_element">
			<p class="s_key"> Район: </p>
			<p class="s_value"> {{ order.delivery_address.district }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.localityName is not empty %}
		<div class="address_element">
			<p class="s_key"> Название населенного пункта: </p>
			<p class="s_value"> {{ order.delivery_address.localityName }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.posteRestante is not empty %}
		<div class="address_element">
			<p class="s_key">  </p>
			<p class="s_value"> {{ order.delivery_address.posteRestante }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.streetType is not empty %}
		<div class="address_element">
			<p class="s_key"> Тип улицы : </p>
			<p class="s_value"> {{ order.delivery_address.streetType }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.streetName is not empty %}
		<div class="address_element">
			<p class="s_key"> Насзвание улицы : </p>
			<p class="s_value"> {{ order.delivery_address.streetName }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.home is not empty %} 
		<div class="address_element">
			<p class="s_key"> Дом/Дробь : </p>
			<p class="s_value"> {{ order.delivery_address.home }} </p>

			{% if order.delivery_address.fraction is not empty %} 
				/ <p class="s_value"> {{ order.delivery_address.fraction }}, </p>
			{% endif %}
		</div>
	{% endif %}

	{% if order.delivery_address.housing is not empty %} 
		<div class="address_element">
			<p class="s_key"> Корпус/Блок : </p>
			<p class="s_value"> {{ order.delivery_address.housing }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.porch is not empty %} 
		<div class="address_element">
			<p class="s_key"> Подъезд : </p>
			<p class="s_value"> {{ order.delivery_address.porch }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.structure is not empty %} 
		<div class="address_element">
			<p class="s_key"> Строение : </p>
			<p class="s_value"> {{ order.delivery_address.structure }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.room is not empty %} 
		<div class="address_element">
			<p class="s_key"> Квартира : </p>
			<p class="s_value"> {{ order.delivery_address.room }}, </p>
		</div>
	{% endif %}

	{% if order.delivery_address.comment is not empty %} 
		<div class="address_element">
			<p class="s_key"> Комментарий : </p>
			<p class="s_value"> {{ order.delivery_address.comment }}, </p>
		</div>
	{% endif %}

</div>
{% endif %}
