{#
{% if order.error_message is not empty or order.trns_history  %}
<button type="button" class="btn  btn-default" data-toggle="modal" 
	data-target=".error_message{{order.uniqid}}">

	<i class="fa fa-warning red"></i>
</button>
{% endif %}
#}

<div class="modal fade error_message{{order.uniqid}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
				</button>
			</div>

			<div class="modal-body"> 

				<!-- ..................................
						Payment method
				.................................... -->
				{% if order.error_message is not empty %}
				<div class="row">
					<h4 class="text-center">
						Оповещение об ошибке
					</h4>

					<ul>
					{% for item in order.error_message %}
						<li>
							{{loop.index}} ) {{ item|raw }}
						</li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}

				{% if order.trns_history is not null and order.trns_history is not empty %}
					<div class="row">
						<h4 class="text-center">
							История транзакции (й)
						</h4>

						<hr>

						<ul>
						{% for item in order.trns_history %}
							{% if order.date %}
							<li>
								{{item.date}}  <br> <i class="fa fa-rub" aria-hidden="true"></i> {{ item.trns_amount }} 
								<hr>
							</li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>

					{% if order.checked is empty and nrWallet is defined %}

						{% if order.amount_difference > 14900 %}
							{% set limited_amount_difference = 14900 %}
							<a
								href="https://qiwi.com/payment/form/99?extra%5B%27account%27%5D={{ nrWallet }}&amountInteger={{ limited_amount_difference }}&extra%5B%27comment%27%5D={{ order.uniqid}}&currency=643"
								class="btn btn-template-main btn-sm mall-2 external" >

								Оплатить разницу
							</a>

						{% else %}

							<a
								href="https://qiwi.com/payment/form/99?extra%5B%27account%27%5D={{ nrWallet }}&amountInteger={{ order.amount_difference }}&extra%5B%27comment%27%5D={{ order.uniqid}}&currency=643"
								class="btn btn-template-main btn-sm mall-2 external" >

								Оплатить разницу
							</a>
						{% endif %}

					{% endif %}

				{% endif %}


			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
			</div>

		</div><!-- ./modal-content -->
	</div><!-- ./modal-dialog -->
</div><!-- ./ END errod message modal -->

<!-- 																				 -->