<!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
<div class="panel panel-default sidebar-menu">

	<div class="panel-heading">
		<h3 class="panel-title">РАЗДЕЛ КЛИЕНТА</h3>
	</div>

	<div class="panel-body">

		<ul class="nav nav-pills nav-stacked">
			{% if app.request.get('_route') == 'app_customer_account_customer_orders' %}
				<li class="active">
			{% else %}
				<li>
			{% endif %}
				<a href="/customer_orders"><i class="fa fa-list"></i> Мои заказы</a>
			</li>

			{% if app.request.get('_route') == 'app_customer_account_customer_wishlist' %}
				<li class="active">
			{% else %}
				<li>
			{% endif %}
				<a href="/customer_wishlist"><i class="fa fa-heart"></i> Понравившиеся товары</a>
			</li>

			{% if app.request.get('_route') == 'app_customer_account_customer_account' %}
				<li class="active">
			{% else %}
				<li>
			{% endif %}
				<a href="/customer_account"><i class="fa fa-user"></i> Мой аккаунт</a>
			</li>

			{#
			{% if app.request.get('_route') == 'app_customer_account_customer_message' %}
				<li class="active">
			{% else %}
				<li>
			{% endif %}
				<!-- nr message -->
				<p class="customer_massage cust_nav_item">
					<i class="fa fa-envelope"></i>
					<span class="badge pull-right">
						2
					</span>
					Сообшения
				</p>
			</li>
			#}

			<li>
				<a href="/"><i class="fa fa-sign-out"></i> Выйти</a>
			</li>



		</ul>
	</div>

</div>
<!-- /.col-md-3 -->

<!-- *** CUSTOMER MENU END *** -->