{% if loop.index <= 3 %}
<div class="col-md-3">
	<div class="product alsoLike" style="height: 300px;">
		<div class="image prod_model">
			<a href="/pDetail/{{ item.0.id }}">
				{% if item.0.images is not empty %}
					<img src="{{ asset(item.0.images[0]) }}" alt="" class="img-responsive image1">
				{% endif %}
			</a>
		</div><!-- ./product -->

		<div class="text">
			<h3><a href="/pDetail/{{ item.0.id }}">{{ item.0.name }}</a></h3>

			<p class="price">
			{% if item.0.oldprice|length %}
				<del><i class="fa fa-rub" aria-hidden="true"></i>{{ item.0.oldprice }}</del>
			{% endif %}
				<i class="fa fa-rub" aria-hidden="true"></i>{{ item.0.price }}
			</p>

		</div><!-- ./text -->

		{% if item.0.status == 'sale' %}
			<div class="ribbon sale">
				<div class="theribbon">РАСПРОДАЖА</div>
				<div class="ribbon-background"></div>
			</div>
		{% endif %}
		<!-- /.ribbon -->
		{% if item.new == true %}
			<div class="ribbon new">
				<div class="theribbon">новинка</div>
				<div class="ribbon-background"></div>
			</div>
		{% endif %}
		<!-- /.ribbon -->
	</div>
	<!-- /.product -->
</div>
{% endif %}	