		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>

		<!-- Bootstrap and Font Awesome css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<!-- Magnific Popup core CSS file -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

		<!-- Css animations  -->
		<link href="{{ asset('css/animate.css') }}" rel="stylesheet">


		<!-- alertfyjs css -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.core.min.css"  rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.default.min.css"  rel="stylesheet">

		<!-- Responsivity for older IE -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Favicon and apple touch icons-->
		<link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{ asset('img/apple-touch-icon.png') }}" />
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/apple-touch-icon-57x57.png') }}" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/apple-touch-icon-72x72.png') }}" />
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/apple-touch-icon-76x76.png') }}" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/apple-touch-icon-114x114.png') }}" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/apple-touch-icon-120x120.png') }}" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/apple-touch-icon-144x144.png') }}" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/apple-touch-icon-152x152.png') }}" />

		<!-- owl carousel css -->
		<link href="{{ asset('css/owl.carousel.css') }}" rel="stylesheet">
		<link href="{{ asset('css/owl.theme.css') }}" rel="stylesheet">

		<!-- easy-autocomplete -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css" rel="stylesheet">

		<!--.........................................................................
								 Datatables
		.......................................................................... -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
		<!-- material design -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css"/>
		<!-- responsive -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css"/>

		<!--.........................................................................
								button cart
		.......................................................................... -->
		<link href="{{ asset('css/cart_btn/cart_btn.css') }}"  rel="stylesheet">

		<!-- Theme stylesheet, if possible do not edit this stylesheet -->
		<link href="{{ asset('css/style.default.css') }}" rel="stylesheet" id="theme-stylesheet">

		<!-- Custom stylesheet - for your changes -->
		<link href="{{ asset('css/custom.css') }}"  rel="stylesheet">