<!-- jquery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="{{ asset('js/jquery.cookie.js') }}"></script>
<script src="{{ asset('js/jquery.counterup.min.js') }}"></script>

<!-- bootstrap -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

<script src="{{ asset('js/waypoints.min.js') }}"></script>
<script src="{{ asset('js/loadfile.js') }}"></script>

<!-- parallax -->
<script src="{{ asset('js/jquery.parallax-1.1.3.js') }}"></script>
<script src="{{ asset('js/front.js') }}"></script>

<!-- owl carousel -->
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<!-- alertfy -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>

<!-- magnific popup -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<!-- easy-autocomplete -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script> 

<!-- fast click -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script> 

<!-- ..............................
		DataTable
................................. -->

<!-- data tables jquery -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- material data table -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<!-- responsive data table -->
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>

<!-- lazyload -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-lazyload-any/0.3.1/jquery.lazyload-any.min.js"></script>

<!-- ................................................
		Captcha
.................................................. -->

<script src='https://www.google.com/recaptcha/api.js?hl=ru'>
</script>

<script type="text/javascript">
	$('.btn_sbmt').click(function(event) {
		form = $(this).closest("form").clone();
		form.attr('style', 'display:none');

		var modal = $('#captcha_modal');
		modal.append(form);

		$(modal).modal('show');
	});

	function recaptchaCallback (){
		var modal = $('#captcha_modal');
		form = modal.find('form');
		console.log(form);

		if(grecaptcha.getResponse().length !== 0){
			$(modal).modal('hide');

			form.submit();
			console.log("The captcha has been already solved");
		}
	}
</script>

<!-- magnific popup configs-->
<script>
	$(document).ready(function() {
		$('.image-popup-vertical-fit').magnificPopup({
			type: 'image',
			closeOnContentClick: true,
			mainClass: 'mfp-img-mobile',
			image: {
				verticalFit: true
			}
			
		});

		$('.image-popup-fit-width').magnificPopup({
			type: 'image',
			closeOnContentClick: true,
			image: {
				verticalFit: false
			}
		});

		$('.image-popup-no-margins').magnificPopup({
			type: 'image',
			closeOnContentClick: true,
			closeBtnInside: false,
			fixedContentPos: true,
			mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
			image: {
				verticalFit: true
			},
			zoom: {
				enabled: true,
				duration: 300 // don't foget to change the duration also in CSS
			}
		});

	});
</script>
<!-- / magnific popup configs-->

<!-- Multilevel dropdown -->
<script>
$(document).ready(function(){
	$('.dropdown-submenu a.test').on("click", function(e){
		$(this).next('ul').toggle();
		e.stopPropagation();
		e.preventDefault();
	});
});
</script>

<script>
// wysiwyg string to html
function stringToHtml(from, to){
	pd_string = $(from).text();
	pd_html = $.parseHTML(pd_string);
	$(to).append(pd_html);
};
</script>


<!-- (Chat) When custmer auth on sistem automat fill inputs on pre-chat -->
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<script>
	// $('.mylivechat_buttonround').click(function(event) {
	// 	console.log('vasea')
	// 	pre_chat_login = $('div.mylivechat_prechat_name').find('input');
	// 	console.log(pre_chat_login.length);
	// });

</script>
{% endif %}