<!--  -->
{% if app.session.get('coupon') is defined and app.session.get('coupon') is not empty %}
	{% set coupon = app.session.get('coupon').percent %}
{% else %}
	{% set coupon = false %}
{% endif %}


<div class="box box-basket">
	<div class="box-header  box-header-basket">
		<h4>КОД КУПОНА</h4>
	</div>
	<p class="text-muted">Если у вас есть код купона, введите его в поле ниже.</p>

	<form action="/applyCoupon" method="post">
		<div class="input-group">
			<input type="text" class="form-control" name="coupon_name" required>

			<span class="input-group-btn">
				<button class="btn btn-template-main" type="submit"><i class="fa fa-gift"></i></button>
			</span>
		</div>
		<!-- /input-group -->
	</form>

</div> <!-- ./box -->

<div class="box box-basket" id="order-summary">
	<div class="box-header box-header-basket">
		<h4>Итог заказа</h4>
	</div>
	<p class="text-muted">Стоимость доставки и дополнительные расходы рассчитываются на основе введенных вами значений.</p>


	<div class="table-responsive">
		<table class="table">
			<tbody>

				<!-- subtotals -->
				<tr>
					<td> Промежуточный итог </td>
					<th>
						{% if app.request.get('_route') == 'shop_checkout_one' or app.request.get('_route') == 'shop_checkout_two' %}
							<i class="fa fa-rub" aria-hidden="true"></i> 

							<span id="subtotal_session">
							{% if app.session.get('subtotals') %}
								{{ app.session.get('subtotals') }}
							{% endif %}
							</span>

						{% else %}
							<i class="fa fa-rub" aria-hidden="true"></i>
								<span id="subtotal">
								{% if app.session.get('subtotals') %}
									{{ app.session.get('subtotals') }}
								{% else %}
									0
								{% endif %}
								</span>
						{% endif %}
					</th>
				</tr>

				<!-- delivery -->
				<tr>
					<td>Доставка</td>
					<th>
						<!--  DELIVERY COST OPTION for get her on realtime calculating of delivery cost -->
						{% if app.session.get('Delivery_cost')|length %}
							<div class="delivery_cost dn" >
								{% for item in  app.session.get('Delivery_cost') %}
									{{ item.priceDelimiter }},{{ item.deliveryCost }}.
								{% endfor %}
							</div>
						{% endif %}

						<i class="fa fa-rub" aria-hidden="true"></i>

						<span id="delivery">
							{% if app.session.get('Delivery_cost')|length %}

								<!-- empty variable -->
								{% set DC = '' %}

								<!-- loop all option and compare her with order final amount for calculate delivery cost  -->
								{% for item in app.session.get('Delivery_cost') %}
									{% if app.session.get('subtotals') >= item.priceDelimiter %}
										{% set DC = item.deliveryCost %}
									{% endif %}
								{% endfor %}

								<!-- display delivery cost -->
								{{ DC }}

								<!-- if final amount is not comparable with no one set value of span #delivery = 0  -->
								{% if DC == '' %}
									0
								{% endif %}

							{% else %}
								0
							{% endif %}

						</span>
					</th>
				</tr>

				{% if coupon == false %}
				<tr style="display:none;">
				{% else %}
				<tr>
				{% endif %}

					<td>Купон</td>
					<th>
						<span id="coupon" class="dn">
							{% if coupon == false %}
								0
							{% else %}
								{{ coupon }}
							{% endif %}
						</span>

						<span id="coupon_result"></span>
					</th>
				</tr>

				<tr class="total">
					<td>Всего</td>
					<th>
						<i class="fa fa-rub" aria-hidden="true"></i>

						<span id="total_complet">
							{% if app.session.get('subtotals') %}
								{{ app.session.get('subtotals') }}
							{% else %}
								0
							{% endif %}
						</span>
					</th>
				</tr>

			</tbody>
		</table>
	</div>

</div>
