<!-- .....................................................
				First wave
....................................................... -->

{% if order.orderStatus != "order_failed" %}

	<!-- .....................................................
				Second wave
	....................................................... -->
	{% if order.paymentStatus == "pending_payment" %}
		<span class="label label label-warning">
		Ожидает оплаты
		</span>

	{% elseif order.paymentStatus == "pending_confirmation" %}
		<span class="label label label-info">
		проверка оплаты
		</span>

	{% elseif order.paymentStatus == "paid" %}

		<!-- .....................................................
			After order is paid display delivery status
					Third wave
		....................................................... -->

		{% if order.deliveryStatus == 'to_courier' %}
			<span class="label label label-success">
			У курьера
			</span>
		{% endif %}

		{% if order.deliveryStatus == 'on_package' %}
			<span class="label label label-success">
			на упаковке
			</span>
		{% endif %}

		{% if order.deliveryStatus == 'expected_sending' %}
			<span class="label label label-success">
			ожидается отправка
			</span>
		{% endif %}

		{% if order.deliveryStatus == 'sent' %}
			<span class="label label label-success">
			отправлен
			</span>
		{% endif %}

	{% endif %}

{% else %}

	{% if order.error_message is not empty or order.trns_history  %}
		<span class="btn btn-template-main btn-sm  label-danger red" 
		data-toggle="modal" 
		data-target=".error_message{{order.uniqid}}">

			ошибка заказа
		</span>
		<!-- <i class="fa fa-warning red"></i> -->
	{% else %}
		<span class="label label label-danger">
			ошибка заказа
		</span>
	{% endif  %}
{% endif  %}