<!-- my comments -->
{#{% if app.session.get('Address') is not null %} #}
<!-- ./ my comments -->

<ul class="nav nav-pills nav-justified">
	{% if app.request.get('_route') == 'shop_checkout_one' %}
		<li class="active"><a href="/shop_checkout_one"><i class="fa fa-map-marker"></i><br>Адрес</a></li>
	{% else %}
		<li class="disabled">
			<a href="/shop_checkout_one"><i class="fa fa-map-marker"></i><br>Адрес</a>
		</li>
	{% endif %}

	{% if app.request.get('_route') == 'shop_checkout_two' %}
		<li class="active"><a href="/shop_checkout_two"><i class="fa fa-truck"></i><br>Способ доставки</a></li>
	{% else %}
		<li class="disabled">
			<a href="/shop_checkout_two"><i class="fa fa-truck"></i><br>Способ доставки</a>
		</li>
	{% endif %}

	{% if app.request.get('_route') == 'shop_checkout_four' %}
		<li class="active"><a href="/shop_checkout_four"><i class="fa fa-eye"></i><br>Рассмотрение заказа</a></li>
	{% else %}
		<li class="disabled">
			<a href="/shop_checkout_four"><i class="fa fa-eye"></i><br>Рассмотрение заказа</a>
		</li>
	{% endif %}

	{% if app.request.get('_route') == 'shop_checkout_three' %}
		<li class="active"> <a href="#"><i class="fa fa-money"></i><br>Способ оплаты</a></li>
	{% else %}
		<li class="disabled"> 
			<a href="#"><i class="fa fa-money"></i><br>Способ оплаты</a>
		</li>
	{% endif %}
</ul>

