<!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
<div class="panel panel-default sidebar-menu">

	<div class="panel-heading">
		<h3 class="panel-title">БРЕНДЫ</h3>
		
	</div>

	<div class="panel-body">
		<ul class="nav nav-pills nav-stacked category-menu filter">
			{% for item in Manufacturers %}
			<li class="man_sort" manid="{{ item.id }}">
				<p>
					{{item.name}}
					<!-- <span class="badge pull-right">11</span> -->
				</p>
			</li>
			{% endfor %}
		</ul>

	</div>
</div>

<div class="panel panel-default sidebar-menu">

	<div class="panel-heading">
	  <h3 class="panel-title">КАТЕГОРИИ</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-pills nav-stacked category-menu filter">
			{% for item in category %}
			<li class="cat_sort" catid="{{ item.id }}">
				<p>
					{{item.name}}
					<!-- <span class="badge pull-right">11</span> -->
				</p>
			</li>
			{% endfor %}
		</ul>

	</div>

	<a class="btn btn-xs btn-danger reset_filter" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Сброс</span></a>
</div>



<!-- *** MENUS AND FILTERS END *** -->