
<div class="col-md-4 col-sm-6 reset_prod lazyload_prod product{{product.id}} catid{{product.categoryId}} manid{{product.manufacturerid}}">
	<div class="product"> 

		<div class="box-image">
			<div class="image prod_img_params prod_model">
				<a href="/pDetail/{{product.id}}">
					{% if product.images is not empty %}
						{% if product.images.0 is defined %}
							<img src="{{ asset(product.images.0) }}" alt="{{ product.images.0 }}" class="img-responsive image1">
						{% endif %}
					{% endif %}
				</a>
			</div>

			<div class="bg"></div>

			<div class="text">
				<!-- View detail -->
				<a href="/pDetail/{{product.id}}" class="btn btn-template-transparent-primary">
					Посмотреть
				</a>

				<!-- Add to wish list -->
				{% if is_granted('ROLE_USER') %}
					{% if product.favorite == false %}
						<button pid="{{product.id}}" class="btn btn-template-transparent-primary addFavorite" data-toggle="tooltip" data-placement="top" data-original-title="В избранное">
							<i class="fa fa-heart-o"></i>
						</button>
					{% else %}
						<button pid="{{product.id}}" class="btn btn-template-transparent-black rmFavorite" data-toggle="tooltip" data-placement="top" data-original-title="Удалить из списка избранных" style="color: #ff000061; border-color: #ff000063;">
							<i class="fa fa-heart"></i>
						</button>
					{% endif %}
				{% endif %}
				<br>
				<br>

				<!-- Add to cart -->
				<!-- if user is authorized -->
				{% if is_granted('ROLE_USER') %}
					<!-- if product is in stock -->
					{% if product.inStock and product.onbasket == false %}
						<button pid="{{product.id}}" class="btn btn-template-transparent-primary toBasket" >
							<i class="fa fa-shopping-cart"></i>
							В корзину
						</button>
					{% elseif product.inStock and product.onbasket == true %}
						<p class="text-center" >
							продукт уже добавлен
						</p>
					{% endif %}
				{% endif %}

				{% if product.inStock == false %}
					{% if app.user.email is defined and app.user.email is not empty %}
						<!-- subscr to prod -->
						<input type="text" value="{{app.user.email}}" class="prodNotifyInput{{product.id}}" style="display:none;">
						<p class="text-center">
							<button class="btn btn-template-main btn-sm prodNotify" 
							style="border-color: #792e27; background-color: #ffffff1f; color:#792e27;" pid="{{product.id}}">Оповестить</button>
						</p>
					{% else %}
						<p> Нет в наличии </p>
					{% endif %}
				{% endif %}

			</div><!-- ./text -->
		</div><!-- ./box-image -->
		<!-- /.image -->
		<div class="text">
			<h3>
				<a href="/pDetail/{{product.id}}">
					{{product.name}}
					{% if product.count_dosage | length %}
						{{product.count_dosage}}
					{% endif %}
				</a>
			</h3>

			<p class="price">
				<i class="fa fa-rub" aria-hidden="true"></i> 
				{{product.price}}

				{% if product.oldprice %}
					<del>
						<i class="fa fa-rub" aria-hidden="true"></i>
						{{product.oldprice}}
					</del>
				{% endif %}
			</p>
		</div><!-- /.text -->



		{% if product.discount is not empty and product.discount['discount'] > 0 %}
		<div class="ribbon discount">
			<div class="theribbon bg-red"> - {{ product.discount['discount'] }} % </div>
			<div class="ribbon-background"> </div>
		</div>
		{% endif %}
		<!-- /.ribbon -->

		{% if product.status == 'sale' %}
			<div class="ribbon sale">
				<div class="theribbon">РАСПРОДАЖА</div>
				<div class="ribbon-background"></div>
			</div>
		{% endif %}
		<!-- /.ribbon -->

		{% if product['new'] == true %}
		<div class="ribbon new">
			<div class="theribbon">НОВИНКА</div>
			<div class="ribbon-background"></div>
		</div>
		{% endif %}
		<!-- /.ribbon -->

	</div>
	<!-- /.product -->
</div>