{% if product.inStock and p_added == false and is_granted('ROLE_USER') %}
	<p class="text-center">
		<button type="submit" pid="{{product.id}}" class="btn btn-template-main toBasket" ><i class="fa fa-shopping-cart "></i> В карзину</button>
	</p>

{% elseif product.inStock and p_added == false and not is_granted('IS_AUTHENTICATED_FULLY') %}
	<p class="text-center">
		Для добавления продукта в корзину <br> необходима авторизация 
	</p>

{% elseif product.inStock and p_added == true %}
	<p class="text-center">
		Продукт добавлен в вашу корзину.
	</p>
<!-- ADD TO BASKET CHECKS END  -->


{% elseif product.inStock == false and is_granted('IS_AUTHENTICATED_FULLY') and app.user.email is not null %}
	<p class="text-center">Продукта нет в наличии.</p>

	<!-- subscr to prod -->
	<input type="text" value="{{app.user.email}}" class="prodNotifyInput" style="display:none;">
	<p class="text-center">
		<button class="btn btn-template-main btn-sm prodNotify" 
		style="border-color: #792e27; color:#792e27;" pid="{{product.id}}">Оповестить</button>
	</p>

<!-- If user is authentificated and does'nt set her email, display input element -->
{% elseif product.inStock == false and is_granted('IS_AUTHENTICATED_FULLY') and app.user.email is null %}
	<p class="text-center">Товара нет в наличии.</p>
	<p class="text-center">
		<input type="mail" placeholder="Введите e-mail" class="btn btn-lg btn_subs prodNotifyInput" required>

		<button type="button" class="btn btn-lg btn_subs prodNotify" pid="{{product.id}}" 
		 data-toggle="tooltip" data-placement="top" data-original-title="оповестить"> 
			<i class="fa fa fa-paper-plane"></i>
		</button>
	</p>

<!-- If case when user have status Anonymous  display input with subscribe user at product  -->
{% elseif product.inStock == false and not is_granted('IS_AUTHENTICATED_FULLY') %}
	<p class="text-center">Товара нет в наличии.</p>
	<p class="text-center">
		<input type="mail" placeholder="Введите e-mail" class="btn btn-lg btn_subs prodNotifyInput"required >

		<button type="button" class="btn btn-lg btn_subs prodNotify" pid="{{product.id}}" 
		 data-toggle="tooltip" data-placement="top" data-original-title="оповестить"> 
			<i class="fa fa fa-paper-plane"></i>
		</button>
	</p>

{% endif %}