{% if app.session.get('AddressDetail') %}
	<!-- <p class="s_value">  -->
	<div class="address_element">
			<p class="s_key"> ФИО : </p>
	{% if app.session.get('AddressDetail').surname is not empty %}
		<p class="s_value">{{ app.session.get('AddressDetail').surname }} </p>
	{% endif %}

	{% if app.session.get('AddressDetail').name is not empty %}
		<p class="s_value"> {{ app.session.get('AddressDetail').name }} </p>
	{% endif %}

	{% if app.session.get('AddressDetail').potronymic is not empty %}
		<p class="s_value"> {{ app.session.get('AddressDetail').potronymic }} </p> 
	{% endif %}
	</div>

	{% if app.session.get('AddressDetail').phone is not empty %}
		<div class="address_element">
			<p class="s_key"> Номер телефона: </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').phone }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').postcode is not empty %}
		<div class="address_element">
			<p class="s_key"> Почтовый индекс : </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').postcode }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').region is not empty %}
		<div class="address_element">
			{{ app.session.get('AddressDetail').region }},
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').district is not empty %} 
		<div class="address_element">
			<p class="s_key"> Район: </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').district }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').localityName is not empty %}
		<div class="address_element">
			<p class="s_key"> Название населенного пункта: </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').localityName }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').posteRestante is not empty %}
		<div class="address_element">
			<p class="s_key">  </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').posteRestante }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').streetType is not empty %}
		<div class="address_element">
			<p class="s_key"> Тип улицы : </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').streetType }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').streetName is not empty %}
		<div class="address_element">
			<p class="s_key"> Насзвание улицы : </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').streetName }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').home is not empty %} 
		<div class="address_element">
			<p class="s_key"> Дом/Дробь : </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').home }} </p>

			{% if app.session.get('AddressDetail').fraction is not empty %} 
				/ <p class="s_value"> {{ app.session.get('AddressDetail').fraction }}, </p>
			{% endif %}
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').housing is not empty %} 
		<div class="address_element">
			<p class="s_key"> Корпус/Блок : </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').housing }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').porch is not empty %} 
		<div class="address_element">
			<p class="s_key"> Подъезд : </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').porch }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').structure is not empty %} 
		<div class="address_element">
			<p class="s_key"> Строение : </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').structure }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').room is not empty %} 
		<div class="address_element">
			<p class="s_key"> Квартира : </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').room }}, </p>
		</div>
	{% endif %}

	{% if app.session.get('AddressDetail').comment is not empty %} 
		<div class="address_element">
			<p class="s_key"> Комментарий : </p>
			<p class="s_value"> {{ app.session.get('AddressDetail').comment }}, </p>
		</div>
	{% endif %}
{% else %}
	<p> Адрес доставки не был указан, попробуйте проити до этапа "Адресс" и указать данные вновь. 
		<br> В случае неудачи обратитесь к администрации.
	</p>
	<a href="/shop_checkout_one"> Указать адресс</a>
{% endif %}
