<!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
 {% if app.session.get('catRell') is not empty %}

<div class="panel panel-default sidebar-menu">

	<div class="panel-heading">
		<h3 class="panel-title">Категории</h3>
	</div>

	<div class="panel-body">
		<ul class="nav nav-pills nav-stacked category-menu">
			{% for category in app.session.get('catRell') %}
			<li>
				<a href="/shop_category_full/{{ category.cat_id }}">
					{{ category.name }} 
					{#
					{% if category.pcount > 0 %}
					<span class="badge pull-right">{{ category.pcount }}</span>
					{% endif %}
					#}
				</a>

				<ul>
					{% for subcategory in category.subcategory %}
						<li>
							<a href="/shop_category_full/{{ category.cat_id }}/{{ subcategory.id }}">
								{{ subcategory.name }}
								{#
								{% if subcategory.pcount > 0 %}
								<span class="badge pull-right">{{ subcategory.pcount }}</span>
								{% endif %}
								#}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endif %}