{% extends "base.html.twig" %}

{% block title %}Корзина{% endblock %}
{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-6  hidden-sm hidden-xs">
						<!-- <h1>КОРЗИНА</h1> -->

						<p class="text-muted lead" style="font-size: 15px; margin:30px 0 0 0 ">
							В настоящее время у вас есть <span id="cbc"> {{ fullUserBasket['products']|length + fullUserBasket['course']|length }} </span> предмета (ов) в вашей корзине.
						</p>

					</div>

					<div class="col-md-6">
						<ul class="breadcrumb">
							<li><a href="/">Главная</a>
							</li>

							<li> КОРЗИНА </li>
						</ul>
					</div>
				</div>
			</div><!-- ./container -->
		</div><!-- ./heading-breadcrumbs -->
{% endblock %}

{% block body %}

	<div id="content">
		<div class="container">

			<div class="row">

				{#
				<div class="col-md-12">
					<p class="text-muted lead">В настоящее время у вас есть <span id="cbc"> {{ fullUserBasket['products']|length + fullUserBasket['course']|length }} </span> предмета (ов) в вашей корзине.</p>
				</div>
				#}

				<div class="col-md-9 clearfix" id="basket">

					<div class="box">

						<form method="post" action="/shop_checkout_one">

							<div class="table-responsive">


								<table  id="shop_basket_table" class="mdl-data-table display responsive nowrap">
									<thead>
										<tr>
											<th></th>
											<th >Продукт</th>
											<th>Количество</th>
											<th>Цена за единицу</th>
											<th>Cкидка</th>
											<th >Всего</th>
											<!-- Управление -->
											<th>Управление</th>
										</tr>
									</thead>

									<tbody>
										{% include '@App/components/basket/user_basket.html.twig'%}
									</tbody>

								</table>
							</div>
							<!-- /.table-responsive -->

							<div class="box-footer">
								<div class="pull-left">
									<a href="/shop_category" class="btn btn-default"><i class="fa fa-chevron-left"></i> Продолжить покупки </a>
								</div>

								{% if basket_subtotals > 0 %}
									<div class="pull-right">
										<a href="/shop_basket" class="btn btn-default"> <i class="fa fa-refresh"></i> Обновить корзину</a>
										<button type="submit" class="btn btn-template-main">Перейти к оформлению заказа <i class="fa fa-chevron-right"></i>
										</button>
									</div>
								{% endif %}
							</div>
						</form>

					</div>
					<!-- /.box -->

					{% if user_favorites|length %}
					<div class="row">
						<div class="col-md-3">
							<div class="box text-uppercase">
								<h4>ВАМ ТАКЖЕ ПОНРАВИЛОСЬ</h4>
							</div>
						</div>

						{% for item in user_favorites %}
							{% include '@App/components/favorite_products.html.twig'%}
						{% endfor %}
					</div>
					{% endif %} <!-- if not empty user_favorites array-->

				</div>
				<!-- /.col-md-9 -->

				<!-- Order summary -->
				<div class="col-md-3">
					{% include '@App/components/order_summary.html.twig' %}
				</div> <!-- /.col-md-3 -->

			</div><!-- .row -->

		</div><!-- /.container -->
	</div><!-- /#content -->
{% endblock %}

{% block javascripts %}
<script>
var table = $('#shop_basket_table').DataTable( {
	"language": {
		lengthMenu: "Отобразить _MENU_ записей на страницы",
		zeroRecords: "Ничего не найдено - извините",
		info: "Показаны страницы _PAGE_ из _PAGES_",
		nfoEmpty: "Нет доступных записей",
		infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
		processing:     "Обработка ...",
		search:         "Поиск:",
		infoPostFix:    "",
			loadingRecords: "Загружается ...",
		emptyTable:     "В таблице нет данных.",

		paginate: {
			first:      "Первый",
			previous:   "Предыдущий",
			next:       "Следующий",
			last:       "Последний"
		},
		aria: {
			sortAscending:  ": активировать сортировку столбца в порядке возрастания",
			sortDescending: ": активировать сортировку столбца в порядке убывания"
		}
	},
	columnDefs: [
		{
			// targets: [ 0, 1, 2 ],
			className: 'mdl-data-table__cell--non-numeric'
		}
	],
	responsive: true,
	columnDefs: [
		{ responsivePriority: 0, targets: 0 },
		{ responsivePriority: 1, targets: 1 },
		{ responsivePriority: 2, targets: 2 },
		{ responsivePriority: 5, targets: 5 },
		{ responsivePriority: 6, targets: 6 }
	],
	autoFill: true,
});

</script>
{% endblock %}