<!DOCTYPE html>
<html>
	<head>
		<!-- *** META *** -->
		<meta charset="UTF-8" />
		<meta name="robots" content="all,follow">
		<meta name="googlebot" content="index,follow,snippet,archive">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block meta %}{% endblock %}
		<!-- *** META END *** -->

		<!-- *** TITLE*** -->
		<title>
			{% if app.session.get('shopstate') is defined %}
				{% if app.session.get('shopstate') == 'shop_audit' %}
					РЕВИЗИЯ
				{% endif %}
			{% endif %}

			{% block title %}{% endblock %}
		</title>
		<!-- *** TITLE END *** -->

		<!-- *** STYLESSHEETS *** -->
		{% include '@App/components/index_links.html.twig' %}


		<!-- needim notify -->
		{% include '@CP/components/notify.html.twig' %}
		<!-- END needim notify -->

		{% block stylesheets %}{% endblock %}
		<!-- *** STYLESSHEETS END  *** -->
	</head>

	<body >
		{% if is_granted('ROLE_USER') %}
			{% if app.session.get('basket_count') and app.session.get('basket_count') > 0 %}
			<div class="cart_wrap">
				<span class="badge pull-left basket_count">
					{{ app.session.get('basket_count') }}
				</span>

			{% else %}
			<div class="cart_wrap dn">
			{% endif %}

			<a  href="/shop_basket" id="basket" class="cart">
				<i class="fa fa-shopping-cart"></i> 
			</a>
		</div>
		{% endif %}


		<!-- Content elements -->
			<div id="top">
				<div class="container-fluid">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-xs-4 contact hidden-sm hidden-xs">
								{% if app.session.get('shopstate') is defined %}
									{% if app.session.get('shopstate') == 'shop_audit' %}
										<p class="red"> РЕВИЗИЯ </p>
									{% endif %}
								{% endif %}
							</div>

							<div class="col-md-3 col-xs-3">
									{% if is_granted('ROLE_SUPER_ADMIN') %}
										<a href="/cpanel" class="external">Админка</a>
									{% endif %}
							</div>

							<div class="col-md-5 col-xs-12">
								<div class="login">
									{% if is_granted('ROLE_USER')%}
										<p class="usname">
											{% if app.user.nickname is defined and app.user.nickname is not empty %}
												{{ app.user.nickname }}
											{% else %}
												{{ app.user.username }}
											{% endif %}
										</p>
										<style>
											.usname {
												float:left;
												padding: 3px 10px 0 0;
												color: #38a7bb;
												letter-spacing: 2px;
												font-size: 14px;
												font-weight: 400;
											}
										</style>
										<a href="/customer_orders">
											<!-- <i class="fa fa-envelope-o" style="color: #888888;"></i> -->
											Личный кабинет
										</a>
										<a href="/logout">
											 Выход
											<!-- <i class="fa fa-sign-out"></i> -->
										</a>
									{% else %}
										<a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="text-uppercase">Вход</span></a>
										<a href="/customer_register"><i class="fa fa-user"></i> <span class=" text-uppercase">Регистрация</span></a>

									{% endif %}
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- *** TOP END *** -->

			<!-- *** NAVBAR ***
	_________________________________________________________ -->

			<div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

				<div class="navbar navbar-default yamm" role="navigation" id="navbar">

					<div class="container">


						<div class="navbar-header">

							<a class="navbar-brand home" href="/">
								<img src="{{ asset('img/logo.png') }}" alt="Universal logo" class="hidden-xs hidden-sm">
								<img src="{{ asset('img/logo-small.png') }}" alt="Universal logo" class="visible-xs visible-sm">


								<!-- <span class="sr-only">Universal - go to homepage</span> -->
							</a>
							<div class="navbar-buttons">
								<button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
									<span class="sr-only">Toggle navigation</span>
									<i class="fa fa-align-justify"></i>
								</button>
							</div>
						</div>
						<!--/.navbar-header -->

						<div class="navbar-collapse collapse" id="navigation">

							<ul class="nav navbar-nav navbar-right">

								{% if app.request.get('_route') == 'homepage' %}
									<li class="active">
								{% else %}
									<li>
								{% endif %}
									<a href="/">Главная <!-- <b class="caret"></b> --></a>
								</li>

								{% if app.request.get('_route') == 'app_shop_category_shop_category' %}
									<li class="active">
								{% else %}
									<li>
								{% endif %}
									<a href="/shop_category">Прайс</a>
								</li>

								{% if app.request.get('_route') == 'app_shop_category_full_shop_category_full' %}
									<li class="dropdown use-yamm yamm-fw active">
								{% else %}
									<li class="dropdown use-yamm yamm-fw">
								{% endif %}

									<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200"> КАТАЛОГ <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>
											<div class="yamm-content">
												<div class="row">
													{% for category in app.session.get('catRell') %}
													<div class="col-sm-3">
														<h5 >
															<a href="/shop_category_full/{{ category.cat_id }}" style="font-weight: bold;">
																{{ category.name }}
															</a>
														</h5>

														<ul  style="text-transform:none">
														{% for subcategory in category.subcategory %}
															<li>
																<a href="/shop_category_full/{{ category.cat_id }}/{{ subcategory.id }}">
																	- {{ subcategory.name }}
																</a>

															</li>
														{% endfor %}
														</ul>
													</div>
													{% endfor %}

												</div>
											</div>
											<!-- /.yamm-content -->
										</li>
									</ul>
								</li>

								<li>
									<!-- PAYMENT AND DELIVERY -->
									<a href="/blog_post/pr">ОПЛАТА И ДОСТАВКА</a>
								</li>

								<li>
									<a href="/blog_post/guarantee">ГАРАНТИЯ</a>
								</li>

								<li>
									<a href="/contact">Контакты</a>
								</li>
							</ul>

						</div>
						<!--/.nav-collapse -->

						<div class="collapse clearfix" id="search">

							<form class="navbar-form" role="search">

								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>

						</div>
						<!--/.nav-collapse -->

					</div>


				</div>
				<!-- /#navbar -->

			</div>

			<!-- *** NAVBAR END *** -->

		</header>

		<!-- *** LOGIN MODAL ***
_________________________________________________________ -->

		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
			<div class="modal-dialog modal-sm">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h5 class="modal-title" id="Login">ВХОД ДЛЯ КЛИЕНТОВ</h5>
					</div>
					<div class="modal-body">
						<form action="{{ path('login') }}" method="post">
							<div class="form-group">
								<input type="text" class="form-control" id="email_modal" placeholder="логин / e-mail" name="_username">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="password_modal" placeholder="пароль" name="_password" >
							</div>

							<p class="text-center">
								<button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> авторизоваться</button>
							</p>

						</form>

						<a href="/recovery_password">
							<p class="text-center">
								<strong> Забыли пароль? </strong>
							</p>
						</a>

						<!-- <p class="text-center text-muted">Еще не зарегистрированы?</p> -->
						<p class="text-center text-muted"><a href="/customer_register"><strong>Зарегистрируйтесь сейчас</strong></a> ! Это легко сделать за одну &nbsp;1 минуту и даст вам доступ к специальным скидкам и многому другому!</p>

					</div>
				</div>
			</div>
		</div>
		<!-- *** LOGIN MODAL END *** -->

		<!-- *** HEADING_BREADCUMBS *** -->
		{% block heading_breadcrumbs %}{% endblock %}
		<!-- *** HEADING_BREADCUMBS END *** -->



		<!-- *** BODY *** -->
		{% block body %}{% endblock %}
		<!-- *** END BODY *** -->

		<!-- *** FOOTER ***
_________________________________________________________ -->

		<footer id="footer">
			<div class="container">
				<div class="col-md-3 col-sm-6">
					<h4>Подпишись на новостную рассылку!</h4>

					<form  action="{{ path('subscribe')}}" method="post" name="subscribe_form">
						<div class="input-group">

							<input type="text" class="form-control" name="subscribe_input" >

							<span class="input-group-btn">
								<button class="btn btn-default btn_sbmt" type="button">
									<i class="fa fa-send"></i>
								</button>
							</span>

						</div>
						<!-- /input-group -->
					</form>


					<hr class="hidden-md hidden-lg hidden-sm">
				</div>



				<!-- Captcha modal -->
				<div class="x_content">
					<div id="captcha_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">

								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
									</button>
								</div>

								<div class="modal-body" style="display: flex; align-items: center; justify-content: center;">
									<div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6Le2t1oUAAAAAPGkBxHjKbI6LreoP8N3XTqlS5VP"></div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
								</div>

							</div><!-- ./modal-content -->
						</div><!-- ./modal-dialog -->
					</div><!-- ./modal -->

				</div>
				<!-- /.col-md-3 -->

				<div class="col-md-3 col-sm-12">

					<h4 class="hidden-xs">Контакты</h4>

					<a href="/contact" class="col-md-12 col-xs-12 btn btn-template-main mt-15 mb-50">Контакты</a>
					<!-- <a href="https://t.me/#" target="_blank">нажмите</a> -->

					<hr class="hidden-md hidden-lg">

				</div>
				<!-- /.col-md-3 -->

				<div class="col-md-5">
					<p class=" lead hidden-xs">Если у вас есть какие-либо вопросы, пожалуйста <a href="/contact"> свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>
				</div>

			</div>
			<!-- /.container -->
			<!-- <a href="https://www.mylivechat.com/chatnoscript.aspx?HCCID=57929172" title="globalpharmachat" target="_blank">globalpharmachat</a> -->
		</footer>
		<!-- /#footer -->
		<!-- *** FOOTER END *** -->


		<!-- END Content elements -->

		<!-- javascripts -->
		{% include '@App/components/index_scripts.html.twig' %}

		<!-- realtime -->
		{% include '@App/components/ajax_req.html.twig' %}
		<!-- realtime END  -->

		<!-- MYLIVE CHAT -->
		<script type="text/javascript">function add_chatinline(){var hccid=82497395;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
		add_chatinline(); </script>

		{% block javascripts %}
		{% endblock %}
		<!-- END javascripts -->
	</body>
</html>

 <!-- app.request.scheme ~'://' ~ app.request.httpHost ~ asset(' -->
