<!DOCTYPE html>
<html>
	<head>
		<!-- *** META *** -->
		{% include '@CP/components/meta.html.twig' %}
		{% block meta %}{% endblock %}
		<!-- *** META END *** -->

		<!-- *** TITLE*** -->
		<title>{% block title %}Welcome!{% endblock %}</title>
		<!-- *** TITLE END *** -->

		<!-- *** STYLESSHEETS *** -->
		{% include '@CP/components/index_links.html.twig' %}

		<!-- needim notify -->
		{% include '@CP/components/notify.html.twig' %}
		<!-- END needim notify -->

		{% block stylesheets %}{% endblock %}
		<!-- *** STYLESSHEETS END  *** -->
	</head>



	<body class="nav-md">
		<!-- Content elements -->

		<!-- *** BODY *** -->
		<div class="container body">
			<div class="main_container">

				{% include '@CP/components/left_col.html.twig' %}

				<!-- page content -->
				{% block body %}{% endblock %}
				<!-- /page content -->


				<!-- footer content -->
				{#
				{% include '@CP/components/copyright.html.twig' %}
				#}
				<!-- /footer content -->
			</div>
		</div>

		<style>
			@media screen and (max-width: 1500px) {
				.dropdown-menu{
					display: none !important;
				}
				.open .dropdown-menu{
					display: block  !important;
				}
			}
		</style>
		<!-- *** END BODY *** -->
		<!-- END Content elements -->

		<!-- javascripts -->
		{% include '@CP/components/index_scripts.html.twig' %}

		{% block javascripts %}{% endblock %}
		<!-- END javascripts -->
	</body>
</html>
