<!DOCTYPE html>
<html>
	<head>
		<!-- *** META *** -->
		{% include '@Courier/components/meta.html.twig' %}
		{% block meta %}{% endblock %}
		<!-- *** META END *** -->

		<!-- *** TITLE*** -->
		<title>{% block title %}Welcome!{% endblock %}</title>
		<!-- *** TITLE END *** -->

		<!-- *** STYLESSHEETS *** -->
		{% block stylesheets %}{% endblock %}
		<!-- needim notify -->
		{% include '@CP/components/notify.html.twig' %}
		<!-- END needim notify -->
		<!-- *** STYLESSHEETS END  *** -->
	</head>


	<body class="nav-md">
		<!-- Content elements -->

		<!-- *** BODY *** -->
		<div class="container body">
			<div class="main_container">

				{% include '@Courier/components/left_col.html.twig' %}

				<!-- page content -->
				{% block body %}{% endblock %}
				<!-- /page content -->


				<!-- footer content -->
				{% include '@Courier/components/copyright.html.twig' %}
				<!-- /footer content -->
			</div>
		</div>
		<!-- *** END BODY *** -->

		<!-- END Content elements -->

		<!-- javascripts -->
		{% block javascripts %}{% endblock %}
		<!-- END javascripts -->
	</body>
</html>
