<!-- footer content -->
<footer>
	<div class="pull-right">
		All right reserverd. Developed by <a href="http://www.iucosoft.com/">IUCOSOFT</a>
	</div>
	<div class="clearfix"></div>
</footer>
<!-- /footer content -->