<button type="button" class="btn btn-default mr-15" data-toggle="modal" data-target=".delivery_cost">
	цена за доставку
</button>


<div class="x_content">
	<!-- modals -->

	<div class="modal fade delivery_cost" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;" id="delivery_cost">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>

					<h4 class="modal-title" id="myModalLabel">
						цена за доставку
					</h4>
				</div>

				<div class="modal-body" style="overflow: scroll;">

					<div class="row">
						<form action="/newDeliverycost" method="post">
							<div class="col-xs-4">
								<input type="number" id="price_delimiter" placeholder="Ценовой разделитель"  name="price_delimiter" class="form-control">
							</div>

							<div class="col-xs-4">
								<input type="number" id="delivery_cost" placeholder="цена за доставку" name="delivery_cost" class="form-control">
							</div>

							<div class="col-xs-4">
								<button type="submit" class="btn btn-default" >Создать</button>
							</div>
						</form>

					</div>

					<hr>
					<!--  Set product count and price  -->
					<div class="row">
						<table id="new_course_table" class="table table-responsive" >
							<thead>
								<tr>
									<!-- id -->
									<th>ИД</th>

									<!-- more than -->
									<th> Более чем </th>

									<!-- delivery cost  -->
									<th> Цена </th>

									<!-- rmv  -->
									<th> Удалить </th>
								</tr>
							</thead>

							<tbody class="course_tbody">
								{% if Delivery_cost is defined and Delivery_cost is not empty %}
								{% for item in Delivery_cost %}
									<tr>
										<!-- id -->
										<td> {{ item.id }} </td>

										<!-- more than -->
										<td> {{ item.priceDelimiter }} <i class="fa fa-rub" aria-hidden="true"></i></td>

										<!-- delivery cost  -->
										<td> {{ item.deliveryCost }} <i class="fa fa-rub" aria-hidden="true"></i></td>

										<!-- rmv  -->
										<td>
											<a href="/rmvDeliverycost/{{  item.id }}" class="btn  btn-default "> <i class="fa fa-trash"></i></a>
										</td>
									</tr>
								{% endfor %}
								{% endif %}

							</tbody>

						</table>
					</div>
				</div> <!-- ./ Modal body -->

				<div class="modal-footer">

					<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
				</div>

			</div><!-- ./modal-content -->
		</div><!-- ./modal-dialog -->
	</div><!-- ./modal -->

</div><!-- /.x_content -->