<link rel="icon" href=" {{asset('custom_for_courier_admin/images/favicon.ico')}}" type="image/ico" />
<!-- Bootstrap -->
<link href="{{ asset('custom_for_courier_admin/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{{ asset('custom_for_courier_admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
<!-- NProgress -->
<link href="{{ asset('custom_for_courier_admin/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
<!-- iCheck -->
<link href="{{ asset('custom_for_courier_admin/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">

<!-- bootstrap-progressbar -->
<link href="{{ asset('custom_for_courier_admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">

<!-- JQVMap -->
<link href="{{ asset('custom_for_courier_admin/vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>

<!-- bootstrap-daterangepicker -->
{#
<link href="{{ asset('custom_for_courier_admin/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
#}
<!--.........................................................................
						 Datatables
.......................................................................... -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<!-- material design -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css"/>
<style>
.mdl-data-table td, .mdl-data-table th{
	text-align: left ;
}
</style>

<!-- responsive -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css"/>

<!-- Ion.RangeSlider -->
<link href="{{ asset('custom_for_courier_admin/vendors/normalize-css/normalize.css')}}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/ion.rangeSlider/css/ion.rangeSlider.css')}}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css')}}" rel="stylesheet">
<!-- Bootstrap Colorpicker -->
<link href="{{ asset('custom_for_courier_admin/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css')}}" rel="stylesheet">

<link href="{{ asset('custom_for_courier_admin/vendors/cropper/dist/cropper.min.css')}}" rel="stylesheet">

<!-- bootstrap-wysiwyg -->
<link href="{{asset('custom_for_courier_admin/vendors/google-code-prettify/bin/prettify.min.css')}}" rel="stylesheet">
<!-- Select2 -->
<link href="{{asset('custom_for_courier_admin/vendors/select2/dist/css/select2.min.css')}}" rel="stylesheet">

<!-- tagsinput -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">

<!-- Switchery -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet"> -->

<!-- starrr -->
<link href="{{asset('custom_for_courier_admin/vendors/starrr/dist/starrr.css')}}" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="{{asset('custom_for_courier_admin/build/css/custom.min.css')}}" rel="stylesheet">
