<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!-- Bootstrap -->
<script src="{{asset('custom_for_courier_admin/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- FastClick -->
<script src="{{asset('custom_for_courier_admin/vendors/fastclick/lib/fastclick.js')}}"></script>
<!-- NProgress -->
<script src="{{asset('custom_for_courier_admin/vendors/nprogress/nprogress.js')}}"></script>


<!-- bootstrap-wysiwyg -->
<script src="{{asset('custom_for_courier_admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js')}}"></script>
<script src="{{asset('custom_for_courier_admin/vendors/jquery.hotkeys/jquery.hotkeys.js')}}"></script>
<script src="{{asset('custom_for_courier_admin/vendors/google-code-prettify/src/prettify.js')}}"></script>

<!-- bootstrap-progressbar -->
<script src="{{asset('custom_for_courier_admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
<script src="{{asset('custom_for_courier_admin/vendors/moment/min/moment.min.js')}}"></script>
 

<!-- ..............................
		DataTable
................................. -->
<!-- data tables jquery -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- material data table -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<!-- responsive data table -->
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>

<!-- bootstrap-datetimepicker -->    
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<!-- bootstrap Tags Input -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>


<!-- WORD EXPORT -->
<!-- <script src="https://www.jqueryscript.net/demo/Export-Html-To-Word-Document-With-Images-Using-jQuery-Word-Export-Plugin/FileSaver.js"></script> -->
<!-- <script src="https://www.jqueryscript.net/demo/Export-Html-To-Word-Document-With-Images-Using-jQuery-Word-Export-Plugin/jquery.wordexport.js"></script> -->


<!-- .............................
	PRINT RECIPIENT ADDRESS
.................................. -->
<script>
function export2Word( element ) { 
	var html, link, blob, url, css;

	css = (
		'<style>' +
			'@page WordSection1{size: 5.6cm 4.0cm;mso-para-margin: 0.3cm;}' +
			'div.WordSection1 {page: WordSection1;}' +
			'table{border-collapse:collapse;}'+
		'</style>'
	);

	html = element.innerHTML;

	blob = new Blob(['\ufeff', css + html], {
		type: 'application/msword'
	});
 
	url = URL.createObjectURL(blob);
	link = document.createElement('A');
	link.href = url;
	link.download = 'Document';  // default name without extension

	document.body.appendChild(link);

	if (navigator.msSaveOrOpenBlob ) navigator.msSaveOrOpenBlob( blob, 'Document.doc'); // IE10-11
	else link.click();  // other browsers

	document.body.removeChild(link);
};

/*--------------------------------------------------------------------------
			Massiv Export
--------------------------------------------------------------------------*/
function massivExportApart() {
	var rows = table.rows('.selected').data()
	if (!rows.length) {
		new Noty({
			text: 'Выберите заказ (ы) для печати',
			type: 'error',
			layout: 'topRight',
			timeout: 3500
		}).show()

		return null
	} 

	for(var i = 0; i < rows.length; i++){
		order_uniqid = $(rows[i][0]).find('.order_uniqid').val();
		address = $('#docx' + order_uniqid)[0];

		if (!order_uniqid) {
			new Noty({
				text: 'Системная неполадка не найден адрес для печати',
				type: 'error',
				layout: 'topRight',
				timeout: 3500
			}).show()

			return null
		}

		export2Word(address)
	}
}

function massivExport() {
	var rows = table.rows('.selected').data()
	if (!rows.length) {
		new Noty({
			text: 'Выберите заказ (ы) для печати',
			type: 'error',
			layout: 'topRight',
			timeout: 3500
		}).show()

		return null
	} 

	commonDiv = $('<div id="docxMsv"></div>');

	for(var i = 0; i < rows.length; i++){
		order_uniqid = $(rows[i][0]).find('.order_uniqid').val();
		address = $('#docx' + order_uniqid)[0];
		ws1 = $(address).find('.WordSection1');

		commonDiv.append(ws1);

		if (!order_uniqid) {
			new Noty({
				text: 'Системная неполадка не найден адрес для печати',
				type: 'error',
				layout: 'topRight',
				timeout: 3500
			}).show()

			return null
		}
	}

	export2Word(commonDiv[0]);
}



</script>

<!-- bootstrap-switch -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script> -->

<script>
// Submit form when table is responsive
function submitForm(rowId, target) {
	var form = $('<form action="/'+ target +'" method="post" name="prodUpdate"></form>');
	var row = $(rowId); 
	var row_child = $(rowId).next(); 
	var class_child = row_child.attr("class");

	form.append(row);

	if (class_child == "child") {
		form.append(row_child);
	}

	$(document.body).append(form);

	form.submit();
}

// Get wysiwyg_content  and set her value to id #wysiwyg_content
function setVal(){
	val = $('#editor').html()
	$('#wysiwyg_content').html(val);
}


/* wysiwyg string to html
	method get two parametres
	1 - from what div need to get value 
	2 - which element nedd to attrib this value
*/
function stringToHtml(element){
	pd_string = $(element).text();
	pd_html = $.parseHTML(pd_string);
	$(element).html(pd_html);
};


/*            Qiwi checker
 -------------------------------------------------------------------------*/
function qiwiChecker(){
	$.ajax({
		url:'/qiwiPaymentValidation',
		type: "get",
		dataType: "json",
		data: {
		},
		async: true,
		success: function (data)
		{

			if (data.type !== "none") {
				new Noty({
					text: data.output,
					type: data.type,
					layout: 'topRight',
					timeout: 3500
				}).show()
			}
		}
	});

	return false;
}

</script>


<script>
	$('.external').click(function(event) {
		href = $(this).attr('whref');

		window.open(href);
	});

</script>


<script>

// $(document).ready(function() {

	// $('.btn').click(function(event) {
		// console.log( $('.modal-backdrop') )
// 		console.log( 'vasea' )
// 	});
// });

</script>


<!-- Custom Theme Scripts -->
<script src="{{asset('custom_for_courier_admin/build/js/custom.min.js')}}"></script>