<div class="col-md-3 left_col">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
			<a href="/cpanel" class="site_title"><!-- <i class="fa fa-paw"></i> --> <span>Панель админ..</span></a>
		</div>

		<div class="clearfix"></div>

		<!-- menu profile quick info -->
		<div class="profile clearfix">
			<div class="profile_pic">
				<img src="{{ asset('custom_for_courier_admin/images/user.png') }}" alt="..." class="img-circle profile_img">
			</div>
			<div class="profile_info">
				<span>Добро пожаловать,</span>
				<h2>{{ app.user.username }} </h2>
			</div>
		</div>
		<!-- /menu profile quick info -->

		<br />

		<!-- sidebar menu -->
		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section">
				<!-- <h3>Список : </h3> -->
				<!-- <div class="divider"></div> -->
				<ul class="nav side-menu">
					<!-- Статистика -->
					<li><a href="/cpanel"><i class="fa fa-bar-chart"></i>Статистика<span class="fa fa-chevron-right"></span></a></li>
					<!-- заказы -->
					<li><a href="/allorders"><i class="fa fa-truck"></i>Заказы<span class="fa fa-chevron-right"></span></a></li>
					<!-- Склад -->
					{% if is_granted('ROLE_ADMIN') %}
					<li><a href="/stockcp"><i class="fa fa-database"></i>Склад<span class="fa fa-chevron-right"></span></a></li>
					{% endif %}

					<!-- Скидки -->
					{#
					<li><a href="#">%  Скидки<span class="fa fa-chevron-right"></span></a></li>
					#}

					<!-- пользователи -->
					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<li><a><i class="fa fa-users"></i>пользователи<span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/sadm">Супер Администраторы</a></li>
							<li><a href="/Managers">Администраторы</a></li>
							<li><a href="/Couriers">Курьеры</a></li>
							<li><a href="/Clients">Клиенты</a></li>
						</ul>
					</li>
					{% endif %}

					{% if is_granted('ROLE_ADMIN') %}
					<!-- Продукция -->
					<li><a><i class="fa fa-cubes"></i> Продукция <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/Manufacturers">Производители</a></li>
							<li><a href="/Categorylist">Категория</a></li>
							<li><a href="/Subcategorylist">Подкатегории</a></li>
							<li><a href="/Productslist">Товары</a></li>
							<li><a href="/listCourse">Курсы</a></li>
						</ul>
					</li>
					{% endif %}

					{% if is_granted('ROLE_ADMIN') %}
					<li><a href="/listCoupon"><i class="fa fa-tags"></i>Купоны <span class="fa fa-chevron-right"></span> </a> </li>
					{% endif %}

					{% if is_granted('ROLE_ADMIN') %}
					<!-- Подписки -->
					<li><a><i class="fa fa-paperclip"></i> Подписки <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/newsletsubslist">На новости</a></li>
							<li><a href="/productsubslist">На товар</a></li>
						</ul>
					</li>
					{% endif %}

					<!-- testimonialsList -->
					{% if is_granted('ROLE_ADMIN') %}
						<li><a href="/testimonialsList"><i class="fa fa-quote-left"></i>Отзывы<span class="fa fa-chevron-right"></span></a></li>
					{% endif %}

					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<li>
						<a><h3>Контент страницы <span class="fa fa-chevron-down"></span></h3></a>
						<ul class="nav child_menu">
							<li><a href="/listHomeCarousel">Главная</a></li>
						</ul>
					</li>
					{% endif %}

					<!-- message -->
<!-- 					<li>
						<a href="/setMail">
							Настроики эл.почьты
							<span class="fa fa-chevron-right"></span>
						</a>
					</li> -->

					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<li>
						<a>
							<i class="fa fa-credit-card"></i>Кошелёк
							<span class="fa fa-chevron-down"></span>
						</a>

						<ul class="nav child_menu">
							<li><a href="/qiwiSettings">QIWi</a></li>
							<li><a href="/wexListWallet">WEX</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>
			</div>

		</div>
		<!-- /sidebar menu -->

		<!-- /menu footer buttons -->
		<div class="sidebar-footer hidden-small">
<!-- 			<a data-toggle="tooltip" data-placement="top" title="Settings">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="FullScreen">
				<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Lock">
				<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			</a> -->
			<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.php">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			</a>
		</div>
		<!-- /menu footer buttons -->
	</div>
</div>

<!-- top navigation -->
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>

			<ul class="nav navbar-nav navbar-right">


				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img src="{{ asset('custom_for_courier_admin/images/user.png') }}" alt=""> {{ app.user.username }}
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">

						{% if is_granted('ROLE_SUPER_ADMIN') %}
						<li>
							<a href="/shop_state_list">
								Статус магазина
							</a>
						</li>
						{% endif %}

						<li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Выйти</a></li>
					</ul>
				</li>

				<li> <a href="#"> <button type="button" class="btn btn-round btn-default external" whref='/'>К сайту</button> </a> </li>

			</ul>
		</nav>
	</div><!-- ./nav_menu -->
</div><!-- ./top_nav -->
<!-- /top navigation -->