
<style>
	#new_course_table .new_course_tbody .old_price {
		display: none;
	}
</style>

<button type="button" class="btn btn-default new_course_btn" data-toggle="modal" data-target=".new_course" onclick="selectProductsOnCourse()">
	<i class="fa fa-cubes"></i>
	Создать курс
</button>


<div class="x_content">
	<!-- modals -->

	<div class="modal fade new_course" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;" id="newCourse">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					</button>

					<h4 class="modal-title" id="myModalLabel">
						Создать курс
					</h4>
				</div>

				<div class="modal-body" style="overflow: scroll;">
					<!--  Set course Name -->
					<div class="row">
						<!-- Name -->
						<div class="form-group">
							<label class="control-label col-md-2 col-md-offset-2 col-sm-3 col-xs-12" for="curs_name">
								Наименование
								<span class="required red">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="text" id="curs_name"
								 placeholder="Введите Название курса" 
								 class="form-control col-md-7 col-xs-12">
							</div>
						</div>

						<br>
						<br>

						<!-- Выделить -->
						<div class="form-group">
							<label class="control-label col-md-2 col-md-offset-2 col-sm-3 col-xs-12" for="curs_name">Выделить <span class="required red">*</span>
							</label>
							<!-- <input type="checkbox" class="js-switch" checked  id="best" /> -->
							<div class="form-group col-md-6 col-sm-6 col-xs-12">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="best">
									<label class="form-check-label" for="best" style="cursor:pointer">
										Выделить курс
									</label>
								</div>
							</div>
						</div>

						<br>
						<br>

					</div>

					<!--  Set product count and price  -->
					<div class="row">
						<table id="new_course_table" class="table table-responsive" >
							<thead>
								<tr>
									<!-- product id -->
									<th>п.ид</th>

									<!-- product name -->
									<th>п.название</th>

									<!-- product dosage  -->
									<th>п.дозировка</th>

									<!-- product count  -->
									<th>п.количество</th>

									<!-- product amount -->
									<th>п.цена <i class="fa fa-rub" aria-hidden="true"></i></th>
								</tr>
							</thead>

							<tbody class="new_course_tbody">


							<tbody>

							<tfoot>
								<th colspan="4">
									Финальная сумма к оплате: 
								</th>
								<th><span id="final_amount" class=""></span> <i class="fa fa-rub" aria-hidden="true"></i></th>
							</tfoot>

						</table>
					</div>
				</div> <!-- ./ Modal body -->

				<div class="modal-footer">
					<button type="button" class="btn btn-default create_course_btn" onclick="newCourse()">Создать</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
				</div>

			</div><!-- ./modal-content -->
		</div><!-- ./modal-dialog -->
	</div><!-- ./modal -->

</div><!-- /.x_content -->