<button type="button" class="btn btn-default mr-15" data-toggle="modal" data-target=".new_coupon">
	создать купон
</button>


<div class="x_content">
	<!-- modals -->

	<div class="modal fade new_coupon" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;" id="new_coupon">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>

					<h4 class="modal-title" id="myModalLabel">
						создать купон
					</h4>
				</div>

				<form action="/newCoupon" method="post">
				<div class="modal-body" style="overflow: scroll; min-height: 500px;">

					<div class="row">
							<!-- coupon name -->
							<div class="col-xs-12">
								<div class="col-xs-12">
								<input type="text" id="coupon_name" placeholder="Название купона"  name="coupon_name" class="form-control" required>
								</div>
							</div>

							<br>
							<br>
							<hr>

							<!-- LIFE SPAN -->
							<div class="col-xs-12">
								<!-- From date-->
								<div class="col-xs-6">
									<fieldset>
										<div class="form-group">
											<div class="input-group date" id="fromDate">
												<input type="text" name="fromDate" class="form-control fromDate" placeholder="ОТ" required>
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
									</fieldset>
								</div>
								<!-- ./From date -->

								<!-- To date -->
								<div class="col-xs-6">
									<fieldset>
										<div class="form-group">
											<div class="input-group date" id="toDate">
												<input type="text" name="toDate" class="form-control toDate" placeholder="ДО" required>
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
									</fieldset>
								</div>
								<!-- ./To date -->
							</div>

							<br>
							<br>
							<hr>

							<!-- discount percent -->
							<div class="col-xs-12">
								<div class="col-xs-12">
								<input type="number"  step="any" id="discount_percent" placeholder="Процент скидки"  name="discount_percent" class="form-control" required min="0">
								</div>
							</div>


					</div>

				</div> <!-- ./ Modal body -->

				<div class="modal-footer">
					<button type="submit" class="btn btn-default" >Создать</button>

					<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
				</div>
				</form>

			</div><!-- ./modal-content -->
		</div><!-- ./modal-dialog -->
	</div><!-- ./modal -->

</div><!-- /.x_content -->