<link rel="stylesheet" href="{{ asset('custom_for_courier_admin/vendors/needim/notify/lib/noty.css') }}">
<script src="{{ asset('custom_for_courier_admin/vendors/needim/notify/lib/noty.min.js') }}"></script>
<!-- DOC 
	Types: 
	alert, success, warning, error, info/information

	Layouts: 
	top, topLeft, topCenter, topRight, center, centerLeft, centerRight, bottom, bottomLeft, bottomCenter, bottomRight 

 DOC END  -->
{% for label, messages in app.flashes %}

	{% if label == "alert" %}
		<div id="mzfk" class="flash-notice" style="display:none;">
			{{messages[0]}}
		</div>
		<script>
			var test = document.getElementById("mzfk").innerHTML;

			new Noty({
				text: test,
				type: 'alert',
				layout: 'topRight',
				timeout: 3500
			}).show()
		</script>

	{% elseif (label == "success") %}
		<div id="mzfk" class="flash-notice" style="display:none;">
			{{messages[0]}}
		</div>
		<script>
			var test = document.getElementById("mzfk").innerHTML;

			new Noty({
				text: test,
				type: 'success',
				timeout: 3500
			}).show()
		</script>
	{% elseif (label == "warning") %}
		<div id="mzfk" class="flash-notice" style="display:none;">
			{{messages[0]}}
		</div>
		<script>
			var test = document.getElementById("mzfk").innerHTML;

			new Noty({
				text: test,
				type: 'warning',
				timeout: 3500
			}).show()
		</script>

	{% elseif (label == "error") %}
		<div id="mzfk" class="flash-notice" style="display:none;">
			{{messages[0]}}
		</div>
		<script>
			var test = document.getElementById("mzfk").innerHTML;

			new Noty({
				text: test,
				type: 'error',
				timeout: 3500
			}).show()
		</script>

	{% elseif (label == "info") %}
		<div id="mzfk" class="flash-notice" style="display:none;">
			{{messages[0]}}
		</div>
		<script>
			var test = document.getElementById("mzfk").innerHTML;

			new Noty({
				text: test,
				type: 'info',
				timeout: 3500
			}).show()
		</script>
	{% else %}
		<div id="mzfk" class="flash-notice" style="display:none;">
			{{messages[0]}}
		</div>
		<script>
			var test = document.getElementById("mzfk").innerHTML;

			new Noty({
				text: test,
				timeout: 3500
			}).show()
		</script>
	{% endif %}


{% endfor %}