{% extends "baseCP.html.twig" %}

{% block title %}Заказы{% endblock %}
 
{% block stylesheets %}
<style>
	.address_element {
		display: flex;
	}
	.order_failed {
		background: #ff00000f !important;
	}
	.on_consideration {
		background: #ffb1000d!important;
	}

</style>
{% endblock %} 

{% block body %}

<!-- page content -->
<div class="right_col" role="main">


		<div class="row">

			<!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->
				<div class="x_panel">
					<div class="x_title">
						<h2>Заказы</h2>

						<ul class="nav navbar-right panel_toolbox">
							<li>
								<!-- <a class="collapse-link"><i class="fa fa-chevron-up"></i></a> -->
								<button type="button" class="btn btn-dark" onclick="$('#filters').toggle('slow');">
									Фильтры
								</button>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>

					<!-- Filters -->
					<!-- inputs -->
					<div id="filters" class="row filters" style="display:none;">
						<div class="col-md-2 col-sm-2 col-xs-6" style="border-left: 1px solid #ddd;">
							<form action="#">
								<!-- From date-->
								<fieldset>
									<span>По дате добавления</span>
									<div class="form-group">
										<div class='input-group date' id='fromByDate'>
											<input type='text' name="fromByDate" class="form-control fromByDate" placeholder="ОТ" />
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
								</fieldset>
								<!-- ./From date -->

								<!-- To date -->
								<fieldset>
									<div class="form-group">
										<div class='input-group date' id='toByDate'>
											<input type='text' name="toByDate" class="form-control toByDate" placeholder="ДО" />
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
								</fieldset>
								<!-- ./To date -->

								<div>
									<button type="button" class="btn btn-dark right" style="float:right;" onclick="sortByDate()">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</form>
						</div>

						<!-- По дате оплаты -->
						{% if is_granted('ROLE_SUPER_ADMIN') %}
						<div class="col-md-2 col-sm-2 col-xs-6" style="border-left: 1px solid #ddd;">
							<form action="#">
								<span>По дате оплаты</span>
								<!-- From date-->
								<fieldset>
									<div class="form-group">
										<div class='input-group date' id='datetimepicker_paidate_from'>
											<input type='text' name="rate_date_from" class="form-control rate_date_from" placeholder="ОТ" />
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
								</fieldset>
								<!-- ./From date -->

								<!-- To date -->
								<fieldset>
									<div class="form-group">
											<div class='input-group date' id='datetimepicker_paidate_to'>
												<input type='text'  name="rate_date_to" class="form-control rate_date_to" placeholder="ДО" />
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
								</fieldset>
								<!-- ./To date -->

								<div class="row">
									<div class="col-md-8">
										<span>Тариф всего : заказов всего: <span id="total_rate"></span></span>
										
									</div>
									<button type="button" class="btn btn-dark col-md-4" style="float:right;" onclick="calcRate()">
										<i class="fa fa-search"></i>
									</button>
								</div>

							</form>
						</div>
						{% endif %}

					</div> <!-- ./row -->

					<div class="divider"></div>

					<div class="filters">
						<!-- new_order -->
						{#
						{% if is_granted('ROLE_ADMIN') %}
						<button type="button" class="btn" onclick="sortBy('new_order')">
							Новые
							<span class="badge bg-white">{{ orders_statistics['new_order']['nr'] }}</span>
						</button>
						{% endif %}
						#}

						{% if is_granted('ROLE_ADMIN') %}
						<button type="button" class="btn" onclick="sortBy('pending_payment')">
							Неоплаченные
							<span class="badge bg-white">{{ orders_statistics['pending_payment']['nr'] }}</span>
						</button>
						{% endif %}

						<!-- to_courier -->
						<button type="button" class="btn new_of_courier" onclick="sortBy('to_courier')">
							{% if is_granted('ROLE_COURIER') %}
								Новые
								<span class="badge bg-white">
									{{
										orders_statistics['to_courier']['nr']
									}}
								</span>
							{% else %}
								У курьера
								<span class="badge bg-white">
									{{orders_statistics['to_courier']['nr']}}
								</span>
							{% endif %}
						</button>

						<!-- on_package -->
						<button type="button" class="btn" onclick="sortBy('on_package')">
							на упаковке 
							<span class="badge bg-white">
								{{ orders_statistics['on_package']['nr'] }}
							</span>
						</button>


						{% if is_granted('ROLE_ADMIN') %}
						<button type="button" class="btn" onclick="sortBy('order_failed')">
							Ошибка заказа
							<span class="badge bg-white">{{ orders_statistics['order_failed']['nr'] }}</span>
						</button>
						{% endif %}

						<button type="button" class="btn" onclick="sortBy('sent')">
							Высланные
							<span class="badge bg-white">{{ orders_statistics['sent']['nr'] }}</span>
						</button>

						{% if orders_statistics['priority_orders']['nr'] > 0 %}
						<button type="button" class="btn red" onclick="sortBy('priority_orders')">
						{% else %}
						<button type="button" class="btn" onclick="sortBy('priority_orders')">
						{% endif %}
							Приоритетные заказы
							<span class="badge bg-white"> {{ orders_statistics['priority_orders']['nr'] }} </span>
						</button>

						{% if is_granted('ROLE_ADMIN') %}
						<button type="button" class="btn" onclick="sortBy('coupon')">
							Купон
							<span class="badge bg-white">{{ orders_statistics['coupon']['nr'] }}</span>
						</button>
						{% endif %}

						<button type="button" class="btn bg-green" onclick="reset()">
							Сброс
						</button>

					</div>

					<!-- inputsEND  -->

					<div class="divider"></div>


					<!-- Filters END  -->
					<div class="x_content">
						<button type="button" class="btn btn-default ml-10" style="" 
							data-toggle="tooltip" data-placement="top" data-original-title="Массивная печать"
							onclick="massivExport()">
							Print
						</button> 

						<table id="orders_table" class="mdl-data-table display responsive nowrap">
							<thead>
								<tr>
									<th>Заказ</th>

									<th>
										Доп.инф
									</th>

									<!-- payment status -->
									{% if is_granted('ROLE_ADMIN') %}
									<th>Статус оплаты</th>
									{% endif %}

									<th>Статус доставки</th>
									<th>Создан | Оплачен</th>

									<th>Треккод</th>
									<th>Тариф</th>
									<th>Управление</th>
								</tr>
							</thead>

							<tbody> 
								{% for order in orders %}


									{% if order.order_status == "order_failed" %}
									<tr class="order_failed  order_row  {{order.uniqid}}" id="row_{{order.id}}">
									{% else %}
									<tr id="row_{{order.id}}" class="order_row {{order.uniqid}}">
									{% endif %}

											<!-- ..............................................
												Номер заказ и детали 
											.................................................-->
											<td>
												<p style="display:none;"> {{ loop.index }}</p>
												{{order.id}}
												<br>

												{% include '@CP/components/order_content/order_content.html.twig' %}
											</td>

											<!-- ..............................................
													Адрес доставки 
											.................................................-->
											<td>
												<p style="display:none;"> u{{order.idUser}}</p>

												<!-- modals -->
												<div class="x_content">

												<!-- recipient detail -->
												<button type="button" class="btn  btn-default"
													data-toggle="modal"
													data-target=".bs{{order.uniqid}}{{order.idRecipient}}">

													<i class="fa fa-info"></i>
												</button>

												<div class="modal fade bs{{order.uniqid}}{{order.idRecipient}}" tabindex="1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																<!-- ..................................
																		Delivery address
																.................................... -->
																<div class="row">
																	<h4 class="text-center">
																		<strong> Адрес доставки : </strong>
																	</h4>
																	<div class="col-md-12">
																		{% include '@App/components/all_ordrers_delivery_address.html.twig' %}
																	</div>
																</div>

																<!-- ..................................
																		Payment method
																.................................... -->
																{% if is_granted('ROLE_ADMIN') %}
																<div class="row">
																	<hr>
																	<h4 class="text-center">
																		<strong> Способ оплаты : </strong>
																	</h4>
																	<div class="col-md-12">
																		{% if order.paymentMethod is not empty %}
																			{{ order.paymentMethod }}
																		{% else %}
																			<p class="red"> Способ оплаты не указан </p>
																		{% endif %}
																	</div>
																</div>
																{% endif %}

																<!-- ..................................
																		Delivery method
																.................................... -->
																<div class="row">
																	<hr>
																	<h4 class="text-center">
																		<strong> Метод доставки : </strong>
																	</h4>
																	<div class="col-md-12">
																		{{ order.deliveryMethod }}
																	</div>
																</div>

															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./END delivery detail modal -->


												<!-- error message -->
												{% if order.error_message is not empty and is_granted('ROLE_COURIER') != true %}
													<button type="button" class="btn  btn-default" data-toggle="modal" 
														data-target=".error_message{{order.uniqid}}">

														<i class="fa fa-warning red"></i>
													</button>

													<!--  					Client error notify 								 -->
													{% include '@App/components/client_order_error_notify.html.twig' %}
													<!-- 																				 -->
												{% endif %}

												</div>
											</td>


											<!-- ..............................................
														payment status
											...............................................-->
											{% if is_granted('ROLE_ADMIN') %}
											<td>
												{% if order.checked is not empty %}
													<!-- if order is checked complet -->
													{% include '@CP/components/order_checked/order_checked_detal.html.twig' %}
												{% endif %}

												<select class="form-control col-md-8" name="payment_status">
													{% include '@CP/components/order_status/order_payment_status.html.twig' %}
												</select>
											</td>
											{% endif %}


											<!-- ..............................................
														delivery status
											...............................................-->
											<td>
												<select class="form-control" name="delivery_status"  style="min-width: 80%;">
													{% include '@CP/components/order_status/order_delivery_status.html.twig' %}
												</select>
											</td>

											<!-- ..............................................
														Создан | Оплачен
											...............................................-->
											<td>
												<!-- Создан -->
												<p style="margin-bottom: 5px;">
													 C : {{ order.date|date('d.m.y') }}
												</p>

												<!-- Оплачен -->
												{% if is_granted('ROLE_ADMIN') %}
												{% endif %}
													{% if order.payment_date is empty %}
														<p class="red"> О : Ожидает <br> оплыты</p>
													{% else %}
														<p class="green">О :  {{ order.payment_date|date('d.m.y') }} </p>
													{% endif %}
											</td>


											<!-- ..............................................
													Треккод
											.................................................-->
											<td>
												{% if order.paymentStatus == 'paid' %}
													<p style="display:none;">trek{{order.trackСode}}</p>
													<input type="text" class="form-control" value="{{order.trackСode}}" name="tackCode"
													min="1" maxlength="14" placeholder="Введите трек код">
												{% else %}
													-------
												{% endif %}
											</td>

											<!-- ..............................................
													Тариф
											...............................................-->
											<td>
												{% if order.paymentStatus == 'paid' %}
													<p style="display:none;">tar{{order.rate}}</p>
													<input type="text" class="form-control" value="{{ order.rate }}" name="rate">
												{% else %}
													-------
													<p style="display:none;">tar{{order.rate}}</p>
												{% endif %}
											</td>


											<!-- Управление -->
											<td>
												<div class="x_content">

												<!-- modals -->
												<!-- change -->
												{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COURIER') and order.order_status != 'order_failed'%}
												<button type="button" class="btn btn-default" onclick="submitForm('#row_{{order.id}}', 'updateOrder')"
													data-toggle="tooltip" data-placement="top" data-original-title="изменить" style="margin-right: 10px;">

													<i class="fa fa-edit"></i>
												</button>

												<!-- print -->
												{% include '@CP/components/order_print_address/order_print_address.html.twig' %}
												{% endif %}


												<!-- trash -->
												{% if is_granted('ROLE_SUPER_ADMIN') %}
												<button type="button" class="btn  btn-default" data-toggle="modal" data-target=".bs{{loop.index * 200}}">
													<i class="fa fa-trash"></i>
												</button>
												{% endif %}

												<div class="modal fade bs{{loop.index * 200}} modal_{{order.id}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																<h4 class="modal-title" id="myModalLabel">
																	Вы уверены что хотите удалить заказ: <br>
																	uniqid: {{order.uniqid}}, <br>
																	id: {{order.id}}
																</h4>
															</div>

															<div class="modal-footer">
																<button type="button btn_hide" class="btn btn-default" data-dismiss="modal">закрыть</button>
																<button type="button" class="btn btn-primary" onclick="removeOrder({{order.id}})">
																	<i class="fa fa-trashs"></i> удалить
																</button>
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->

												</div>
											</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

					</div>
				</div>
			<!-- </div> -->
		</div>
	</div>
</div>
<!-- /page content -->
{% endblock %}


{% block javascripts %}
<script src="{{asset('custom_for_courier_admin/build/js/compatibility.min.js')}}"></script>
<script src="{{asset('custom_for_courier_admin/build/js/theViewer.min.js')}}"></script>

	<!--  .........................................................................
						Get main settings
	............................................................................-->
	<script>
	function getSett(columnDefs = null){
		var custom_settings = {
			columnDefs: [
				{className: 'mdl-data-table__cell--non-numeric' },
				{ responsivePriority: 0, targets: 0 },
				{ responsivePriority: 1, targets: 7 },
				{ responsivePriority: 2, targets: 2 },
				{ responsivePriority: 3, targets: 3 },
				{ responsivePriority: 4, targets: 4 },
				{ responsivePriority: 5, targets: 1 },
				{ responsivePriority: 6, targets: 5 },
				{ responsivePriority: 7, targets: 6 }
			]
		};


		if (columnDefs == 'not_auth') {
			custom_settings.columnDefs = [
				{className: 'mdl-data-table__cell--non-numeric' },
				{ responsivePriority: 0, targets: 0 },
				{ responsivePriority: 1, targets: 6 },
				{ responsivePriority: 2, targets: 2 },
				{ responsivePriority: 3, targets: 3 },
				{ responsivePriority: 4, targets: 1 },
				{ responsivePriority: 5, targets: 4 },
				{ responsivePriority: 6, targets: 5 }
			]
		}

		return custom_settings;
	}
	</script>

	<!--  .........................................................................
		Custom functionality for check if customer is authorized
	............................................................................-->
	{% if is_granted('ROLE_ADMIN') %}
	<script>
			csettings = getSett();
	</script>
	{% else %}
	<script>
			csettings = getSett('not_auth');
	</script>
	{% endif %}

<script>

/*--------------------------------------------------------------------------
			Work with datatable
--------------------------------------------------------------------------*/
	var columnDefs = csettings.columnDefs;

	var table = $('#orders_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		responsive: true,
		columnDefs: columnDefs,
		autoFill: true,
		buttons: [ 
			'print'
		],
		"pageLength": 50
	});


	 // Select multiple rows
	$('#orders_table tbody').on( 'click', 'tr', function () {
		$(this).toggleClass('selected');
	} );

	// manipulate selected rows 
	$('#button').click( function () {
		console.log( table.rows('.selected').data() );
	} );


/*--------------------------------------------------------------------------
			Filter sort by
--------------------------------------------------------------------------*/
function sortBy(target){
	global_order_statistics = {{  orders_statistics|json_encode|raw }};
	order_arr = global_order_statistics[target]['orders_id']

	$('.order_row').fadeOut();

	for (var order in order_arr) {
		$('#row_' + order_arr[order]).fadeIn();
	}
}

function reset(){
	$('.order_row').fadeIn();
}

/*--------------------------------------------------------------------------
				Remove order
--------------------------------------------------------------------------*/
function removeOrder(order_id){
	element = $('.modal_' + order_id);
	element.modal('toggle');

	row = $('#row_' + order_id);
	var row_child = $(row).next(); 
	var class_child = row_child.attr("class");

	$.ajax({
		url:'{{ (path('removeOrder')) }}',
		type: "POST",
		dataType: "json",
		data: {
			"order_id": order_id
		},
		async: true,
		success: function (data)
		{
			// hidden row
			row.fadeOut()
			if (class_child == "child") {
				row_child.fadeOut()
			}

			// notification part
			new Noty({
				text: data.output,
				type: data.type,
				layout: 'topRight',
				timeout: 3500
			}).show()
		}
	});
	return false;
}

/*--------------------------------------------------------------------------
				Initialize Datetimepicket 
--------------------------------------------------------------------------*/
$(function () {
	$('#datetimepicker_paidate_from').datetimepicker({
		format: 'YYYY/MM/DD'
	});

	$('#datetimepicker_paidate_to').datetimepicker({
		format: 'YYYY/MM/DD'
	});

	$('#fromByDate').datetimepicker({
		format: 'YYYY/MM/DD'
	});
	$('#toByDate').datetimepicker({
		format: 'YYYY/MM/DD'
	});
});

/*--------------------------------------------------------------------------
				Dnitialize Datetimepicket 
--------------------------------------------------------------------------*/

function calcRate(){

	// Prepare date of datetimepicket input
	// FROM 
	var from_date_crud = $(".rate_date_from").val();

	if (from_date_crud.length) {
		from_date = new Date(from_date_crud);
	}else {
		new Noty({
			text: 'Не заполнено поле "ОТ"',
			type: 'error',
			layout: 'topRight',
			timeout: 3500
		}).show()
	}

	// TO
	var to_date_crud = $(".rate_date_to").val();
	if (to_date_crud.length) {
		to_date = new Date(to_date_crud)
	}else{
		new Noty({
			text: 'Не заполнено поле "ДО"',
			type: 'error',
			layout: 'topRight',
			timeout: 3500
		}).show()
	}

	if (from_date && to_date) {
		orders = {{ orders|json_encode|raw }};
		$('.order_row').fadeOut();

		rate = 0;
		for(var i in orders){
			if (orders[i].payment_date) {
				// Prepare payment date of orders
				order_date_crud = orders[i].payment_date.date.split("-");

				// order day
				order_day = order_date_crud[2].slice(0, 2);
				order_month = order_date_crud[1];
				order_year = order_date_crud[0];

				order_date =  order_year  + "/" + order_month + "/" + order_day;
				order_date = new Date(order_date);

				// hide and show nedded rows
				if (from_date <= order_date && to_date  >= order_date ) {
					$('.' + orders[i].uniqid).fadeIn();
					rate += parseInt(orders[i].rate);
				}
			}
		}

		$('#total_rate').html(rate + '<i class="fa fa-rub"></i>');
	}
}

/*-------------------------------------------------------------------------------------------
				Sort
--------------------------------------------------------------------------------------------*/
	function sortByDate(){
		// FROM 
		var from_date_crud = $(".fromByDate").val();

		if (from_date_crud.length) {
			from_date = new Date(from_date_crud);
		}else {
			new Noty({
				text: 'Не заполнено поле "ОТ"',
				type: 'error',
				layout: 'topRight',
				timeout: 3500
			}).show()
		}

		// TO
		var to_date_crud = $(".toByDate").val();
		if (to_date_crud.length) {
			to_date = new Date(to_date_crud)
		}else{
			new Noty({
				text: 'Не заполнено поле "ДО"',
				type: 'error',
				layout: 'topRight',
				timeout: 3500
			}).show()
		}



		if (from_date && to_date) {
			orders = {{ orders|json_encode|raw }};
			$('.order_row').fadeOut();

			for(var i in orders){
				if (orders[i].date) {
					// Prepare payment date of orders
					order_date_crud = orders[i].date.date.split("-");

					// order day
					order_day = order_date_crud[2].slice(0, 2);
					order_month = order_date_crud[1];
					order_year = order_date_crud[0];

					order_date =  order_year  + "/" + order_month + "/" + order_day;
					order_date = new Date(order_date);

					// hide and show nedded rows
					if (from_date <= order_date && to_date  >= order_date ) {
						$('.' + orders[i].uniqid).fadeIn();
					}
				}
			}
		}
	}

</script>

{% if is_granted('ROLE_COURIER') %}
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		$('.new_of_courier').trigger('click')
	});
</script>
{% endif %}


{% if is_granted('ROLE_ADMIN') %}
<script>
	/*--------------------------------------------------------------------------
				qiwiChecker
	--------------------------------------------------------------------------*/
	qiwiChecker();
</script>
{% endif %}


{% endblock %}