{% extends "baseCP.html.twig" %}

{% block title %}cPanelBundle{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
 
<!-- page content -->
<div class="right_col" role="main">

		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Новые</h2>

						<div class="clearfix"></div>
					</div>


					<div class="x_content">

						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap">
							<thead>
								<tr>
									<th>Заказ</th>
									<th>Клиент</th>
									<th>Количество</th>
									<th>Треккод</th>
									<th>Тариф</th>
									<th>Статус</th>
									<th>Дата</th>
									<th>Печать</th>
								</tr>
							</thead>

							<tbody>
									{% for i in 0..99 %}
										<!-- EXAMPLE OF ROW OF TABLE -->
										<tr>
											<td>
												<div class="x_content">
													<!-- modals -->
													<!-- Large modal -->

													<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs{{loop.index}}"> № {{loop.index}}</button>

													<div class="modal fade bs{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
														<div class="modal-dialog modal-lg">
															<div class="modal-content">

																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																	</button>
																	<h4 class="modal-title" id="myModalLabel">Содержание заказа , под номером : #{{loop.index}}</h4>
																</div>
																<div class="modal-body">
																	<ul class="list-unstyled msg_list">
																		<li>
																			<a>
																				<span class="image">
																					<img src="{{ asset('custom_for_courier_admin/images/product3.jpg') }}" alt="img">
																				</span>
																				<span>
																					<span>Название Продукта {{loop.index + 3}}</span>
																				</span>
																				<span class="message">
																					Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that
																				</span>
																			</a>
																			<a href="">
																					<span>
																						<span>Кол-во: {{loop.index}} </span>
																					</span>
																			</a>
																		</li>
																		<li>
																			<a>
																				<span class="image">
																					<img src="{{ asset('custom_for_courier_admin/images/product3.jpg') }}" alt="img">
																				</span>
																				<span>
																					<span>Название Продукта {{loop.index + 1 }}</span>
																				</span>
																				<span class="message">
																					Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that
																				</span>
																			</a>
																			<a href="">
																					<span>
																						<span>Кол-во: {{loop.index}} </span>
																					</span>
																			</a>
																		</li>
																	</ul>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
																	<button type="button" class="btn btn-primary"><i class="fa fa-print"></i> печать</button>
																</div>

															</div><!-- ./modal-content -->
														</div><!-- ./modal-dialog -->
													</div><!-- ./modal -->

												</div><!-- /.x_content -->
											</td>
											<td>Имя Клиента</td>
											<td> nr.{{loop.index}}</td>
											<td># {{loop.index + 10 - 3 * 1.5 % 2}} </td>
											<td><input type="text" class="form-control" placeholder="Сумма, руб"> </td>
											<td>
												<div class="btn-group">
													<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false">На упаковке <span class="caret"></span>
													</button>
													<ul role="menu" class="dropdown-menu">
														<li><a href="#">на упаковке</a></li>
														<li><a href="#">ошибка в заказе</a></li>
														<li><a href="#">ожидается отправка</a></li>
														<li><a href="#">отправлен</a></li>
													</ul>
												</div>
											</td>
											<td>(0{{loop.index}}.07.18)</td>
											<td><button type="button" class="btn btn-default"><i class="fa fa-print"></i></button></td>
										</tr>
										<!-- EXAMPLE OF ROW OF TABLE -->

									{% endfor %}

							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
{% endblock %}

{% block javascripts %}

{% endblock %}
