{% extends "baseCP.html.twig" %}

{% block title %}Статистика{% endblock %}

{% block stylesheets %}
{% endblock %}
 
{% block body %}

{#
{{ dump(orders_statistics) }}
#}

<!-- page content -->
<div class="right_col" role="main">
	<!-- top tiles -->
	<div class="row tile_count">

		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		{% if is_granted('ROLE_COURIER') %}
				<span class="count_top"><i class="fa fa-plus"></i> Новые заказоы</span>
				<div class="count aero">{{ orders_statistics['to_courier']['nr'] }}</div>
		{% else %}
				<span class="count_top"><i class="fa fa-plus"></i> Новые заказоы</span>
				<div class="count aero">{{ orders_statistics['new_order']['nr'] }}</div>
		{% endif %}
		</div>

		{% if is_granted('ROLE_ADMIN') %}
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Ожидается оплата</span>
			<div class="count ">{{ orders_statistics['pending_payment']['nr'] }}</div>
		</div>
		{% endif %}

		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-clock-o green"></i> Приоритетные заказы</span>
			<div class="count green">{{ orders_statistics['priority_orders']['nr'] }}</div>
		</div>

		{% if is_granted('ROLE_ADMIN') %}
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-warning"></i> У курьера</span>
			<div class="count">
				{{ 
					orders_statistics['to_courier']['nr'] +
					orders_statistics['on_package']['nr'] +
					orders_statistics['expected_sending']['nr']
				}}
			</div>
		</div>
		{% endif %}

		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-cube"></i> В процессе упаковки</span>
			<div class="count">{{ orders_statistics['on_package']['nr'] }}</div>
			<!-- <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span> -->
		</div>


		{% if is_granted('ROLE_ADMIN') %}
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-warning red"></i> Ошибка в заказе</span>
			<div class="count red">{{ orders_statistics['order_failed']['nr'] }}</div>
		</div>
		{% endif %}

		{% if is_granted('ROLE_ADMIN') %}
		<!-- Testimonials Waint confirmation -->
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-quote-left"></i> Не подтверждённых отзывов</span>
			<div class="count ">{{testimonials}}</div>
		</div>
		{% endif %}

		{% if is_granted('ROLE_ADMIN') %}
		<!-- product_not_in_stock -->
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-cubes"></i>  Продуктов нет в наличии  </span>
			<div class="count "> {{ product_not_in_stock }} </div>
		</div>
		{% endif %}

	</div>
	<!-- /top tiles -->

<br />




<!-- 		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
		  <div class="x_panel">
		    <div class="x_title">
			<h2>Recent Activities <small>Sessions</small></h2>
			<ul class="nav navbar-right panel_toolbox">
			  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
			  </li>
			  <li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
			    <ul class="dropdown-menu" role="menu">
				<li><a href="#">Settings 1</a>
				</li>
				<li><a href="#">Settings 2</a>
				</li>
			    </ul>
			  </li>
			  <li><a class="close-link"><i class="fa fa-close"></i></a>
			  </li>
			</ul>
			<div class="clearfix"></div>
		    </div>
		    <div class="x_content">
			<div class="dashboard-widget-content">

			  <ul class="list-unstyled timeline widget">
			    <li>
				<div class="block">
				  <div class="block_content">
				    <h2 class="title">
							    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
							</h2>
				    <div class="byline">
					<span>13 hours ago</span> by <a>Jane Smith</a>
				    </div>
				    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
				    </p>
				  </div>
				</div>
			    </li>
			    <li>
				<div class="block">
				  <div class="block_content">
				    <h2 class="title">
							    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
							</h2>
				    <div class="byline">
					<span>13 hours ago</span> by <a>Jane Smith</a>
				    </div>
				    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
				    </p>
				  </div>
				</div>
			    </li>
			    <li>
				<div class="block">
				  <div class="block_content">
				    <h2 class="title">
							    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
							</h2>
				    <div class="byline">
					<span>13 hours ago</span> by <a>Jane Smith</a>
				    </div>
				    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
				    </p>
				  </div>
				</div>
			    </li>
			    <li>
				<div class="block">
				  <div class="block_content">
				    <h2 class="title">
							    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
							</h2>
				    <div class="byline">
					<span>13 hours ago</span> by <a>Jane Smith</a>
				    </div>
				    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
				    </p>
				  </div>
				</div>
			    </li>
			  </ul>
			</div>
		    </div>
		  </div>
			</div>
		</div> -->

</div>
  </div>
  <!-- /page content -->

{% endblock %}

{% block javascripts %}
{% endblock %}