{% extends "base.html.twig" %}

{% block title %} Восстановление пароля {% endblock %}

{% block heading_breadcrumbs %}
	<div id="heading-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p class="text-muted lead hidden-xs" >Если у вас есть какие-либо вопросы, пожалуйста<a href="/contact"> свяжитесь с нами </a>, наш центр поддержки клиентов работает для вас 24/7.</p>
				</div>

				<div class="col-md-5">
					<ul class="breadcrumb">
						<li><a href="/">ГЛАВНАЯ</a>
						</li>
						<li> Восстановление пароля</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	  <div id="content">
		<div class="container">

		<div class="row">
			<div class="col-md-6">
				<div class="box">
					<h3 class="text-uppercase"> Восстановление пароля </h3>

					<form action="/recovery_password/rp" method="post" name="regcustomer_form">
						<div class="form-group">
							<label for="name-login">
								<span class="red"> * </span>
								Логин
							</label>
							<input type="text" class="form-control" id="name_login" name="name_login" maxlength="25" required>
						</div>

						<div class="form-group">
							<label for="name-login">
								<span class="red"> * </span>
								Nickname
							</label>
							<input type="text" class="form-control" id="nickname" name="nickname" maxlength="25" required>
						</div>

						<div class="form-group">
							<label for="name-login">
								<span class="red"> * </span>
								E-mail
							</label>
							<input type="text" class="form-control" id="email" name="email" maxlength="25" required>
						</div>

						<div class="text-center">
							<button type="button" class="btn btn-template-main btn_sbmt">
								<!-- <i class="fa fa-user-md"></i>  -->
								<span class="fa-passwd-reset fa-stack">
									<i class="fa fa-undo fa-stack-2x"></i>
									<i class="fa fa-lock fa-stack-1x"></i>
								</span>
								Восстановить 
							</button>
						</div>
					</form>
				</div>
			</div>

		</div>
		<!-- /.row -->

		</div>
		<!-- /.container -->
	</div>
	<!-- /#content -->
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}
