{% extends "base.html.twig" %}

{% block title %} Регистрация {% endblock %}

{% block heading_breadcrumbs %}
	<div id="heading-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p class="text-muted lead hidden-xs">Если у вас есть какие-либо вопросы, пожалуйста<a href="/contact"> свяжитесь с нами </a>, наш центр поддержки клиентов работает для вас 24/7.</p>
				</div>
				<div class="col-md-5">
					<ul class="breadcrumb">
						<li><a href="/">ГЛАВНАЯ</a>
						</li>
						<li>НОВЫЙ АККАУНТ / АВТОРИЗОВАТЬСЯ</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	  <div id="content">
		<div class="container">

		<div class="row">
			<div class="col-md-6">
				<div class="box">
					<h2 class="text-uppercase">Новый аккаунт</h2>

					<p class="lead">Вы еще не зарегистрированы?</p>
					<p>После регистрации появляется доступ к фантастическим скидкам  и многому другому! Весь процесс не займет у вас больше минуты!</p>

					<hr>

					<form action="{{ path('regcustomer') }}" method="post" name="regcustomer_form">
						<div class="form-group">
							<label for="name-login">
								<span class="red"> * </span>
								Логин
							</label>
							<input type="text" class="form-control" id="name_login" name="name_login" maxlength="25" required>
						</div>

						<div class="form-group">
							<label for="name-login">
								<span class="red"> * </span>
								Имя / Nickname
							</label>
							<input type="text" class="form-control" id="nickname_login" name="nickname_login" maxlength="25" required>
						</div>

						<div class="form-group">
							<label for="email-login">E-mail</label>
							<input type="email" class="form-control" id="email_login" name="email_login">
						</div>

						<div class="form-group">
							<label for="password-login">
								<span class="red"> * </span>
								 Пароль 
							</label>
							<input type="password" class="form-control" id="password_login" name="password_login" required minlength="6" maxlength="50">
						</div>
						<div class="col-md-12 pass_message"></div>

						<div class="form-group">
							<input type="checkbox" id="spam" name="spam" checked>
							<label for="spam">
								Хочу получать новости и скидки.
							</label>
						</div>

						<div class="text-center">
							<button type="button" class="btn btn-template-main btn_sbmt reg_btn" disabled>
								<i class="fa fa-user-md"></i> РЕГИСТРАЦИЯ 
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="col-md-6">
				<div class="box">
					<h3 class="text-uppercase">АВТОРИЗОВАТЬСЯ</h3>

					<p class="lead">Уже наш клиент?</p>
					<hr>

					<form action="{{ path('login') }}" method="post">
						<div class="form-group">
							<label for="email">Логин / E-mail</label>
							<input type="text" class="form-control" id="email" name="_username">
						</div>
						<div class="form-group">
							<label for="password">Пароль</label>
							<input type="password" class="form-control" id="password" name="_password" >

						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> АВТОРИЗОВАТЬСЯ</button>
						</div>
					</form>


				</div>
			</div>

		</div>
		<!-- /.row -->

		</div>
		<!-- /.container -->
	</div>
	<!-- /#content -->
{% endblock %}

{% block javascripts %}
<script>
$('#password_login').keyup(function(event) {
	pass = $(this).val();

	if (pass.length >= 6) {
		if (pass  == $(this).val()) {
			$('.reg_btn').removeAttr('disabled')
			$message = '<p class="green"> <i class="fa fa-check" aria-hidden="true"></i> </p>';
			$('.pass_message').html($message);
		}
	}else {
		$message = '<p class="red">  Пароль должен содержать не менее 6 символов </p>';
		$('.pass_message').html($message);
	}

	// 
});
</script>
{% endblock %}
