{% extends "baseCP.html.twig" %}

{% block title %}cPanelBundle:admin:admin{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}


{% endblock %}


{% block javascripts %}
{% endblock %}