{% extends "baseCP.html.twig" %}

{% block title %}cPanelBundle:admin:admin{% endblock %}

{% block stylesheets %} 
{% endblock %}

{% block body %}
	<div class="right_col" role="main">
		<div class="x_content">
			<table id="productsubslist_table" class="mdl-data-table display responsive nowrap">
				<thead>
					<tr>
						<th>User id</th>
						<th>Продукт Ид</th>
						<th>Эл.почта</th>
						<th>Дата доб.</th>
					</tr>
				</thead>

				{% for item in prod_subs_list %}
				<tbody>
					<tr>
						<td>{{item.userId}}</td>
						<td>{{item.pid}}</td>
						<td>{{item.mail}}</td>
						<td>{{item.date|date('d-M-Y | H-i')}}</td>
					</tr>
				</tbody>
				{% endfor %}

			</table>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
<script>
$(document).ready(function() {
	var table = $('#productsubslist_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: [
			{
				// targets: [ 0, 1, 2 ],
				className: 'mdl-data-table__cell--non-numeric'
			}
		],
		responsive: true,
		columnDefs: [
			{ responsivePriority: 0, targets: 0 },
			{ responsivePriority: 0, targets: 1 },
		],
		autoFill: true,
		"pageLength": 50
	});
} );

</script>
{% endblock %}