{% extends "base.html.twig" %}

{% block title %} АКЦИИ {% endblock %}
{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7 hidden-xs">
						<h1>АКЦИИ</h1>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href=".">Главная</a>
							</li>
							<li>АКЦИИ</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block stylesheets %}
<style>
	.products {
		/*max-height: 1000px;*/
		/*overflow: hidden;*/
	}
	.lazyLoad_wrap {
		min-height: 700px;
		/*overflow-y: auto;*/
	}

</style>
{% endblock %}

{% block body %}

		<div id="content">
			<div class="container lazyLoad_wrap">
				<p class="text-muted lead text-center hidden-xs">В данном отделе мы предлагаем широкий выбор лучших продуктов, которые мы нашли и тщательно отобрали. </p>
				<div class="row products">
					{% for  product in products %}
						{% if product.status == 'sale' %}
							{% include '@App/components/product_model.html.twig' %}
						{% endif %}
					{% endfor %}

				</div>
				<!-- /.products -->

				<div class="col-sm-12">
					<div class="pages">

<!-- 						<p class="loadMore">
							<a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Показать больше</a>
						</p> -->

<!-- 						<ul class="pagination">
							<li><a href="#">&laquo;</a>
							</li>
							<li class="active"><a href="#">1</a>
							</li>
							<li><a href="#">2</a>
							</li>
							<li><a href="#">3</a>
							</li>
							<li><a href="#">4</a>
							</li>
							<li><a href="#">5</a>
							</li>
							<li><a href="#">&raquo;</a>
							</li>
						</ul>
					</div> -->

				</div>
				<!-- /.col-sm-12 -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->
{% endblock %}

{% block javascripts %}
<script>
	var mincount = 3;
	var maxcount = 6;
	$(".lazyload_prod").slice(6).hide();

	$(window).scroll(function() {
		console.log(mincount)
		console.log(maxcount)

		if( $(window).scrollTop() >= $(".lazyload_prod:nth-child(" + mincount + ")").offset().top  ) {
			mincount = mincount+3;
			maxcount = maxcount+3;
			$(".lazyload_prod").slice(mincount,maxcount).fadeIn(1500);
		}
	});
</script>
{% endblock %}
