{% extends "baseCP.html.twig" %}

{% block title %}Отзывы{% endblock %}

{% block body %}

	<div class="right_col" role="main">
		<div class="x_content">

			<table id="testimonials_table" class="mdl-data-table display responsive nowrap">
				<thead>
					<tr>
						<th>ИД. Отзыва</th>
						<th>Имя Пользователя</th>
						<th>Статус</th>
						<th>Отзыв</th>
						<th>Дата доб.</th>
					</tr>
				</thead>

				<tbody>
					{% if testimonials is defined and testimonials is not empty %}
					{% for item in testimonials %}
					<tr class="entry{{item.id}}">
						<!-- ИД. Отзыва -->
						<td>{{item.id}}</td>

						<!-- ИД. Пользователя -->
						<td>{{item.nameUser}}</td>

						<!-- Статус -->
						<td>
							<div class="col-md-4">
								<select class="form-control" name="category" onchange="changeTS(this.value, {{item.id}})">
									{% if item.status == 'confirmed' %}
										<option selected="selected" >Подтвержден</option>
									{% else %}
										<option value="confirmed">Подтвержден</option>
									{% endif %}

									{% if item.status == 'confirm' %}
										<option selected="selected" >ожидает подтверждения</option>
									{% else %}
										<option value='confirm'>ожидает подтверждения</option>
									{% endif %}
								</select>
							</div>
						</td>

						<!-- Отзыв -->
						<td>
							<button type="button" class="btn  btn-default " data-toggle="modal" data-target=".bs{{loop.index}}"> Посмотреть отзыв </button>

							<div class="modal fade bs{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" class="hideModel"><span aria-hidden="true">×</span>
											</button>
										</div>

										<div class="modal-body">

											<p style="overflow:scroll; min-height:100px;"> {{ item.comment|raw }} </p>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-default hideModel" data-dismiss="modal">закрыть</button>
											<button type="button" class="btn btn-primary hideModel" data-dismiss="modal" onclick="rmTestimonial({{item.id}})"><i class="fa fa-trash"></i> удалить</button>
										</div>

									</div><!-- ./modal-content -->
								</div><!-- ./modal-dialog -->
							</div><!-- ./modal -->
						</td>

						<!-- Дата доб. -->
						<td>{{item.date|date('d-M-Y | H-i')}}</td>
					</tr>
					{% endfor %}
					{% endif %}

				</tbody>
			</table>
		</div>
	</div>


{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function() {
	var table = $('#testimonials_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: [
			{
				// targets: [ 0, 1, 2 ],
				className: 'mdl-data-table__cell--non-numeric'
			}
		],
		responsive: true,
		columnDefs: [
			{ responsivePriority: 0, targets: 0 },
			{ responsivePriority: 0, targets: 1 },
		],
		autoFill: true,
		"pageLength": 50
	});
} );

</script>
<script>
	/*---------------------------------
		Change Testimonials status 
	---------------------------------- */
	function changeTS(status, test_id) {
		$.ajax({
			url:'{{ (path('updatetestimonials')) }}',
			type: "POST",
			dataType: "json",
			data: {
				"status": status,
				"test_id": test_id
			},
			async: true,
			success: function (data)
			{
				// notification part
				new Noty({
					text: data.output,
					type: data.type,
					layout: 'topRight',
					timeout: 3500
				}).show()
			}
		});
		return false;
	}

	/*---------------------------------
		Hide model background 
	---------------------------------- */
	function hideModelBg(){
		$('.modal-backdrop').hide();
		$('.child').hide();
	}

	$(document).on('click', '.hideModel', function(){
		hideModelBg()
	});

	/*---------------------------------
		Remove Testimonials 
	---------------------------------- */
	function rmTestimonial(test_id) {
		entry = $('.entry'+test_id)

		$.ajax({
			url:'{{ (path('rmTestimonial')) }}',
			type: "POST",
			dataType: "json",
			data: {
				"test_id": test_id
			},
			async: true,
			success: function (data)
			{
				entry.remove();
				// notification part
				new Noty({
					text: data.output,
					type: data.type,
					layout: 'topRight',
					timeout: 3500
				}).show()
			}
		});
		return false;
	}
// rmTestimonial
</script>
{% endblock %}
