/* -----------------------------
      Button add to basket
------------------------------- */

@keyframes pulse {
    0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

@keyframes shift-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40px);
  }
}
@keyframes shift-left-circle {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(-40px);
  }
}
@keyframes shift-left-mask {
  0% {
    height: 7px;
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(0) rotate(180deg);
  }
  100% {
    transform: translateX(-40px) rotate(180deg);
  }
}

.btn-cart {
  display: block;
  width: 200px;
  line-height: 44px;
  border: none;
  margin: 0 auto;
  background: none;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  /** Strap **/
  /** Bag Square **/
}
.btn-cart:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  border: 2px solid #5bc0de;;
  transform: translateX(0);
  left: 94px;
  border-radius: 50%;
  top: 5px;
  box-sizing: border-box;
}
.btn-cart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5bc0de;;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn-cart:focus {
  outline: none;
  /** Strap **/
  /** Bag Square **/
}
.btn-cart:focus:before {
  animation: shift-left-circle 800ms forwards;
  animation-delay: 1200ms;
}
.btn-cart:focus:after {
  width: 20px;
  height: 20px;
  top: 12px;
  left: 90px;
  animation: shift-left 400ms forwards;
  animation-delay: 1200ms;
  transition-delay: 400ms;
}
.btn-cart:focus > span {
  /** White Mask Over Strap **/
  /** "ADDED" text **/
  /** "ADD TO CART" text **/
}
.btn-cart:focus > span:before {
  animation: shift-left-mask 800ms forwards;
  animation-delay: 800ms;
  height: 7px;
}
.btn-cart:focus > span:after {
  transform: translate(-30%, 0);
  transition-delay: 1600ms;
  opacity: 1;
}
.btn-cart:focus > span span {
  opacity: 0;
  transform: translateY(20px);
}
.btn-cart > span {
  position: relative;
  display: block;
  /** White Mask Over Circle **/
  /** "ADDED" text **/
}
.btn-cart > span:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 20px;
  background: white;
  top: 5px;
  left: 94px;
  animation-timing-function: linear;
  transform: translateX(0) rotate(0deg);
  transform-origin: center bottom;
}
.btn-cart > span:after {
  content: "ДОБАВЛЕН";
  color: green;
  position: absolute;
  z-index: 3;
  left: 50%;
  opacity: 0;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translate(-30%, 20px);
  transition-delay: 0;
}
.btn-cart span span {
  display: inline-block;
  position: relative;
  z-index: 2;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateY(0px);
}

/* -----------------------------
      Button Basket
------------------------------- */
  .cart_wrap{
    bottom: 100px;
    right: 33px;
    position: fixed;
    z-index: 5000;
  }

  .cart_wrap .cart {
    height: 56px;
    width: 56px;
    line-height: 65px;

    border: none;
    color: #fff;
    background-image: -webkit-linear-gradient(350deg, #00aeff, #5bc0de);
    background-image: -o-linear-gradient(350deg, #00aeff, #5bc0de);
    background-image: linear-gradient(80deg, #00aeff, #5bc0de);

    display: inline-block;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: background .2s, box-shadow .2s;

    margin-bottom: 0;

    text-align: center;
    vertical-align: middle;

    touch-action: manipulation;
    cursor: pointer;

    white-space: nowrap;
    user-select: none;

    text-decoration: none;

    background-color: transparent;

    text-rendering: optimizeLegibility;

    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;

    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.5s infinite;
  }

    .cart_wrap .cart:hover {
      box-shadow: 0 2px 6px 0 rgba(51,105,231,0.4);
    }

  .cart_wrap .cart i.fa{
    font-size: 26px;
    margin: 0 5px 0 0;
  }
  .cart_wrap .cart i:hover{
    color: white;

  }
