
	<button type="button" class="btn  btn-default col-md-2" data-toggle="modal" 
		data-target=".order_checked{{order.uniqid}}">

		<span class="green">
			<!-- Оплачен -->
			<i class="fa fa-check" aria-hidden="true"></i>
		</span>
	</button>

	<div class="modal fade order_checked{{order.uniqid}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					</button>
				</div>

				<div class="modal-body">

					<!-- ..................................
							Payment method
					.................................... -->
					<div class="row">
						{% if order.checked is not empty %}
							{% if order.checked.payment_method == 'qiwi' %}
								<p>Способ оплаты: {{ order.checked.payment_method }}</p>
								<p>Cумма транзакции: {{ order.checked.transaction_amount }}</p>
								<p>Окончательная стоимость заказа: {{ order.checked.order_final_cost }}</p>

								{% if order.checked.qiwi_payment_date is defined %}
									<p>Дата оплаты "qiwi": {{ order.checked.qiwi_payment_date }}</p> <br>
								{% endif %}
							{% endif %}

							{% if order.checked.payment_method == 'wex' %}
								<p>Способ оплаты: {{ order.checked.payment_method }}</p>
								<p>Сумма купона WEX: {{ order.checked.trn_amount }}</p>
								<p>Окончательная стоимость заказа: {{ order.checked.order_final_cost }}</p>
								<p>WEX transID: {{ order.checked.transID }}</p>
							{% endif %}

						{% endif %}
					</div>

					{% if order.trns_history %}
						<div class="row">
							<h4 class="text-center">
								История транзакции (й)
							</h4>

							<hr>

							<ul>
							{% for item in order.trns_history %}
								{% if order.date %}
								<li>
									{{item.date}}  <br>
									<i class="fa fa-rub" aria-hidden="true"></i> {{ item.trns_amount }} 
									<hr>
								</li>
								{% endif %}
							{% endfor %}
							</ul>
						</div>
					{% endif %}

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
				</div>

			</div><!-- ./modal-content -->
		</div><!-- ./modal-dialog -->
	</div><!-- ./ END errod message modal -->