<!-- Bootstrap -->
<link href=" {{ asset('custom_for_courier_admin/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{{ asset('custom_for_courier_admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"> 
<!-- NProgress -->
<link href="{{ asset('custom_for_courier_admin/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
<!-- iCheck -->
<link href="{{ asset('custom_for_courier_admin/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
<!-- Datatables -->
<link href="{{ asset('custom_for_courier_admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="{{ asset('custom_for_courier_admin/build/css/custom.min.css') }}" rel="stylesheet">