<div class="col-md-3 left_col">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
			<a href="/courier" class="site_title"><!-- <i class="fa fa-paw"></i> --> <span>Панель курьера</span></a>
		</div>

		<div class="clearfix"></div>

		<!-- menu profile quick info -->
		<div class="profile clearfix">
			<div class="profile_pic">
				<img src="{{ asset('custom_for_courier_admin/images/img.jpg') }}" alt="..." class="img-circle profile_img">
			</div>
			<div class="profile_info">
				<span>Добро пожаловать,</span>
				<h2>Василий Степанов</h2>
			</div>
		</div>
		<!-- /menu profile quick info -->

		<br />

		<!-- sidebar menu -->
		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section">
				<h3>Общее</h3>
				<ul class="nav side-menu">
					<li><a href="/orders"><i class="fa fa-truck"></i> Заказы <span class="fa fa-chevron-right"></span></a></li>
					<li><a href="/courier">Задачи <span class="fa fa-chevron-right"></span></a></li>
				</ul>
			</div>

		</div>
		<!-- /sidebar menu -->

		<!-- /menu footer buttons -->
		<div class="sidebar-footer hidden-small">
			<a data-toggle="tooltip" data-placement="top" title="Settings">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="FullScreen">
				<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Lock">
				<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.php">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			</a>
		</div>
		<!-- /menu footer buttons -->
	</div>
</div>

<!-- top navigation -->
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img src="{{ asset('custom_for_courier_admin/images/img.jpg') }}" alt="">Иван Бурев
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li><a href="javascript:;"> Профиль</a></li>
						<li>
							<a href="javascript:;">
								<span class="badge bg-red pull-right">50%</span>
								<span>Настройки</span>
							</a>
						</li>
						<li><a href="javascript:;">Помощь</a></li>
						<li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Выйти</a></li>
					</ul>
				</li>

				<li><a href="/"><button type="button" class="btn btn-round btn-default">К сайту</button> </a></li>

			</ul>
		</nav>
	</div><!-- ./nav_menu -->
</div><!-- ./top_nav -->
<!-- /top navigation -->