<!-- Bootstrap -->
<link href=" {{ asset('custom_for_courier_admin/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{{ asset('custom_for_courier_admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"> 
<!-- NProgress -->
<link href="{{ asset('custom_for_courier_admin/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
<!-- iCheck -->
<link href="{{ asset('custom_for_courier_admin/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
<!-- Datatables -->
<link href="{{ asset('custom_for_courier_admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">

<!-- bootstrap-daterangepicker -->
<link href="{{ asset('custom_for_courier_admin/vendors/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">
<!-- bootstrap-datetimepicker -->
<link href="{{ asset('custom_for_courier_admin/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css')}}" rel="stylesheet">
<!-- Ion.RangeSlider -->
<link href="{{ asset('custom_for_courier_admin/vendors/normalize-css/normalize.css')}}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/ion.rangeSlider/css/ion.rangeSlider.css')}}" rel="stylesheet">
<link href="{{ asset('custom_for_courier_admin/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css')}}" rel="stylesheet">
<!-- Bootstrap Colorpicker -->
<link href="{{ asset('custom_for_courier_admin/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css')}}" rel="stylesheet">

<link href="{{ asset('custom_for_courier_admin/vendors/cropper/dist/cropper.min.css')}}" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="{{ asset('custom_for_courier_admin/build/css/custom.min.css') }}" rel="stylesheet">