<!-- jQuery -->
<script src="{{ asset('custom_for_courier_admin/vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('custom_for_courier_admin/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('custom_for_courier_admin/vendors/fastclick/lib/fastclick.js') }} "></script>
<!-- NProgress -->
<script src="{{ asset('custom_for_courier_admin/vendors/nprogress/nprogress.js') }}"></script>
<!-- iCheck -->
<script src="{{ asset('custom_for_courier_admin/vendors/iCheck/icheck.min.js') }}"></script>
<!-- Datatables -->
<!-- jQuery -->
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>

<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/jszip/dist/jszip.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/pdfmake/build/vfs_fonts.js') }}"></script>

<!-- validator -->
<!-- 'custom_for_courier_admin/vendors/validator/validator.js' -->


<!-- bootstrap-daterangepicker -->
<script src="{{ asset('custom_for_courier_admin/vendors/moment/min/moment.min.js')}}"></script>
<script src="{{ asset('custom_for_courier_admin/vendors/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
<!-- bootstrap-datetimepicker -->    
<script src="{{ asset('custom_for_courier_admin/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
<!-- Ion.RangeSlider -->
<script src="{{ asset('custom_for_courier_admin/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js')}}"></script>



<!-- Custom Theme Scripts -->
<script src="{{ asset('custom_for_courier_admin/build/js/custom.min.js')}}"></script>

<!-- Initialize datetimepicker -->
<script>
	$('#myDatepicker').datetimepicker();

	$('#myDatepicker2').datetimepicker({
	  format: 'DD.MM.YYYY'
	});

	$('#myDatepicker3').datetimepicker({
	  format: 'hh:mm A'
	});

	$('#myDatepicker4').datetimepicker({
	  ignoreReadonly: true,
	  allowInputToggle: true
	});

	$('#datetimepicker6').datetimepicker();

	$('#datetimepicker7').datetimepicker({
	  useCurrent: false
	});

	$("#datetimepicker6").on("dp.change", function(e) {
	  $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
	});

	$("#datetimepicker7").on("dp.change", function(e) {
	  $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
	});
</script>