{% extends "base.html.twig" %} 

{% block title %}Главная страница{% endblock %}

{% block stylesheets %}
<!-- Particles -->
<style>
	/* ---- reset ---- */
	canvas{
		display: block; vertical-align: bottom;
	}

	/* ---- particles.js container ---- */
	#particles-js{
		position: absolute;
		width: 100%; height: 100%;
		background-color: #ffffff;
		background-image: url("");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
	} 
</style>
{% endblock %}

{% block body %}

		{# <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
			<input type="hidden" name="receiver" value="410017539597816">
			<input type="hidden" name="formcomment" value="‘Ironman’ Project: Arc Reactor">
			<input type="hidden" name="short-dest" value="‘Ironman’ Project: Arc Reactor">
			<input type="hidden" name="label" value="label">
			<input type="hidden" name="quickpay-form" value="donate">
			<input type="hidden" name="targets" value="transaction {order_id}">
			<input type="hidden" name="sum" value="10" data-type="number">
			<input type="hidden" name="comment" value="Requires remote control.">
			<input type="hidden" name="need-fio" value="false">
			<input type="hidden" name="need-email" value="false">
			<input type="hidden" name="need-phone" value="false">
			<input type="hidden" name="need-address" value="false">
			<label><input type="radio" name="paymentType" value="PC">With Yandex.Money</label>
			<label><input type="radio" name="paymentType" value="AC">With bank card</label>
			<input type="submit" value="Transfer">
		</form> #}


		<section class="mb-0" style="border-top: 1px solid #cccccc;">
			<!-- *** HOMEPAGE CAROUSEL ***
			_________________________________________________________ -->

			<div class="home-carousel section_item" >

				<!-- <div class="dark-mask"></div> -->

				<div class="container">
					<div class="homepage owl-carousel">
						{% for slide in home_carousel %}
							<div class="item">
								<img class="img-responsive" src="{{ asset(slide.src)}}" alt="{{ asset(slide.src)}}">
							</div>
						{% endfor %}

					</div><!-- /.project owl-slider -->
				</div><!-- /.container-fluid -->
			</div><!-- /.home-carousel -->

			<!-- *** HOMEPAGE CAROUSEL END *** -->
		</section>


		<!--***************************************************
						POPULAR GOODS SECTION
		*****************************************************-->
		<section style="border-top: 1px solid #cccccc;">
			<div  id="particles-js"></div>

			<div class="container">
				<div class="heading text-center mb-20">
					<h4 class="mt-0">ПОПУЛЯРНЫЕ ТОВАРЫ !</h4>
				</div>

				<!-- Popular goods -->
				<div id="content" >
					<div class="container section_item">
						<div class="row products" style="border-bottom: 1px solid #e6e6e6;">
							   <!-- *** LEFT COLUMN ***
							_________________________________________________________ -->
							<div class="col-sm-3 hidden-sm">
								<!-- *** MENUS AND FILTERS ***
								 _________________________________________________________ -->
								<div class="panel panel-default sidebar-menu home_filters " style=" border-right: 1px solid #e6e6e6;">

									<div class="panel-heading">
										<h3 class="panel-title">ПРОИЗВОДИТЕЛИ</h3>
									</div>

									<div class="panel-body">
										<ul class="nav nav-pills nav-stacked category-menu" >
											{% for item in Manufacturers %}
												<li catid="{{ item.id }}"  manid="{{ item.id }}" class="cat_tem_pop man_sort">
													<a href="/shop_category_full/0/0/{{ item.id }}">{{ item.name }}</a>
												</li>

											{% endfor %}
										</ul>

										<button class="btn btn-default btn-sm btn-template-main reset_cat_pop">
											Сброс
										</button>

									</div>
								</div>

								<!-- *** MENUS AND FILTERS END *** -->
							</div>
							<!-- /.col-md-3 -->

							<!-- *** LEFT COLUMN END *** -->
							<div class="col-md-9 col-sm-12" >
								<!-- TESTIMONIALS CAROUSEL -->
								<ul class="owl-carousel testimonials same-height-row hidden-md hidden-lg popular_prod_mobile">
									{% for product in popular_products %}
										<li class="item">
											<div class="testimonial same-height-always ">
												{% include '@App/components/product_mobile_model.html.twig' %}
											</div>
										</li>
									{% endfor %}
								 </ul>
								<!-- owl-carousel -->

								<div class="row products prod hidden-sm hidden-xs">
									{% for product in popular_products %}
										{% include '@App/components/product_model.html.twig' %}
									{% endfor %}
								</div>
								<!-- /.products -->
							</div>
						</div>
						<!-- /.products -->
				</div><!-- /#content -->

			</div><!-- /.container -->

			<style>
				.prod {
					max-height: 900px;
					overflow-y: hidden;
				}
			</style>
			<!-- END Popular goods -->

		</section>
		<!-- /.bar -->



		<!-- *******************************************************
				PACKAGES SECTION
		**********************************************************-->
		{% if course is not empty %}
		<section class="bar background-white no-mb "  >
			<div class="container section_item">
				<div class="row ">
					<div class="col-md-12" data-animate="fadeInUp">
						<div class="heading text-center">
							<h3>КУРСОМ ДЕШЕВЛЕ</h3>
						</div>
						<!-- TESTIMONIALS CAROUSEL -->
						<ul class="owl-carousel testimonials same-height-row packages">

							<!-- test -->
							{% for item in course %}
							<li class="item">
								<!-- for best value -->
								{% if item.best == 1 %}
								<div class="best-value">
								{% endif %}

									<div class="package">

										{% if item.best == 1 %}
										<div class="package-header">
										{% else %}
										<div class="package-header light-gray">
										{% endif %}
											<h5>{{ item.name }}</h5>
										</div>

										<div class="price">
											<h4>
												<i class="fa fa-rub" aria-hidden="true"></i>
												{{ item.price }}
											</h4>
										</div>

										<ul>
											{% for prod in item.content %}
												{% if loop.index < 5 %}
												<li>
													<i class="fa fa-check"></i>
													{{ prod.prod_name }}
													{{ prod.count_dosage }}
													<span class="period"> | {{ prod.count }}</span>
												</li>
												{% endif %}
											{% endfor %}

											{% if item.content|length > 5 %}
												<li> <p style="font-size: 30px;"> ...... </p> </li>
											{% endif %}
										</ul>

										{% if is_granted('ROLE_USER') %}
											{% if item.onbasket != true %}
												<button type="button" class="btn btn-template-main toBasket" courseid="{{item.id}}"> В корзину </button>
											{% else %}
												<button type="button" class="btn btn-template-main green cours_warning">
													<i class="fa fa-check" aria-hidden="true"></i> добавлен 
												</button>
											{% endif %}
										{% endif %}

										<a href="/courseDetail/{{item.id}}" type="button" class="btn btn-template-main"> ПОСМОТРЕТЬ </a>
									</div>

								{% if item.best == 1 %}
								</div>
								{% endif %}
							</li>
							{% endfor %}

							<!-- test END  -->
						 </ul>
						<!--  /.owl-carousel
						END TESTIMONIALS CAROUSEL -->
					</div>
				</div>
			</div>
		</section>
		{% endif %}
		<!-- /.bar -->

		<!-- 
		*******************************************************
				 OUR ADVANTAGES SECTION
		*******************************************************-->
		<section class="bar background-white icon_bar" style="border-top: solid 1px #cccccc;">

			<div class="container section_item">
				<div class="col-md-12">
					<div class="row" >

						<!-- SUPPOORT ICON -->
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="box-simple">
									<!-- <i class="fa fa-line-chart fa-2x" style="margin-top: 20px;"></i> -->
								<div class="support_icon_wrap icon">
									<img src="https://i.imgur.com/LRrQEIq.png" class="support_img">
								</div>

								<h3 style="text-transform: uppercase;">Самые низкие  </h3>
								<h3 style="text-transform: uppercase;">Цены  </h3>
								<!-- <h4> <code> Цены </code></h4> -->
								<!-- <h4 style="text-transform: uppercase;"> Цены  </h4> -->
							</div> 
						</div>

						<!-- certificate icon -->
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="box-simple">
								<div class="certificate_wrap icon">
									<!-- <i class="fa fa-file-text-o fa-2x" style="margin-top: 20px;"></i> -->
									<img src="https://i.imgur.com/XOKHu8u.png" class="certificate_img">
								</div>

								<h3 class="cert" style="text-transform: uppercase;">СЕРТИФИЦИРОВАНО!</h3>
								<h3 class="cert1" style="text-transform: uppercase;">СЕРТИФИЦИР- <br> -ОВАНО!</h3>
								<!-- <h4> <code> Оригинальная продукция </code></h4> -->
								<h3 class="cert" style="text-transform: uppercase;">Оригинальная продукция!</h3>
							</div>
						</div>

						<!-- delivery icon -->
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="box-simple">
								<div class="delivery_wrap icon">
									<!-- <i class="fa fa-globe fa-2x" style="margin-top: 20px;"></i> -->
									<img src="https://i.imgur.com/HbRdvBM.png" class="delivery_img">
								</div>
								<h3 style="text-transform:upercase;">БЫСТРАЯ ДОСТАВКА </h3>
								<h3 style="text-transform:upercase;"> Из РФ по РФ </h3>

								<!-- <h4 style="text-transform: uppercase;"> -->
									<!-- <code> -->
										<!-- Из РФ по РФ -->
									<!-- </code> -->
								<!-- </h4> -->
							</div>
						</div>
						<style>
							.cert1 {
								display: none;
							}
							@media screen and (max-width: 800px) {
								.bar .box-simple h3 {
									font-size: 10px;
								}
								.bar .box-simple h4 {
									font-size: 13px;
								}
								.cert {
									display: none;
								}
								.cert1 {
									display: block;
								}
							}
						</style>
					</div><!-- END ROW -->
				</div><!-- END col-md-12 -->
			</div><!-- END container -->
		</section>


		<!--***************************************************
						SUBSCRIBE SECTION
		*****************************************************-->
		<section class="bar background-image-fixed-2 no-mb color-white text-center ">
			<div class="dark-mask"></div>

			<div class="container-fluid section_item" style="height:100%;">
				<div class="row sub_centered">

					<form class="text-center" action="{{ path('subscribe')}}" method="post" name="subscribe_form">
						<div class="col-md-6">

							<h5 class="text-uppercase" style="color: white;"> ПОЛУЧАЙ ИНФОРМАЦИЮ О СКИДКАХ И НОВИНКАХ </h5>

							<input type="text" placeholder="Введите e-mail" class="btn btn-template-transparent-black btn-lg subscr_newsletter" id="subscribe_input" name="subscribe_input" 
							style="color: #007981;">

							<button type="button" class="btn btn-template-transparent-black btn-lg btn_sbmt"  data-toggle="tooltip" data-placement="top"  data-original-title="Подписаться на новости">
								<i class="fa fa-envelope-o"></i>
							</button>

						</div>
					</form>


				</div><!-- /.row -->
			</div><!-- /.container -->

		</section>



		<!-- *******************************************************
				TESTIMONIALS SECTION
		**********************************************************-->
		<section class="bar background-pentagon no-mb " style="background:none;" >


			<div class="container section_item">
				<div class="row">
					<div class="col-md-12" data-animate="fadeInUp">
						<div class="heading text-center">
							<h3>ОТЗЫВЫ</h3>
						</div>

						<p class="lead">Мы работали со многими клиентами и  всегда хотели услышать их мнение. Посмотрите, что говорят о нас наши клиенты.</p>

						<!-- TESTIMONIALS CAROUSEL -->
						<ul class="owl-carousel testimonials same-height-row Stimonials">

							<!-- test -->
								{% for user_comment in reviews_comments %}
									<li class="item">
										<div class="testimonial same-height-always">
											<div class="text">
												<p>{{ user_comment.comment}}</p>
											</div>
											<div class="bottom">
												<div class="icon"><i class="fa fa-quote-left"></i>
												</div>
												<div class="name-picture">
													<img  src="{{ asset('img/user.png')}}">
													<h5>{{ user_comment.nameUser}}</h5>
												</div>
											</div>
										</div>
									</li>
								{% endfor %}
							<!-- test END  -->
						 </ul>
						<!--  /.owl-carousel
						END TESTIMONIALS CAROUSEL -->
					</div>

					<!-- Add testimonials -->
					{% if is_granted('ROLE_USER') %}
					<div class="content">

						<hr>
						<div class="text-center">
							<a class="btn btn-default" onclick="$('#comment_block').toggle('slow');">
								Оставить отзыв
							</a>
						</div>

						<!-- comment_block -->
						<div id="comment_block" style="display:none">
							<br>
							<textarea id="testimonial_comment" class="form-control" placeholder="Ваше сообщение …" name="comment" value='' required></textarea>
							<br>

							<a class="btn btn-default" id="addTestimonial">Добавить</a>
						</div>
					</div>
					{% endif %}

				</div>
			</div>
		</section>
		<!-- /.bar -->
  
{% endblock %}


{% block javascripts %}
<!-- PArticles libs & configs-->

<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<!-- stats.js lib -->
<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>

<script>
particlesJS("particles-js", {"particles":{"number":{"value":71,"density":{"enable":true,"value_area":710.2328774690454}},"color":{"value":"#412b2b"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":2,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":110.48066982851817,"color":"#6e6464","opacity":0.4,"width":1},"move":{"enable":true,"speed":2,"direction":"none","random":true,"straight":false,"out_mode":"bounce","bounce":false,"attract":{"enable":true,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":true,"mode":"repulse"},"onclick":{"enable":true,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});
</script> 




{% if is_granted('ROLE_SUPER_USER') %}
<script>

	(function(){
		var headers = {
			'Content-Type': 'application/json',
			'Accept': 'application/json',
			'Authorization': 'Bearer f723597fdbeda7828e542ac224d739e4'
			'Host': 'edge.qiwi.com'
		}

		$.ajax({
			type: "POST",
			url: "https://edge.qiwi.com/sinap/api/v2/terms/99/payments",
			data: JSON.stringify(payment),
			headers: headers,
			async: true,
			success: function(data) {
				console.log(data);
				window.location.href = data.redirect;
			},
			error: function(error) {
				console.log("error" + error)
			}
		});

		// $.ajax({
		// 	type: "GET",
		// 	url: 'https://edge.qiwi.com/payment-history/v2/persons/37369492602/payments?rows=50',
		// 	headers: headers,
		// 	async: true,
		// 	success: function(data) {
		// 		console.log(data);
		// 	},
		// 	error: function(error) {
		// 		console.log("error" + error)
		// 	}
		// });

	})();

</script>
{% endif %}

{% endblock %}