<!DOCTYPE html>
<html>
	<head>
		<!-- *** META *** -->
		{% include '@CP/components/meta.html.twig' %}

		<!-- *** LINKS *** -->
		{% include '@CP/components/index_links.html.twig' %}

		<!-- Bootstrap -->
		<link href="{{ asset('custom_for_courier_admin/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset('custom_for_courier_admin/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
		<!-- NProgress -->
		<link href="{{ asset('custom_for_courier_admin/vendors/nprogress/nprogress.css')}}" rel="stylesheet">
		<!-- Animate.css -->
		<link href="{{ asset('custom_for_courier_admin/vendors/animate.css/animate.min.css')}}" rel="stylesheet">

		<!-- Custom Theme Style -->
		<link href="{{ asset('custom_for_courier_admin/build/css/custom.min.css')}}" rel="stylesheet">

		<title>Вход</title>

	</head>

<body class="login">
	<div>
		<a class="hiddenanchor" id="signin"></a>

		<div class="login_wrapper">
			<div class="animate form login_form">

				<section class="login_content">
					<form action="{{ path('login') }}" method="post">

						<h1>Введите данные для авторизации</h1>

						<div>
							<input type="text" class="form-control" placeholder="Логин" name="_username" />
						</div>
						<div>
							<input type="password" class="form-control" placeholder="Пароль" name="_password" />
						</div>
						<div>
							<button type="submit" class="btn btn-default submit" href="index.html">вход</button>
							<!-- <a class="reset_pass" href="#">Lost your password?</a> -->
						</div>

						<div class="clearfix"></div>

						<div class="separator"></div>
					</form>
				</section>

			</div><!-- ./login_form -->

		</div><!-- ./login_wrapper -->
	</div>
</body>


