<!DOCTYPE html>
<html>
	<head>
		<!-- *** META *** -->
		{% include '@CP/components/meta.html.twig' %}

		<!-- Bootstrap -->
		<link href="{{ asset('custom_for_courier_admin/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset('custom_for_courier_admin/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
		<!-- NProgress -->
		<link href="{{ asset('custom_for_courier_admin/vendors/nprogress/nprogress.css')}}" rel="stylesheet">
		<!-- Animate.css -->
		<link href="{{ asset('custom_for_courier_admin/vendors/animate.css/animate.min.css')}}" rel="stylesheet">

		<!-- Custom Theme Style -->
		<link href="{{ asset('custom_for_courier_admin/build/css/custom.min.css')}}" rel="stylesheet">

		<title>Login on CP</title>

	</head>

<body class="login">
	<div>
		<!-- <a class="hiddenanchor" id="signup"></a> -->
		<div class="login_wrapper">
			<div class="fadeInLeft animated form">
				<div class="center">
					<a href="/cpanel" class="btn btn-default">Вернутся к панели администратора</a>
				</div>
				<style>
					.center{
						display: flex;
						align-items: center;
						justify-content: center
					}
				</style>
				<section class="login_content">
					<form action="{{ path('regadmin') }}" method="post" name="regcustomer_form">
						<br>

						<h1>
							Создать Администратора |
							 <br>
							 <br>
							Курьера
						</h1>

						<div>
							
							<input type="text" class="form-control" placeholder="* Username" name="name_login"/>
						</div>
						<div>
							<input type="email" class="form-control" placeholder="Email" name="email_login" />
						</div>
						<div>
							<input type="password" class="form-control" placeholder="* Password" name="password_login"/>
						</div>

						<div>
							<label for="role">Роль <span class="red">*</span></label>
							<select class="form-control" name="role" id="role" required>
								<option >Не выбрано</option>

								{% if is_granted("ROLE_SUPER_ADMIN") %}
									<option value="ROLE_SUPER_ADMIN">СУПЕР АДМИН</option>
								{% endif %}
								<option value="ROLE_ADMIN">Администратор</option>
								<option value="ROLE_COURIER">Курьер</option>

							</select>
						</div>

						<div>
							<br>
							<button type="submit" class="btn btn-default submit" href="#">Создать</button>
						</div>

					</form>
				</section>
			</div><!-- ./registration_form -->
		</div><!-- ./login_wrapper -->
	</div>
</body>


