
<button type="button" class="btn btn-default" style="margin-right: 10px;" 
	data-toggle="tooltip" data-placement="top" data-original-title="печать"
	onclick="export2Word(window.docx{{order.uniqid}})">

	<i class="fa fa-print"></i> 
</button>

{% if order.delivery_address %}
<div id="docx{{order.uniqid}}">
	<div class="WordSection1 WordSection1{{order.uniqid}}" style="display:none;">
		<table style="height: 151px;" width="189">
			<tr>
				<td style="font-size: 15px; font-weight: bold;">
					<!-- surname -->
					{% if order.delivery_address.surname is not empty %}
						{{ order.delivery_address.surname }}
					{% endif %}

					<!-- name -->
					{% if order.delivery_address.name is not empty %}
						 {{ order.delivery_address.name }} 
					{% endif %}
				</td>
			</tr>

			{% if order.delivery_address.potronymic is not empty %}
			<tr>
				<td style="font-size: 15px; font-weight: bold;">
					<!-- potronymic -->
					<p class="s_value"> {{ order.delivery_address.potronymic }} </p> 
				</td>
			</tr>
			{% endif %}

			<tr>
				<td style="font-size:12px;">
					<!-- streetName -->
					{% if order.delivery_address.streetName is not empty %}
						ул.{{ order.delivery_address.streetName }},
					{% endif %}

					<!-- home  / fraction -->
					{% if order.delivery_address.home is not empty %} 
						д.{{ order.delivery_address.home }}

						{% if order.delivery_address.fraction is not empty %} 
							/ {{ order.delivery_address.fraction }},
						{% endif %}
					{% endif %},

					<!-- housing -->
					{% if order.delivery_address.housing is not empty %} 
						к:{{ order.delivery_address.housing }}
					{% endif %}

					<!-- room -->
					{% if order.delivery_address.room is not empty %}
						кв.{{ order.delivery_address.room }}
					{% endif %}

					<!-- подьезд -->
					{% if order.delivery_address.porch is not empty %} 
						п.{{ order.delivery_address.porch }}
					{% endif %}

					{% if order.delivery_address.region is not empty %}
						ре:
						{{ order.delivery_address.region }},
					{% endif %}
				</td>
			</tr>

			<tr>
				<td style="font-size: 15px; font-weight: bold; text-decoration: underline;">
					<!-- localityName -->
					{% if order.delivery_address.localityName is not empty %}
						{{ order.delivery_address.localityName }}, 
					{% endif %}

					<!-- district -->
					{% if order.delivery_address.district is not empty %}
						ра.{{ order.delivery_address.district }}
					{% endif %}

				</td>
			</tr>

			<!-- posteRestante -->
			{% if order.delivery_address.posteRestante is not empty %}
			<tr>
				<td style="font-size:12px;">
					{{ order.delivery_address.posteRestante }}
				</td>
			</tr>
			{% endif %}

			{% if order.delivery_address.postcode is not empty %}
			<tr>
				<td style="font-size: 15px; font-weight: bold; text-align: right; text-decoration: underline;">
					{{ order.delivery_address.postcode }}
				</td>
			</tr>
			{% endif %}
		</table>

	</div>
</div>
{% endif %}