{% extends "base.html.twig" %}

{% block title %}Горячие вопросы{% endblock %}

{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7  hidden-sm hidden-xs">
						<p class="text-muted">Если вы не нашли ответ на свой вопрос, не стесняйтесь <a href="/contact"> связаться с нами </a>, наша служба поддержки будет рада помочь вам.</p>

					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/">Главная</a>
							</li>
							<li>Вопросы</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block body %}
		<div id="content" style="min-height:600px;">
			<div class="container">
				<div class="row">

					<!-- *** LEFT COLUMN ***
					_________________________________________________________ -->

					<div class="col-md-9 clearfix">
						{% if is_granted('ROLE_ADMIN') %}
						<div class="for_admin">
							<!--  Add new questions and answer -->
							<a class="btn btn-default" onclick="$('#comment_block').toggle('slow');">
								Добавить вопрос
							</a>

							<div id="comment_block" style="display:none">
								<form action="/newQuesion" method="post">
									<div class="form-group">
										<label for="question">Вопрос</label>
										<input type="text" class="form-control" id="questionn" name="question" required>
									</div>

									<textarea id="answer" class="form-control" placeholder="Ответ на вопрос …" name="answer" value="" required></textarea>
									<br>
									<button type="submit" class="btn btn-default">Сохранить</button>
								</form>
							</div>

							<br> <br> <br>
						</div> <!-- ./ END for admin -->
						{% endif %}

						<!-- display list of quesions and answers  -->
						<section>
							<div class="panel-group" id="accordion">
								{% for item in hotquestions %}
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#question{{item.id}}">
												{{ loop.index }}. {{ item.question }}
											</a>

										</h4>
									</div>

									<div id="question{{item.id}}" class="panel-collapse collapse">
										<div class="panel-body">
											{{ item.answer }}
											<hr>
											<p class="date-comments">
												<!-- <a href="blog-post.html"> -->
													<i class="fa fa-calendar-o"></i> {{ item.date|date('j-m-y - G:i') }}
												<!-- </a> -->
												{% if is_granted('ROLE_ADMIN') %}
												<form action="/rmvHotQuestion" method="post">
													<input type="text" name="entry_id" value="{{item.id}}" style="display:none;">

													<button type="submit" class="btn btn-template-black btn-lg right" data-toggle="tooltip" data-placement="top"
														data-original-title="Удалить запись">
														<i class="fa fa-trash"></i>
													</button>
												</form>
												{% endif %}
											</p>


										</div>
									</div>
								</div>
								<!-- /.panel -->
								{% endfor %}

							</div>
							<!-- /.panel-group -->

						</section>

					</div>
					<!-- /.col-md-9 -->
					<!-- *** LEFT COLUMN END *** -->



					<!-- *** RIGHT COLUMN ***
					_________________________________________________________ -->
					<div class="col-md-3">
						<!-- *** CUSTOMER MENU ***
						_________________________________________ -->

						{% include '@App/components/customer_menu.html.twig' %}
						<!-- *** CUSTOMER MENU END *** -->
					</div>
					<!-- *** RIGHT COLUMN END *** -->

				</div>
				<!-- /.row -->

				{#
				{% if user_favorites|length %}
				<div class="row">
					<div class="col-md-3">
						<div class="box text-uppercase">
							<h4>ВАМ ТАКЖЕ ПОНРАВИЛОСЬ</h4>
						</div>
					</div>

					{% for item in user_favorites %}
						{% include '@App/components/favorite_products.html.twig'%}
					{% endfor %}
				</div>
				{% endif %} <!-- if not empty user_favorites array-->
				#}

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->
{% endblock %}
