{% extends "baseCP.html.twig" %}

{% block title %}Сообщения от клиентов{% endblock %}

{% block body %}
<!-- page content -->
<div class="right_col" role="main">
	<div class="title_right">
		<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Поиск по...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">поиск!</button>
				</span>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">

			<div class="x_panel">
				<div class="x_title">
					<h2>Сообщения от клиентов</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>

				<div class="x_content">
					<div class="row">
						<div class="col-sm-3 mail_list_column">


							<a href="#">
								<div class="mail_list">
									<div class="left">
										<i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
									</div>

									<div class="right">
									<h3>Dennis Mugo <small>3.00 PM</small></h3>
									<p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
									</div>
								</div>
							</a>

						</div>
						<!-- /MAIL LIST -->

						<!-- CONTENT MAIL -->
						<div class="col-sm-9 mail_view">
							<div class="inbox-body">
								<div class="mail_heading row">
									<div class="col-md-8">
										<div class="btn-group">
											<button class="btn btn-sm btn-primary" type="button"><i class="fa fa-reply"></i> Reply</button>

											<button id="compose" class="btn btn-sm btn-success btn-block" type="button">COMPOSE</button>

											<button class="btn btn-sm btn-default" type="button"  data-placement="top" data-toggle="tooltip" data-original-title="Forward"><i class="fa fa-share"></i></button>
											<button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Print"><i class="fa fa-print"></i></button>
											<button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></button>
										</div>
									</div>

									<div class="col-md-4 text-right">
										<p class="date"> 8:02 PM 12 FEB 2014</p>
									</div>

									<div class="col-md-12">
										<h4> Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Donec ultrices faucibus rutrum.</h4>
									</div>
								</div> <!-- ./mail_heading -->

								<div class="sender-info">
									<div class="row">
										<div class="col-md-12">
											<strong>Jon Doe</strong>
											<span>(jon.doe@gmail.com)</span> to
											<strong>me</strong>
											<a class="sender-dropdown"><i class="fa fa-chevron-down"></i></a>
										</div>
									</div>
								</div>

								<div class="view-mail">
									<p> Message from client</p>
								</div>

								<div class="attachment">

									<p>
										<span><i class="fa fa-paperclip"></i> 3 attachments — </span>
										<a href="#">Download all attachments</a> |
										<a href="#">View all images</a>
									</p>

									<ul>
										<li>
											<a href="#" class="atch-thumb">
												<img src="images/inbox.png" alt="img" />
											</a>

											<div class="file-name">
												image-name.jpg
											</div>

											<span>12KB</span>


											<div class="links">
												<a href="#">View</a> -
												<a href="#">Download</a>
											</div>
										</li>
									</ul>
								</div> <!-- ./attachment -->

							<!-- /CONTENT MAIL -->
							</div> <!-- ./inbox-body -->
						</div> <!-- ./mail_view -->
					</div> <!-- ./x_panel -->

				</div><!-- ./x_content -->
			</div> <!-- ./x_panel -->
		</div>
	</div><!-- ./ row -->

</div>
<!-- /page content -->

{% include '@CP/Tosupport/wysiwyg_to_user.html.twig' %}

{% endblock %}
