{% extends "baseCP.html.twig" %}

{% block title %}Склад{% endblock %}


{% block stylesheets %}
{% endblock %}

{% block body %} 

<!-- page content -->
<div class="right_col" role="main">
		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Склад</h2>

						<ul class="nav navbar-right panel_toolbox">
							<li>
								<button type="button" class="btn btn-dark notify_prod" onclick="notifyProd()">
									Оповестить клиентов
								</button>
							</li>
						</ul>

						<div class="clearfix"></div>
					</div>

					<!-- Filters -->
					<!-- inputs -->
					{#
					<div class="row">

						<div style="border-left: 1px solid #ddd;">
							<form action="#" class="form-horizontal" >
								<div class="item form-group">
									<div class="col-md-4">
										<select class="form-control">
												<option>Категория</option>
											{% for i in 1..3 %}
												<option>Категория{{loop.index}}</option>
											{% endfor %}
										</select>
									</div>
									<!-- if any is incorrect add class 'bad' to div above -->

									<!-- <div class="alert col-md-6"></div> -->
									<div class="col-md-4">
										<select class="form-control">

												<option>Производитель</option>
											{% for i in 1..3 %}
												<option>Производитель{{loop.index}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-dark">
											<i class="fa fa-search"></i>
										</button>
										<button type="button" class="btn btn-dark">
											сброс
										</button>
									</div>
								</div>

							</form>
						</div>

					</div>
					#}
					<!-- inputsEND  -->

					<div class="divider"></div>

					<!-- Filters END  -->

					<div class="x_content">

						<table id="stock_table" class="mdl-data-table display responsive nowrap">
							<thead>
								<tr>
									<th>ID</th>
									<!-- product name -->
									<th>Наименование</th>
									<!-- remainder -->
									<th>Остаток</th>
									<!-- not paid -->
									<th>Неоплаченные</th>
									<!-- paid -->
									<th>Оплаченные</th>
									<!-- in error -->
									<th>В ошибке</th>
									<!-- remainder -->
									<th>Остаток + <br> Неоплаченные + <br> Оплаченные</th>

									<!-- Control -->
									{% if is_granted('ROLE_SUPER_ADMIN') %}
									<th>Управление</th>
									{% endif %}
								</tr>
							</thead>

							<tbody>
									{% for product in products %}
										<!-- EXAMPLE OF ROW OF TABLE -->
										<tr  id="row_{{loop.index}}">
											<!-- ID product -->
											<td>
												<input type="text" name="pid" class="form-control"
												 value="{{ product.id }}" style="display:none;">
												  <!-- col-md-3 col-sm-3 col-xs-3 -->
												<p>{{product.id}}</p>
											</td>

											<!-- Наименование -->
											<td>
												{% if product.images.0 is defined %}
													<img src="{{ asset(product.images.0) }}" alt="{{ asset(product.images.0) }}"
													 width="30px" class="mr-5">
												{% endif %}

												<a class="external" whref="/pDetail/{{ product.id }}" style="cursor:pointer;">
													{{ product.name }} 
													{{ product.count_dosage }}
												</a>
											</td>

											<!-- Остаток -->
											<td>
												{% if is_granted("ROLE_SUPER_ADMIN") != "ROLE_SUPER_ADMIN" %}
													{% if product.product_quantity is null %}
														<p class=" red"> 0 </p>
													{% else %}
														<p class=""> {{ product.product_quantity }} </p>
													{% endif %}
												{% endif %}


												{% if is_granted('ROLE_SUPER_ADMIN') %}
													{% if product.product_quantity is empty or product.product_quantity <= 0 %}
														<input type="number" name="quantity" class="form-control" value="{{ product.product_quantity }}">
														<span class="red">- Нет в наличии </span>
													{% else %}
													<input type="number" name="quantity" class="form-control" value="{{ product.product_quantity }}">
													{% endif %}
												{% endif %}
											</td>

											<!-- Неоплаченные -->
											<td>
												{{ prodOnOrder[product.id]['pending_payment'] }}
											</td>

											<!-- Оплаченные -->
											<td>
												{{ prodOnOrder[product.id]['paid'] }}
											</td>
											
											<!-- в ошибке -->
											<td>
												{{ prodOnOrder[product.id]['order_failed'] }}
											</td>

											<!-- Остаток + <br> Неоплаченные + <br> Оплаченные -->
											<td>
												{{
													prodOnOrder[product.id]['product_quantity']
													 + prodOnOrder[product.id]['pending_payment']
													 + prodOnOrder[product.id]['paid']
												}}
											</td>

											<!-- Control -->
											{% if is_granted('ROLE_SUPER_ADMIN') %}
											<td>
												<!-- change -->
												<button type="submit" class="btn btn-default " data-toggle="tooltip" data-placement="top"
												 data-original-title="изменить" style="margin-right: 20px;"  onclick="submitForm('#row_{{loop.index}}', 'updateStockcp')"> 
													<i class="fa fa-edit"></i>
												</button>
											</td>
											{% endif %}

										</tr>
										<!-- EXAMPLE OF ROW OF TABLE -->
									{% endfor %}

							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
{% endblock %}


{% block javascripts %}

	<!--  .........................................................................
						Get main settings
	............................................................................-->
	<script>
	function getSett(columnDefs = null){
		var custom_settings = {
			columnDefs: [
				{ responsivePriority: 0, targets: 0 },
				{ responsivePriority: 1, targets: 7 },
				{ responsivePriority: 2, targets: 1 },
				{ responsivePriority: 3, targets: 2 },
				{ responsivePriority: 4, targets: 3 },
				{ responsivePriority: 5, targets: 4 },
				{ responsivePriority: 6, targets: 5 },
				{ responsivePriority: 7, targets: 6 }
			]
		};


		// if (columnDefs == 'not_auth') {
		// 	custom_settings.columnDefs = [
		// 		{ responsivePriority: 0, targets: 0 },
		// 		{ responsivePriority: 1, targets: 1 },
		// 		{ responsivePriority: 2, targets: 2 },
		// 		{ responsivePriority: 3, targets: 3 },
		// 		{ responsivePriority: 4, targets: 4 },
		// 		{ responsivePriority: 5, targets: 5 },
		// 		{ responsivePriority: 6, targets: 6 }
		// 	]
		// }

		return custom_settings;
	}
	</script>

	<!--  .........................................................................
		Custom functionality for check if customer is authorized
	............................................................................-->
	{% if is_granted('ROLE_AMDIN') == true %}
	<script>
		csettings = getSett();
	</script>
	{% else %}
	<script>
		csettings = getSett('not_auth');
	</script>
	{% endif %}

<script>
// $(document).ready(function() {

	var columnDefs = csettings.columnDefs;

	var table = $('#stock_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: columnDefs,
		responsive: true,
		autoFill: true,
		"pageLength": 50
	});
// } );

	function notifyProd(){
		$('.notify_prod').attr('disabled', 'disabled');

		$.ajax({
			url:'/notifyAbouProd',
			type: "POST",
			dataType: "json",
			data: {
			},
			async: true,
			success: function (data)
			{

				$('.notify_prod').removeAttr('disabled');

				if (data.not_sent.length) {
					new Noty({
						text: 'Произошла ошибка',
						type: 'error',
						layout: 'topRight',
						timeout: 3500
					}).show()
				}else {
					new Noty({
						text: 'Пользователи успешно оповещенны',
						type: 'success',
						layout: 'topRight',
						timeout: 3500
					}).show()
				}
			}
		});

		return false;
	}

</script>
{% endblock %}