{% extends "baseCP.html.twig" %}

{% block title %}Курсы{% endblock %}

{% block body %}
<!-- page content -->
<div class="right_col" role="main">
	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Список всех курсов</h2>

					<div class="clearfix"></div>
				</div>

				<div class="divider"></div>

				<div class="x_content">
					<table id="list_course_table" class="mdl-data-table display responsive nowrap">
						<thead>
							<tr>
								<!-- course id -->
								<th> ИД </th>
								<!-- Content -->
								<th>Содержимое</th>
								<!-- Name -->
								<th>Наимен.</th>
								<!-- count -->
								<th> </th>
								<!-- Amount -->
								<th>Сумма</th>

								<!-- control -->
								{% if is_granted('ROLE_SUPER_ADMIN') %}
								<th>управление</th>
								{% endif %}
							</tr>
						</thead>

						<tbody>

							<!-- ................................................................................
										Loop for products
							................................................................................. -->
							{% for course in courses %}
							<tr>
								<!-- course id -->
								<td>
									{{course.id}}
								</td>

								<!-- content  -->
								<td>
									<button type="button" class="btn btn-template-main"
									onclick="$('.course_product{{course.id}}').toggle('slow');">
										<i class="fa fa-arrow-down"></i>
									</button>
								</td>

								<!-- Product Name  -->
								<td>
									<div class="heading">
										<h6>
											{% if course.instock == false %}
												<span class="red"> {{course.name}}
													 - Нет в наличии
												</span>
											{% else %}
												{{course.name}}
											{% endif %}

										</h6>

								</td>

								<!-- count -->
								<td>
									{% if course.warning|length > 0 %}
										<!-- modals -->
										<div class="x_content">
												<!-- recipient detail -->
												<button type="button" class="btn  btn-default col-md-3 red" data-toggle="modal" data-target=".cid{{course.id}}"> <i class="fa fa-info"></i></button>

												<div class="modal fade cid{{course.id}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																	{% for key, message in course.warning %}
																		{{ message }} <br>
																	{% endfor %}
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->
										</div> <!-- ./x_content -->
									</div> <!-- ./ heading -->
									{% endif %}
								</td>

								<!-- amount -->
								<td>
									{{course.price}}
									<i class="fa fa-rub" aria-hidden="true"></i>
								</td>

								<!-- control -->
								{% if is_granted('ROLE_SUPER_ADMIN') %}
								<td>
									<div class="x_content">
									<!-- 	<button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top"
										 data-original-title="изменить">
											<i class="fa fa-edit"></i>
										</button> -->

										<button type="button" class="btn btn-default " data-toggle="modal" data-target=".bs{{course.id}}">
											<i class="fa fa-trash"></i>
										</button>

										<div class="modal fade bs{{course.id}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">

													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
														</button>
													</div>

													<div class="modal-body">
														<footer>
															<p>Вы уверены что хотите удалить курс:
																<cite title="Source Title">
																	{{course.id}} )
																	{{course.name}}
																</cite>
															</p>
														</footer>
													</div>

													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
														<a href="/rmvCourse/{{course.id}}" class="btn btn-primary"><i class="fa fa-trash"></i> удалить</a>
													</div>

												</div><!-- ./modal-content -->
											</div><!-- ./modal-dialog -->
										</div><!-- ./modal -->
									</div>
								</td>
								{% endif %}
							</tr>

							<!-- course products -->
							{#
							#}
							{% for cprod in course.content %}
							<tr class="course_product{{course.id}}" style="display:none;">
								<td>
									{{ course.id }}
								</td>

								<!-- Content -->
								<td></td>

								<!-- prod name & dosage -->
								<td>
									н:
									{{ cprod.prod_name }}
									{{ cprod.count_dosage }}
								</td>

								<!-- prod count -->
								<td>
									кол-во:
									{{ cprod.count }}
								</td>

								<td>
									единица:
									{{ cprod.price }}
									<i class="fa fa-rub" aria-hidden="true"></i>
								</td>

								<!-- control -->
								{% if is_granted('ROLE_SUPER_ADMIN') %}
								<td></td>
								{% endif %}

							</tr>
							{% endfor %}
							<!-- End Loop of content of course -->

						{% endfor %}
						<!-- End Loop for products of course -->
						<tbody>

					</table>
				</div><!-- ./x_content -->
			</div><!-- ./x_panel -->
		</div>
	</div><!-- ./row -->
</div><!-- ./right_col -->

<!-- /page content -->

{% endblock %}

{% block javascripts %}
<script>
						
	var table = $('#list_course_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: [
			{
				// targets: [ 0, 1, 2 ],
				className: 'mdl-data-table__cell--non-numeric'
			}
		],
		responsive: true,
		columnDefs: [
			{ responsivePriority: 0, targets: 0 },
			{ responsivePriority: 1, targets: 1 },
			{ responsivePriority: 3, targets: 2 }
		],
		autoFill: true,
		"pageLength": 100
	});
</script>

{% endblock %}
