{% extends "baseCourier.html.twig" %}

{% block title %}CourierBundle:admin:admin{% endblock %}

{% block stylesheets %}
  {% include '@Courier/components/index_links.html.twig' %}
{% endblock %}

{% block body %}

<!-- page content -->
<div class="right_col" role="main">

		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Заказы</h2>

						<div class="clearfix"></div>
					</div>

					<!-- Filters -->
					<!-- inputs -->
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-6" style="border-left: 1px solid #ddd;">
							<form action="#" class="form-horizontal" >
								<div class="item form-group">
									<span>По идентификатору</span>
									<div>
										<input id="order_id" class="form-control" data-validate-min="0"  data-validate-words="3" name="name" placeholder="ID заказа" required="required" type="number">
									</div>
									<!-- if any is incorrect add class 'bad' to div above -->
									<!-- <div class="alert col-md-6"></div> -->
								</div>
								<div class="item form-group">
									<div>
										<input type="email" id="email" class="form-control col-md-6 col-xs-12" name="email" required="required"  placeholder="Почта юзера">
									</div>
									<!-- if any is incorrect add class 'bad' to div above -->
									<!-- <div class="alert col-md-6"></div> -->
								</div>

								<div>
									<button type="button" class="btn btn-dark right" style="float:right;">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</form>
						</div>


						<div class="col-md-2" style="border-left: 1px solid #ddd;">
							<form action="#">
								<!-- From date-->
								<fieldset>
									<span>По дате добавления</span>
									<div class="control-group">
										<div class="controls">
											<div class="xdisplay_inputx form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="single_cal1" placeholder="Выберите дату" aria-describedby="inputSuccess2Status" >
												<span class=" form-control-feedback left" aria-hidden="true" style="left: 5px;">ОТ</span>
												<span id="inputSuccess2Status" class="sr-only">(success)</span>
											</div>
										</div>
									</div>
								</fieldset>
								<!-- ./From date -->

								<!-- To date -->
								<fieldset>
									<div class="control-group">
										<div class="controls">
											<div class="xdisplay_inputx form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="single_cal2" placeholder="Выберите дату" >
												<span class=" form-control-feedback left" aria-hidden="true" style="left: 5px;">ДО</span>
												<span id="inputSuccess2Status" class="sr-only">(success)</span>
											</div>
										</div>
									</div>
								</fieldset>
								<!-- ./To date -->

								<div >
									<button type="button" class="btn btn-dark right" style="float:right;">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</form>
						</div>

					</div>
					<div class="divider"></div>

					<div>
						<button type="button" class="btn " >
							Новые
							<span class="badge bg-white">6</span>
						</button>

						<button type="button" class="btn">
							В процессе
							<span class="badge bg-white">1</span>
						</button>

						<button type="button" class="btn">
							Ошибка заказа
							<span class="badge bg-white">0</span>
						</button>

						<button type="button" class="btn">
							Высланные
							<span class="badge bg-white">278</span>
						</button>

					</div>

					<!-- inputsEND  -->

					<div class="divider"></div>

					<!-- Filters END  -->

					<div class="x_content">

						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap">
							<thead>
								<tr>
									<th>Заказ</th>
									<th>Клиент</th>
									<th>Количество</th>
									<th>Треккод</th>
									<th>Тариф</th>
									<th>Статус</th>
									<th>Создан | Оплачен</th>
									<th>Управление</th>
								</tr>
							</thead>

							<tbody>
									{% for i in 1..100 %}
										<!-- EXAMPLE OF ROW OF TABLE -->
										<tr>
											<!-- Номер заказ -->
											<td><p data-toggle="modal" data-target=".bs{{loop.index}}">{{loop.index}}</p>
												<div class="x_content">
													<!-- modals -->

													<div class="modal fade bs{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
														<div class="modal-dialog modal-lg">
															<div class="modal-content">

																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																	</button>
																	<h4 class="modal-title" id="myModalLabel">Содержание заказа , под номером : #{{loop.index}}</h4>
																</div>
																<div class="modal-body">
																	<ul class="list-unstyled msg_list">
																		<li>
																			<a>
																				<span class="image">
																					<img src="{{ asset('custom_for_courier_admin/images/product3.jpg') }}" alt="img">
																				</span>
																				<span>
																					<span>Название Продукта {{loop.index + 3}}</span>
																				</span>
																				<span class="message">
																					Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that
																				</span>
																			</a>
																			<a href="">
																					<span>
																						<span>Кол-во: {{loop.index}} </span>
																					</span>
																			</a>
																		</li>
																		<li>
																			<a>
																				<span class="image">
																					<img src="{{ asset('custom_for_courier_admin/images/product3.jpg') }}" alt="img">
																				</span>
																				<span>
																					<span>Название Продукта {{loop.index + 1 }}</span>
																				</span>
																				<span class="message">
																					Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that
																				</span>
																			</a>
																			<a href="">
																					<span>
																						<span>Кол-во: {{loop.index}} </span>
																					</span>
																			</a>
																		</li>
																	</ul>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
																	<button type="button" class="btn btn-primary"><i class="fa fa-print"></i> печать</button>
																</div>

															</div><!-- ./modal-content -->
														</div><!-- ./modal-dialog -->
													</div><!-- ./modal -->

												</div><!-- /.x_content -->
											</td>

											<!-- Клиент -->
											<td>Имя Клиента</td>

											<!-- Количество -->
											<td> {{loop.index}}</td>

											<!-- Треккод -->
											<td><input type="text" class="form-control" placeholder="Трек код{{loop.index}}"> </td>
											<!-- Тариф -->
											<td><input type="text" class="form-control" placeholder="Сумма, руб"> </td>

											<!-- статус -->
											<td>
												<select class="form-control">
													{% if loop.index == 1 %}
														<option>на упаковке</option>
													{% else %}
														<option>Не выбран</option>
													{% endif %}

													{% if loop.index == 1 %}
														<option>Не выбран</option>
													{% else %}
														<option>на упаковке</option>
													{% endif %}
													<option>ожидается отправка</option>
													<option>отправлен</option>
												</select>
											</td>

											<!-- Оплачен | Создан -->
											{% if loop.index == 1 %}
												<td>
													<p style="margin-bottom: 5px;">C : {{loop.index}}.07.18</p>
													<p class="red">О : На упаковке</p>
												</td>
											{% else %}
												<td>
													<p style="margin-bottom: 5px;">C : {{loop.index}}.07.18</p>
													<p>О : {{loop.index}}.07.18</p>
												</td>
											{% endif %}

											<!-- Управление -->
											<td>
												<div class="x_content">

												<!-- modals -->
												<!-- change -->
												<button type="button" class="btn btn-default col-md-3" data-toggle="tooltip" data-placement="top" data-original-title="изменить" style="margin-right: 20px;"> 
													<i class="fa fa-edit"></i>
												</button>

												<!-- print -->
												<button type="button" class="btn btn-default col-md-3"  style="margin-right: 20px;"  data-toggle="tooltip" data-placement="top" data-original-title="печать">
													<i class="fa fa-print"></i>
												</button>

												<!-- trash -->
												<button type="button" class="btn  btn-default col-md-3" data-toggle="modal" data-target=".bs{{loop.index * 200}}"> <i class="fa fa-trash"></i></button>

												<div class="modal fade bs{{loop.index * 200}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																<h4 class="modal-title" id="myModalLabel">Вы уверены что хотите удалить пользователя, c ID: #1</h4>
															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
																<button type="button" class="btn btn-primary"><i class="fa fa-trash	"></i> удалить</button>
															
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->

												</div>
												
											</td>
										</tr>
										<!-- EXAMPLE OF ROW OF TABLE -->

									{% endfor %}

							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
<style>
	@media screen and (max-width: 1500px) {
		.dropdown-menu{
			display: none !important;
		}
		.open .dropdown-menu{
			display: block  !important;
		}
	}
</style>
{% endblock %}


{% block javascripts %}
	{% include '@Courier/components/orders_scripts.html.twig' %}
{% endblock %}