{% extends "baseCP.html.twig" %}

{% block title %}Купоны{% endblock %}

{% block body %} 

<!-- page content -->
<div class="right_col" role="main">
		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Склад</h2>

						<ul class="nav navbar-right panel_toolbox">
							<li>
								{% include '@CP/components/new_coupon.html.twig' %}
							</li>
						</ul>

						<div class="clearfix"></div>
					</div>

					<div class="divider"></div>

					<!-- Filters END  -->

					<div class="x_content">

						<table id="coupon_table" class="mdl-data-table display responsive nowrap">
							<thead>
								<tr>
									<th>ID</th>
									<!-- coupon_name-->
									<th>Наименование</th>

									<!-- percent -->
									<th> Скидка </th>

									<!-- fromdate -->
									<th>ОТ</th>

									<!-- todate -->
									<th>ДО</th>

									<!-- create_date -->
									<th>Создан</th>

									<!-- Control -->
									{% if is_granted('ROLE_SUPER_ADMIN') %}
									<th>Управление</th>
									{% endif %}
								</tr>
							</thead>

							<tbody>
								{% for item in list_coupon %}
									<!-- EXAMPLE OF ROW OF TABLE -->
									<tr  id="row_{{loop.index}}">
										<!-- ID product -->
										<td>
											<p style="display:none;">{{ loop.index }} </p>
											<p>{{item.id}}</p>
										</td>

										<!-- coupon_name -->
										<td>
											{{ item.name }}
										</td>

										<!-- percent -->
										<td>
											{{ item.percent }} %
										</td>

										<!-- fromdate-->
										<td>
											{{ item.fromdate|date('d.m.y') }}
										</td>

										<!-- todate -->
										<td>
											{{ item.todate|date('d.m.y') }}
										</td>


										<!-- create date -->
										<td>
											{{ item.createdate|date('d.m.y') }}
										</td>

										<!-- Control -->
										{% if is_granted('ROLE_SUPER_ADMIN') %}
										<td>

											<div class="x_content">
											{#
											<!-- change -->
											<button type="submit" class="btn btn-default " data-toggle="tooltip" data-placement="top"
											 data-original-title="изменить" style="margin-right: 20px;"  onclick="submitForm('#row_{{loop.index}}', 'updateStockcp')"> 
												<i class="fa fa-edit"></i>
											</button>
											#}

											<!-- trash -->
											<button type="button" class="btn  btn-default " data-toggle="modal" data-target=".bs{{item.id}}"> <i class="fa fa-trash"></i></button>

											<div class="modal fade bs{{item.id}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
												<div class="modal-dialog modal-lg">
													<div class="modal-content">

														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
															</button>
														</div>

														<div class="modal-body">
															<h4 class="modal-title" id="myModalLabel">Вы уверены что хотите удалить купон: {{item.name}} </h4>
														</div>

														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
															<a  href="/rmvCoupon/{{item.id}}" class="btn btn-primary">
																<i class="fa fa-trash"></i> удалить
															</a>
														
														</div>

													</div><!-- ./modal-content -->
												</div><!-- ./modal-dialog -->
											</div><!-- ./modal -->
											</div>
										</td>
										{% endif %}

									</tr>
									<!-- EXAMPLE OF ROW OF TABLE -->
								{% endfor %}
								{#
								#}
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
{% endblock %}


{% block javascripts %}

	<!--  .........................................................................
						Get main settings
	............................................................................-->
	<script>
	function getSett(columnDefs = null){
		var custom_settings = {
			columnDefs: [
				{ responsivePriority: 0, targets: 0 },
				{ responsivePriority: 2, targets: 1 },
				{ responsivePriority: 3, targets: 2 },
				{ responsivePriority: 4, targets: 3 },
				{ responsivePriority: 5, targets: 4 },
			]
		};


		// if (columnDefs == 'not_auth') {
		// 	custom_settings.columnDefs = [
		// 		{ responsivePriority: 0, targets: 0 },
		// 		{ responsivePriority: 1, targets: 1 },
		// 		{ responsivePriority: 2, targets: 2 },
		// 		{ responsivePriority: 3, targets: 3 },
		// 		{ responsivePriority: 4, targets: 4 },
		// 		{ responsivePriority: 5, targets: 5 },
		// 		{ responsivePriority: 6, targets: 6 }
		// 	]
		// }

		return custom_settings;
	}
	</script>

	<!--  .........................................................................
		Custom functionality for check if customer is authorized
	............................................................................-->
	{% if is_granted('ROLE_AMDIN') == true %}
	<script>
		csettings = getSett();
	</script>
	{% else %}
	<script>
		csettings = getSett('not_auth');
	</script>
	{% endif %}

<script>
// $(document).ready(function() {

	var columnDefs = csettings.columnDefs;

	var table = $('#coupon_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: columnDefs,
		responsive: true,
		autoFill: true,
		"pageLength": 50
	});
// } );

	function notifyProd(){
		$('.notify_prod').attr('disabled', 'disabled');

		$.ajax({
			url:'/notifyAbouProd',
			type: "POST",
			dataType: "json",
			data: {
			},
			async: true,
			success: function (data)
			{

				$('.notify_prod').removeAttr('disabled');

				if (data.not_sent.length) {
					new Noty({
						text: 'Произошла ошибка',
						type: 'error',
						layout: 'topRight',
						timeout: 3500
					}).show()
				}else {
					new Noty({
						text: 'Пользователи успешно оповещенны',
						type: 'success',
						layout: 'topRight',
						timeout: 3500
					}).show()
				}
			}
		});

		return false;
	}

$(function () {
	$('#fromDate').datetimepicker({
		format: 'YYYY/MM/DD'
	});
	$('#toDate').datetimepicker({
		format: 'YYYY/MM/DD'
	});
});

</script>
{% endblock %}