{% extends "base.html.twig" %}

{% block title %}Способ оплаты{% endblock %}

{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<p class="text-muted lead">Если у вас есть какие-либо вопросы, пожалуйста <a href="/contact"> свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/">ГЛАВНАЯ</a>
							</li>
							<li>Способ оплаты</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block body %} 
		<div id="content" style="min-height: 500px;">
			<div class="container">

				<div class="row">

					<div class="col-md-9 clearfix" id="checkout">

						<div class="box">
							<form method="post" action="/payRedirect/{{order_uniqid}}">
								<!-- navigation -->
								{#
								{% include '@App/components/order_checkout_nav.html.twig'%}
								#}
								<!-- navigation END  -->

								<div class="content">
									<div class="row">
										<div class="col-sm-6">
											<div class="box payment-method">

												<img src="https://i.imgur.com/mEibY3A.png" style="height: 70px;">

												<p>Способ оплаты через Qiwi Кошелёк</p>

												<div class="box-footer text-center">
													<input type="radio" name="payment_method" value="qiwi" required>
												</div>
											</div>
										</div>

										<div class="col-sm-6">
											<div class="box payment-method">

												<img src="https://i.imgur.com/mG2hFji.png" style="margin: 17px 0 14px 0; height: 41px;">

												<p>Способ оплаты через WEX Купон</p>

												<div class="box-footer text-center">
													<input type="radio" name="payment_method" value="wex" required>
												</div>
											</div>
										</div>
									</div>
									<!-- /.row -->

								</div>
								<!-- /.content -->

								<div class="box-footer">
									<div class="pull-left">
										<!-- <a href="/shop_basket" class="btn btn-default"><i class="fa fa-chevron-left"></i>Вернуться к рассмотрению заказа</a> -->
									</div>
									<div class="pull-right">
										<button type="submit" class="btn btn-template-main">Оплатить заказ<i class="fa fa-chevron-right"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
						<!-- /.box -->


					</div>
					<!-- /.col-md-9 -->

					<div class="col-md-3">
						<!-- order summary -->
						{#
						{% include '@App/components/order_summary.html.twig' %}
						#}
						<!-- /order summary -->
					</div>
					<!-- /.col-md-3 -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->
{% endblock %}

{% block javascripts %}

{% endblock %}
