{% extends "base.html.twig" %}

{% block title %}Рассмотрение заказа{% endblock %}
{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7 hidden-sm hidden-xs">
						<p class="text-muted lead">Если у вас есть какие-либо вопросы, пожалуйста <a href="/contact"> свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/">ГЛАВНАЯ</a>
							</li>
							<li>Рассмотрение заказа </li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block body %} 

		<div id="content">
			<div class="container">

				<div class="row">

					<div class="col-md-9 clearfix" id="checkout">

						<div class="box">
							<!-- <form method="post" action="/shop_checkout_three"> -->
								<!-- navigation -->
								{% include '@App/components/order_checkout_nav.html.twig'%}
								<!-- navigation END  -->

								<br>
								<div class="content">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th colspan="2">Продукт</th>
													<th>Количество</th>
													<th>Цена за единицу</th>
													<th>Cкидка</th>
													<th colspan="2">Всего</th>

													<!-- Управление -->
													<th></th>
												</tr>
											</thead>


											<tbody>
												{% include '@App/components/basket/user_basket.html.twig'%}
											</tbody>

										</table>

									</div>
									<!-- /.table-responsive -->
								</div>
								<!-- /.content -->

								<br>
								<br>
								<div class="row addresses">
									<div class="col-sm-6">
										<h4 class="text-uppercase">Способ доставки</h4>

										{% if app.session.get('DeliveryMethod') is defined  and app.session.get('DeliveryMethod') is not null %}
											<p>
												{{ app.session.get('DeliveryMethod') }}
											</p>
										{% else %}
											<div class="warning_message">
												<p> Способ доставки не был указан, попробуйте проити до этапа "Способ доставки" и указать данные вновь. 
													<br> В случае неудачи обратитесь к администрации.
												</p>
												<a href="/shop_checkout_two"> Указать способ доставки</a>
											</div>
										{% endif %}
									</div>

									<div class="col-sm-6">
										<h4 class="text-uppercase">Адрес доставки</h4>
										<div class="review_recipient_address">
											<!-- include recipient address defined by customer -->
											{% include '@App/components/recipient_address.html.twig'%}
										</div>
									</div>
								</div>
								<!-- /.addresses -->

								<div class="box-footer" style="overflow: hidden;">
									<div class="pull-left">
										<a href="/shop_checkout_two" class="btn btn-default"><i class="fa fa-chevron-left"></i>Вернуться к Способам доставки</a>
									</div>
									<div class="pull-right">
										<a href="/newOrder/after" class="btn btn-template-main" style="border-color: #792e27; color: #792e27;">
											Оплатить позже
											<i class="fa fa-chevron-top"></i>
										</a>

										<a href="/newOrder/pay" class="btn btn-template-main">Перейти к способу оплаты<i class="fa fa-chevron-right"></i>
										</a>
									</div>
								</div>
							<!-- </form> -->
						</div>
						<!-- /.box -->


					</div>
					<!-- /.col-md-9 -->

					<div class="col-md-3">
						<!-- order summary -->
						{% include '@App/components/order_summary.html.twig' %}
						<!-- /order summary -->
					</div>
					<!-- /.col-md-3 -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->
{% endblock %}

{% block javascripts %}
	{% if fullUserBasket['products']|length < 1  and fullUserBasket['course']|length < 1 %}
		<script>
			window.location.href = window.location.origin + '/shop_basket';
		</script>
	{% endif %}
{% endblock %}
