{% extends "base.html.twig" %}

{% block title %}Способ доставки{% endblock %}
{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7 hidden-sm hidden-xs">
						<p class="text-muted lead">Если у вас есть какие-либо вопросы, пожалуйста <a href="/contact"> свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/">ГЛАВНАЯ</a>
							</li>
							<li>Способ доставки</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block body %} 
		<div id="content">
			<div class="container">

				<div class="row">

					<div class="col-md-9 clearfix" id="checkout">

						<div class="box">
							<form method="post" action="/shop_checkout_two">
								<!-- navigation -->
								{% include '@App/components/order_checkout_nav.html.twig'%}
								<!-- navigation END  -->

								{% if app.session.get('DeliveryMethod') is not null %}
									<h4> Способ доставки : {{ app.session.get('DeliveryMethod') }}</h4>
									<p class="delivery_notify">Вы уже указали способ доставки, желаете изменить способ доставки ? </p>
								{% endif %}



								<div class="content delivery_methods">
									<div class="row">

										<div class="col-sm-5">
											<div class="box shipping-method">

												<h4 style="background: url(https://i.imgur.com/y2qEXI2.png) no-repeat center center; background-size: contain; height: 98px;">
												</h4>

												<p>
													Срок доставки, дней:
													<br>
													<a href="https://www.pochta.ru/support/post-rules/delivery-terms" class="external">
														см. контрольные сроки доставки отправлений
													</a>
												</p>

												<div class="box-footer text-center" style="padding: 13px;     margin: 13px 0 -20px;">

													{% if app.session.get('DeliveryMethod') == "почта россии" %}
														<input type="radio" name="delivery" class="delivery_input" value="почта россии" checked>
													{% else %}
														<input type="radio" name="delivery" class="delivery_input" value="почта россии" checked>
													{% endif %}
												</div>
											</div>
										</div>


										<!-- For add another methdo of delivery decomment block bellow -->
<!-- 										<div class="col-sm-6">
											<div class="box shipping-method">

												<h4>Почта россии</h4>

												<p>
													Срок доставки, дней:
													<br>
													<a href="https://www.pochta.ru/support/post-rules/delivery-terms">
														см. контрольные сроки доставки отправлений
													</a>
												</p>

												<div class="box-footer text-center">

													<input type="radio" name="delivery" value="вася">
												</div>
											</div>
										</div> -->

									</div>
									<!-- /.row -->

								</div>
								<!-- /.content --> 

								<!-- ............................................................................................................................. -->

								<div class="box-footer">
									<div class="pull-left">
										<a href="/shop_checkout_one" class="btn btn-default"><i class="fa fa-chevron-left"></i>Вернуться к Адресу</a>
									</div>
									<div class="pull-right">
										<a href="/shop_checkout_three" class="btn btn-template-main next_checkout" style="display:none;">Перейти к способу доставки<i class="fa fa-chevron-right"></i></a>
										<button type="submit" class="btn btn-template-main main_form_btn">Продолжить к рассмотрению заказа<i class="fa fa-chevron-right"></i>
										</button>
									</div>
								</div>

							</form>
						</div>
						<!-- /.box -->

					</div>
					<!-- /.col-md-9 -->

					<div class="col-md-3">
						<!-- order summary -->
						{% include '@App/components/order_summary.html.twig' %}
						<!-- /order summary -->
					</div>
					<!-- /.col-md-3 -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->
{% endblock %}
{% block javascripts %}

{% endblock %}
