{% extends "base.html.twig" %}

{% block title %}Адрес доставки{% endblock %}

{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7  hidden-sm hidden-xs">
						<h1>ПРОВЕРКА - АДРЕСА</h1>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/">ГЛАВНАЯ</a>
							</li>
							<li>ПРОВЕРКА - АДРЕСА</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block body %} 
		<div id="content">
			<div class="container">

				<div class="row">

					<div class="col-md-9 clearfix" id="checkout">

						<div class="box">
							<form method="post" action="/SaveRecipientAddress" id="addressForm">
							<!-- <form method="post" action="/setAddressId" id="addressForm"> -->
								<!-- navigation -->
								{% include '@App/components/order_checkout_nav.html.twig'%}
								<!-- navigation END  -->
								<!-- ............................................................................................................................. -->


								<!-- ..............If user already define recipient address , but want to change her
									............................................................................................................................. -->
								{% if app.session.get('AddressId') is not null %}
									<div id="warning_address">
											{% if app.session.get('AddressDetail') is not null %}
												<h4> Вы уже указали адрес доставки. </h4>
												<a id="change_defined_address" class="btn btn-template-main" style="border-color: #792e27; color: #792e27;">
													Желаете изменить данные ?
												</a>
											{% else %}
												<h4 class="text-center">Указанный вами адрес был удалён,  нажмите  на кнопку "Изменить адрес доставки" <br>
													 для указания нового адресса доставки 
												</h4>
												<a id="change_defined_address" class="btn btn-template-main" style="border-color: #792e27; color: #792e27;">
													Изменить адрес доставки
												</a>
											{% endif %}

									</div>

									{% if app.session.get('AddressDetail') %}
										<hr>
										<div class="review_recipient_address">
											<!-- include recipient address defined by customer -->
											{% include '@App/components/recipient_address.html.twig'%}
										</div>
										<hr>
									{% endif %}
								{% endif %}
								<!-- ............................................................................................................................. -->

								<div class="content addressContent">
									<div class="row">
										<div class="col col-md-12">
											<h4 class="text-center"> ПОЛУЧАТЕЛЬ И АДРЕС ДОСТАВКИ </h4>
										</div>

										<!-- recipient -->
										<div class="col-md-8">
											<div class="form-group">
												<select class="form-control" id="recipient" onchange="hideFullAddress(this.value)" name="recipient">
														<option value="0">Адрес доставки</option>
													{% for item in recipient %}
														<option value="{{ item.id }}" class="rcpOption">
															{{ item.district }},
															{{ item.surname }} 
															{{ item.name }},
															индекс - {{ item.postcode }} ,
															{# {{ item.date|date("j.m.y ") }}#}
														</option>
													{% endfor %}
												</select>
											</div>
										</div>

										<div class="col-md-4">
											<a id="rm_Recipient_Address" class="btn btn-template-main" style="border-color: #792e27; color: #792e27;" rcpId="">
												Удалить адрес
											</a>
										</div>
									</div>
								</div>


								<!-- .................... 		NEW RECIPIENT ADDRESS
									........................................................................................................................... -->
								<div class="new_recipient_address">
									<!-- ............................................................................................................................. -->
									<div class="content">
										<hr>
										<div class="row">
											<br>
											<div class="col col-md-12">
												<p > Поля отмеченные <span class="red"> * </span> обязательны для заполнения! </p>
											</div>

											<!-- surname -->
											<div class="col-sm-6 ">
												<div class="form-group">
													<label for="surname"> Фамилия <span class="red"> * </span> </label>
													<input type="text" class="form-control" id="surname" name="surname">
												</div>
											</div>
											<!-- Name -->
											<div class="col-sm-6">
												<div class="form-group">
													<label for="name"> Имя <span class="red"> * </span> </label>
													<input type="text" class="form-control" id="name"  name="name">
												</div>
											</div>

											<!-- patronymic -->
											<div class="col-sm-6">
												<div class="form-group">
													<label for="patronymic"> Отчество </label>
													<input type="text" class="form-control" id="patronymic" name="patronymic">
												</div>
											</div>

											<!-- Phone -->
											<div class="col-sm-6">
												<div class="form-group">
													<label for="phone"> Телефон </label>
													<input type="text" class="form-control" id="phone" name="phone">
												</div>
											</div>
										</div>
									</div>

									<!-- ............................................................................................................................. -->
									<!-- Full postal address -->
									<div class="content">
										<div class="row">
											<br>
											<div class="col col-md-12">
												<h4 class="text-center"> АДРЕС ДОСТАВКИ </h4>
											</div>

											<!-- post_index -->
											<div class="col-sm-6 ">
												<div class="form-group">
													<label for="post_index"> <span class="red"> * </span> Почтовый индекс Россия </label>
													<input type="text" class="form-control" id="post_index" placeholder="6 цифр" name="index_postal"  maxlength="6" minlength="6"  required />
												</div>
											</div>
											<div class="col-sm-6">
												<br>
												<a href="https://www.pochta.ru/post-index" class="external"> Узнать свой индекс</a>
											</div>

										</div>
										<!-- /.row -->

										<div class="row">
											<!-- subject of the RF  -->
											<div class="col-sm-6">
												<div class="form-group">
													<label for="region">Ваш субъект РФ  <span class="red"> * </span> </label>
													<select class="form-control" id="region" name="region">
														{% for item in subjects %}
																<option value="">
																	{{ item.name}}
																</option>
														{% endfor %}
													</select>
												</div>
											</div>

											<!-- district -->
											<div class="col-sm-6">
												<div class="form-group district">
													<label for="district">Укажите район </label>
													<input type="text" class="form-control" id="district" placeholder="Пример: Ремзавод" max="100" name="district">
												</div>
											</div>
										</div>
										<!-- /.row -->

										<div class="row">
											<!-- locality-type -->
											<div class="col-sm-6">
												<div class="form-group">
													<label for="locality_type">Выберите населенный пункт <span class="red"> * </span> </label>
													<select class="form-control" id="locality_type" onchange="hideDistricts(this.value)" name="locality_type">
															<option value=""> населенный пункт </option>
														{% for item in locality_type %}
															<option value="{{ item }}">{{ item }}</option>
														{% endfor %}
													</select>
												</div>
											</div>

											<!-- locality_name -->
											<div class="col-sm-6">
												<div class="form-group">
													<label for="locality_name">И укажите его название </label>
													<input type="text" class="form-control" id="locality_name" placeholder="Пример: Москва, Санкт-Петербург" name="locality_name">
												</div>
											</div>
										</div>

										<!-- poste_restante -->
										<hr>
										<div class="row">
											<div class="col col-md-6">
												<a id="poste_restante_btn" class="btn btn-template-main" style="border-color: #792e27; color: #792e27;">
													До востребования
													<i class="fa fa-chevron-top" ></i>
												</a>
												<input id="poste_restante" type="text" style="display:none;" name="poste_restante" value="По адресу">
											</div>
										</div>
										<hr>

										<div class="row short">
											<!-- street_type -->
											<div class="col-md-2">
												<label for="street_type"> Тип улицы </label>
												<select class="form-control" id="street_type" name="street_type">
														<option value="">Выберите тип</option>
													{% for item in street_type %}
														<option value="{{ item }}">{{ item }}</option>
													{% endfor %}
												</select>
											</div>

											<!-- street_name -->
											<div class="col-md-10 ">
												<label for="street_name" > Пример: </label>
												<input id="street_name" class="form-control" type="text" placeholder="Индустриальная или Вернадского" name="street_name" >
											</div>
										</div>
										<!-- /.row -->

										<div class="row short">
											<br>
											<div class="col-md-2">
												<div class="form-group">
													<label>Дом/Дробь<span class="red">*</span></label>
													<input type="text" class="form-control" id="home" placeholder="17/1, например" value="" onchange="change_address();" name="home">
													<small id="errors-home" class="text-danger"></small>
												</div>
											</div>

											<div class="col-md-2" style="display: none;">
												<div class="form-group">
													<label>Дробь</label>
													<input type="text" class="form-control" id="fraction" placeholder="Число" onchange="change_address();" name="fraction">
													<small id="errors-fraction" class="text-danger"></small>
												</div>
											</div>

											<div class="col-md-2">
												<div class="form-group">
													<label>Корпус/Блок</label>
													<input type="text" class="form-control" id="housing" placeholder="…" value="" onchange="change_address();" name="housing">
													<small id="errors-housing" class="text-danger"></small>
												</div>
											</div>

											<div class="col-md-2">
												<div class="form-group">
													<label>Подъезд</label>
													<input type="text" class="form-control" id="porch" placeholder="…" value="" onchange="change_address();" name="porch">
													<small id="errors-porch" class="text-danger"></small>
												</div>
											</div>

											<div class="col-md-2">
												<div class="form-group">
													<label>Строение</label>
													<input type="text" class="form-control" id="structure" placeholder="…" value="" onchange="change_address();" name="structure">
													<small id="errors-structure" class="text-danger"></small>
												</div>
											</div>

											<div class="col-md-2">
												<div class="form-group">
													<label>Квартира</label>
													<input type="text" class="form-control" id="room" placeholder="…" value="" onchange="change_address();" name="room">
													<small id="errors-room" class="text-danger"></small>
												</div>

											</div>

										</div>
									</div>

									<!-- ............................................................................................................................. -->
									<hr>
									<div class="content">
										<div class="row">
											<br>
											<div class="col col-md-12">
												<p class="text-center">
													Если это неполные данные, укажите это, оставив ниже комментарий к заказу
												</p>
											</div>
										</div>

										<hr>
										<div class="text-center">
											<a class="btn btn-success" onclick="$('#comment_block').toggle('slow');">
												Добавить комментарий к заказу
											</a>
										</div>

										<!-- comment_block -->
										<div id="comment_block" style="display:none">
											<br>
											<textarea id="comment" class="form-control" placeholder="Ваше сообщение …" name="comment"></textarea>
										</div>
									</div>
								</div>
								<!-- .................... 		END // NEW RECIPIENT ADDRESS
								........................................................................................................................... -->

								<div class="box-footer" style="overflow: hidden;">
									<div class="pull-left">
										<a href="/shop_basket" class="btn btn-default"><i class="fa fa-chevron-left"></i>Вернуться к корзине</a>
									</div>
									<div class="pull-right">
										<a href="/shop_checkout_two" class="btn btn-template-main next_checkout" style="display:none;">Перейти к способу доставки<i class="fa fa-chevron-right"></i></a>
										<button type="submit" class="btn btn-template-main main_form_btn">Перейти к способу доставки<i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</form>
						</div>
						<!-- /.box -->


					</div>
					<!-- /.col-md-9 -->

					<div class="col-md-3">
						<!-- order summary -->
						{% include '@App/components/order_summary.html.twig' %}
						<!-- /order summary -->
					</div>
					<!-- /.col-md-3 -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->

{% endblock %}

{% block javascripts %}
	<script>

		/*---------------------------------------
			Poste Restante "До востребования"
		----------------------------------------*/
		$('#poste_restante_btn').click(function(event) {
			if ($('.short').is(":visible") ) {
				$('.short').fadeOut();
				$('#shortAdress').text(' По адресу ');
				$('#poste_restante').val('До востребования');

				// if is defined as visible remove attr required
				$('#home').removeAttr('required');
			}else {
				$('.short').fadeIn();
				$('#shortAdress').text('До востребования');
				$('#poste_restante').val('По адресу')

				// if is defined as hiden add  attr required
				$('#home').attr('required', 'required');
			}
		});

		/*---------------------------------------
			Autocomplete for Districts of RF
		----------------------------------------*/
		var options = {
			url: "{{ asset('API/russia.locality.json') }}",
				listLocation: "data",
				getValue: "name",

				list: {
					match: {
						enabled: true
					}
				}
		}

		$("#district").easyAutocomplete(options);

		/*-----------------------------------------------
			If is on type of locality is selected city
			hide input districts
		-------------------------------------------------*/
		function hideDistricts(typeOfLocality){
			district = $('.district');

			if (typeOfLocality == "город") {
				district.hide( 700);
			}else{
				district.show(700);
			}
		}

		/*-----------------------------------------------
			Required field checker
		-------------------------------------------------*/
		function isRequired(){
			// surname
			$('#surname').attr('required', 'required');

			// name
			$('#name').attr('required', 'required');

			// post_index
			$('#post_index').attr('required', 'required');

			// post_index
			$('#region').attr('required', 'required');

			// locality_type
			$('#locality_type').attr('required', 'required');

			// home
			$('#home').attr('required', 'required');
		}

		/*-----------------------------------------------
			Is not required field checker
		-------------------------------------------------*/
		function isNotRequired(){
			// field required when user insert new recpient address
			// surname
			$('#surname').removeAttr('required');

			// name
			$('#name').removeAttr('required');

			// post_index
			$('#post_index').removeAttr('required');

			// post_index
			$('#region').removeAttr('required');

			// locality_type
			$('#locality_type').removeAttr('required');

			// locality_type
			$('#home').removeAttr('required');
		}

		/*-----------------------------------------------
			Hide full address when user select 
			old inserted on db recipient address
		-------------------------------------------------*/
		function hideFullAddress(value){

			new_recipient_address = $('.new_recipient_address');
			rm_Recipient_Address = $('#rm_Recipient_Address');
			addressForm = $('#addressForm');

			if (value == 0) {
				// show field of form "Recipient address"
				new_recipient_address.show(700);
				// if user create new recipient address redirect her to functionality there is ..
				addressForm.attr('action', '/SaveRecipientAddress');

				// // set attribute required
				isRequired();

			}else{
				// hide field of form "Recipient address"
				new_recipient_address.hide( 700);

				// remove recipient address
				rm_Recipient_Address.attr('rcpId', value);

				// if user set old recipient address redirect her to another functionality
				addressForm.attr('action', '/setAddressId');

				// // remove attribute required
				isNotRequired();

			}
		}


		/*-----------------------------------------------
			Functionality for remove Recipient Address
		-------------------------------------------------*/

		$('#rm_Recipient_Address').click(function() {
			rcpId = $(this).attr('rcpId');
			select = $("#recipient");
			option = $("#recipient option[value='" + rcpId + "']");
			new_recipient_address = $('.new_recipient_address');
			addressForm = $('#addressForm');
				
			$.ajax({
				url:'{{ (path('rm_Recipient_Address')) }}',
				type: "POST",
				dataType: "json",
				data: {
					"rcpId": rcpId
				},
				async: true,
				success: function (data)
				{
					// change value of select after remove one of option
					select.val("0");

					// remove real time option from select
					option.remove();

					addressForm.attr('action', '/SaveRecipientAddress');
					// addressForm.attr('action', '/setAddressId');

					// show expanded form of address
					new_recipient_address.show(700);

					// set attribute required
					isRequired();

					// notification part
					new Noty({
						text: data.output,
						type: data.type,
						layout: 'topRight',
						timeout: 3500
					}).show()
				}
			});
			return false;
		});

	</script>

	<!-- If user already set specified  address -->
	{% if app.session.get('AddressId') is not null %}
		<script>
			// IF ADDRESS IS DEFINED
			(function(){
				// hide all elements which respond about inserting recipient address
				new_recipient_address = $('.new_recipient_address');
				addressContent = $('.addressContent');
				main_form_btn = $('.main_form_btn');
				next_checkout = $('.next_checkout');

				new_recipient_address.hide();
				addressContent.hide();
				main_form_btn.hide();
				next_checkout.fadeIn();

			})();

			// IF ADDRESS IS DEFINED, BUT USER WANT TO CHANGE ADDRESS
			$('#change_defined_address').click(function() {
				// show all hiden elements 
				new_recipient_address = $('.new_recipient_address');
				addressContent = $('.addressContent');
				main_form_btn = $('.main_form_btn');
				next_checkout = $('.next_checkout');

				new_recipient_address.show();
				addressContent.show();
				main_form_btn.show();
				next_checkout.hide();

				// and hide warrning message
				warning_address = $('#warning_address');
				warning_address.hide();

				// set attribute required
				isRequired();
			});

		</script>
	{% endif %}

	<script>
		$('#post_index').keyup(function(event) {
			post_index = $(this).val()

			if (isNaN(post_index)){
				// notification part
				new Noty({
					text: 'Введённый вами почтовый индекс содержит буквы',
					type: 'error',
					layout: 'topRight',
					timeout: 3500
				}).show()
			}
		});

	</script>

{% endblock %}
