{% extends "base.html.twig" %}

{% block title %}Детали продукта{% endblock %}
{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7"> 
						<p class="text-muted lead">Если у вас есть какие-либо вопросы, пожалуйста <a href="/contact"> свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>
					</div>

					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/">ГЛАВНАЯ</a>
							</li>
							<li>{{ product.name }}{{ product.count_dosage }}</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block stylesheets %}
<style>
	@media screen and (max-width: 800px) {
		#heading-breadcrumbs {
			display: none;
		}
	}

	@media screen and (max-width: 800px) {
		.sd_intro {
			display: none;
		}
	}
</style>

{% endblock %}

{% block body %}


		<div id="content">
			<div class="container">

				<div class="row">
					<!-- *** LEFT COLUMN ***
			_________________________________________________________ -->

					<div class="col-md-9">

						<p class="goToDescription"><a href="#details" class="scroll-to text-uppercase">Прокрутите страницу до детальных сведений о продукте</a>
						</p>

						<div class="row" id="productMain">
							<div class="col-sm-6">
								<div id="mainImage" class="prod_img_params_full prod_model">
									{% if product.images is not empty %}
										<a class="image-popup-no-margins" href="{{ asset(product.images[0]) }}">
											<img src="{{ asset(product.images[0]) }}" alt="" class="img-responsive">
										</a>
									{% endif %}
								</div>

								{% if product.discount is not empty and product.discount['discount'] > 0 %}
								<div class="ribbon discount">
									<div class="theribbon bg-red"> - {{ product.discount['discount'] }} % </div>
									<div class="ribbon-background"> </div>
								</div>
								{% endif %}
								<!-- /.ribbon -->

								{% if product.status == 'sale' %}
									<div class="ribbon sale">
										<div class="theribbon">РАСПРОДАЖА</div>
										<div class="ribbon-background"></div>
									</div>
								{% endif %}
								<!-- /.ribbon -->

								{% if product['new'] == true %}
								<div class="ribbon new">
									<div class="theribbon">НОВИНКА</div>
									<div class="ribbon-background"></div>
								</div>
								{% endif %}
								<!-- /.ribbon -->
							</div>

							<div class="col-sm-6">
								<div class="box">
									<div class="sizes">

										<h3>
											{{ product.name }} <br> {{ product.count_dosage }}
										</h3>

										<div class="progress" style="height: 10px;">
											<div class="progress-bar progress-bar-striped active" role="progressbar"
												aria-valuenow="{{ product.product_quantity }}"
												aria-valuemin="0" aria-valuemax="100" style="width:{{ product.product_quantity }}%; ">
											</div>
										</div>

										<!-- display count button in case when product is not added on basket -->
										{% if product.inStock and p_added != true and is_granted('ROLE_USER') %}
										<label for="size_s">
											<button id="prod_count_decrease" class="btn btn-template-main" style="border-radius: 50%;">-</button>
											<input type="radio" id="size_s" name="size" value="s" class="size-input">
										</label>
										<label for="size_m">
											<a href="#" id="prod_count">1</a>
											<input type="radio" id="size_m" name="size" value="m" class="size-input">
										</label>
										<label for="size_l">
											<button id="prod_count_increase" class="btn btn-template-main" style="border-radius: 50%;">+</button>
											<input type="radio" id="size_l" name="size" value="l" class="size-input">
										</label>
										{% endif %}

									</div>

									<p class="price">
										<i class="fa fa-rub" aria-hidden="true"></i>
										{{ product.price }}
									</p>

									{% if product.oldprice|length %}
										<p class="old-price">
											<del>
												<i class="fa fa-rub" aria-hidden="true"></i>
												{{product.oldprice}}
											</del>
										</p>
									{% endif %}


									<!-- ADD TO BASKET CHECKS  -->
										<!--  If product is in stock 
										& user before don't has been add prod to basket
										& user is authorized
										*************************** -->
									{% if product.inStock and p_added == false and is_granted('ROLE_USER') %}
										<p class="text-center cbtn{{product.id}}">
											<button type="submit" pid="{{product.id}}" pcount="1" class="button btn-cart toBasket" >
												 <span><span>В карзину</span></span>
											</button>
										</p>


									{% elseif product.inStock and p_added == false and not is_granted('IS_AUTHENTICATED_FULLY') %}
										<p class="text-center">
											Для добавления продукта в корзину <br> необходима авторизация 
										</p>

									{% elseif product.inStock and p_added == true %}
										<p class="text-center">
											Продукт добавлен в вашу корзину.
										</p>
									<!-- ADD TO BASKET CHECKS END  -->


									<!-- EMAIL NOTIFY USER CHECKS -->
									{% elseif product.inStock == false and is_granted('IS_AUTHENTICATED_FULLY') and app.user.email is not null %}
										<p class="text-center">Продукта нет в наличии.</p>

										<!-- subscr to prod -->
										<input type="text" value="{{app.user.email}}" class="prodNotifyInput{{product.id}}" style="display:none;">
										<p class="text-center">
											<button class="btn btn-template-main btn-sm prodNotify" 
											style="border-color: #792e27; color:#792e27;" pid="{{product.id}}">Оповестить</button>
										</p>

									<!-- If user is authentificated and does'nt set her email, display input element -->
									{% elseif product.inStock == false and is_granted('IS_AUTHENTICATED_FULLY') and app.user.email is null %}
									<hr>
									<div class="row">
										<div class="col-xs-12">
											<p class="text-center">Товара нет в наличии.</p>
										</div>

										<div class="col-xs-12">
											<div class="col-xs-7 col-xs-offset-1">
												<input type="mail" class="form-control input-md prodNotifyInput{{product.id}}"
													placeholder="Введите e-mail" aria-controls="example1"
													name="subscribe_input" >
											</div>

											<div class="col-xs-3">
												<button class="btn btn-template-main btn-md  prodNotify" pid="{{product.id}}">
													 <i class="fa fa-send"></i>
												</button>
											</div>
										</div>
									</div>

									<!-- If case when user have status Anonymous  display input with subscribe user at product  -->
									{% elseif product.inStock == false and not is_granted('IS_AUTHENTICATED_FULLY') %}
									<hr>
									<div class="row">
										<div class="col-xs-12">
											<p class="text-center">Товара нет в наличии.</p>
										</div>
										{#
										<div class="col-xs-12">
											<div class="col-xs-7 col-xs-offset-1">
												<input type="mail" class="form-control input-md prodNotifyInput{{product.id}}"
													placeholder="Введите e-mail" aria-controls="example1"
													name="subscribe_input" >
											</div>

											<div class="col-xs-3">
												<button class="btn btn-template-main btn-md  prodNotify" pid="{{product.id}}">
													 <i class="fa fa-send"></i>
												</button>
											</div>
										</div>
										#}
									</div>

									{% endif %}
									<!-- EMAIL NOTIFY USER CHECKS END  -->
								</div>

								{% if product.images is not null and product.images|length > 1 %}
								<div class="row" id="thumbs">
									{% for item in product.images %}
									<div class="col-xs-4">
										<a href="{{ asset(item) }}" class="thumb image-popup-no-margins">
											<img src="{{asset(item)}}" alt="" class="img-responsive">
										</a>
									</div>
									{% endfor %}
								</div>
								{% endif %}
							</div>
						</div>


						<div class="box" id="details">
							{% if product.content|length > 0 %}
								<div >{{product.content|raw}}</div>
							{% else %}
								<div>
									<p class="text-center">	У этого продукта нет подробного описания.</p>
								</div>
							{% endif %}
						</div>

<!-- 						<div class="box social" id="product-social">
							<h4>Show it to your friends</h4>
							<p>
								<a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
								<a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
								<a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
								<a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
							</p>
						</div> -->

						{% if user_favorites|length %}
						<div class="row">
							<div class="col-md-3">
								<div class="box text-uppercase">
									<h4>ВАМ ТАКЖЕ ПОНРАВИЛОСЬ</h4>
								</div>
							</div>

							{% for item in user_favorites %}
								{% include '@App/components/favorite_products.html.twig'%}
							{% endfor %}
						</div>
						{% endif %} <!-- if not empty user_favorites array-->
					</div>
					<!-- /.col-md-9 -->
					<!-- *** LEFT COLUMN END *** -->


								<!-- *** RIGHT COLUMN ***
					_________________________________________________________ -->

					<div class="col-sm-3">
						{% include '@App/components/shop_category_full_menu.html.twig' %}
						<!--*** MENUS AND FILTERS END *** -->
					</div>
					<!-- /.col-md-3 -->

					<!-- *** RIGHT COLUMN END *** -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->
{% endblock %}

{% block javascripts %}
<script>

$('#prod_count_decrease').click(function(event) {
	curent_count = parseInt( $('#prod_count').html() );

	if ( !(curent_count <= 1)) {
		decrease_count = $('#prod_count').html(curent_count - 1);
		// add new product count on attr of button
		$('.toBasket').attr('pcount', curent_count - 1)
	}
});


$('#prod_count_increase').click(function(event) {
	curent_count = parseInt( $('#prod_count').html() );
	product_quantity = {{ product.product_quantity }};

	if (curent_count < product_quantity) {
		increase_count = $('#prod_count').html(curent_count + 1);
		// add new product count on attr of button
		$('.toBasket').attr('pcount', curent_count + 1)
	}

});

</script>
{% endblock %}
