{% extends "base.html.twig"  %}

{% block title %}Wex оплата{% endblock %}

{% block body %}
<br>
<br>
<br>
	<div class="container" style="min-height: 500px;">
		<div class="row">

			<!-- form for inserting coupon -->
			<div class="box">
				<div class="box-header">
					<h4>КОД КУПОНА WEX</h4>
				</div>
				<p class="text-muted">Если у вас есть код купона, введите его в поле ниже.</p>

				<form action="/payOrderWex" method="post">
					<div class="input-group">
						<input type="text" class="form-control order_uniqid" value="{{ order_uniqid }}" name="order_uniqid" style="display:none;">
						<input type="text" class="form-control coupon" name="coupon" minlength="0" maxlength="46">

						<span class="input-group-btn">
							<button class="btn btn-template-main sbm_coupon" type="submit" disabled>
								<!-- <i class="fa fa-send"></i> -->
								оплатить
							</button>
						</span>
					</div>
					<!-- /input-group -->
				</form>


			</div>
		</div>

		<!-- notification message -->
		<p class="not_message"></p>
	</div>

	<hr>

	<!-- INSTRUCTION -->
	{#
	<h4 class="text-center">Инструкции</h4>

	<div class="panel-group container" id="accordion">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">

					<a data-toggle="collapse" data-parent="#accordion" href="#faq1">
						1. ЧТО ДЕЛАТЬ, ПОСЛЕ ТОГО КАК Я ПЕРЕШЁЛ НА СТРАНИЦУ ОПЛАТЫ И ОПЛАТИЛ ЗАКАЗ?
					</a>

				</h4>
			</div>

			<div id="faq1" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
					<ul>
						<li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</li>
						<li>В то время некий безымянный печатник создал </li>
						<li>но и перешагнул в электронный дизайн.</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /.panel -->
	</div>
	#}


{% endblock %}

{% block javascripts %}
<script>

	$('.coupon').keyup(function(event) {
		order_uniqid = $('.order_uniqid').val();
		coupon = $(this).val();
		button = $('.sbm_coupon');
		not_message = $('.not_message');

		if (order_uniqid && coupon.length == 46) {
			button.removeAttr('disabled');
			not_message.html('<span class="green"> <i class="fa fa-check" aria-hidden="true"></i> Длина символов в купоне совпадает стандартам. НАЖМИТЕ кнопку " Оплатить " </span>');
		} else {
			button.attr('disabled', 'disabled');
			not_message.html('<span class="red"> Длина купона должна состоять из 46 символов </span>');
		}
	});


</script>
{% endblock %}
