{% extends "base.html.twig" %}

{% block title %}Детали продукта{% endblock %}
{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7"> 
						<p class="text-muted lead">Если у вас есть какие-либо вопросы, пожалуйста <a href="/contact"> свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>
					</div>

					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/">ГЛАВНАЯ</a>
							</li>
							<li>{{ course[0].name }}</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block stylesheets %}
<style>
	@media screen and (max-width: 800px) {
		#heading-breadcrumbs {
			display: none;
		}
	}

	@media screen and (max-width: 800px) {
		.sd_intro {
			display: none;
		}
	}

</style>
{% endblock %}

{% block body %}
		<div id="content">
			<div class="container">

				<div class="row">
					<!-- *** LEFT COLUMN ***
			_________________________________________________________ -->

					<div class="col-md-9">
						<div class="heading">
							<h3 class="scroll-to text-uppercase"> {{ course[0].name }} </h3>

							{% if is_granted('ROLE_USER') %}
								{% if course[0].onbasket != true %}
									<button type="button" class="btn btn-template-main toBasket fr mt-30" courseid="{{course[0].id}}"> В корзину </button>
								{% else %}
									<button type="button" class="btn btn-template-main green cours_warning fr mt-30">
										<i class="fa fa-check" aria-hidden="true"></i> добавлен в корзину
									</button>
								{% endif %}
							{% endif %}
						</div>

						<div class="box" id="details" style="margin-top: 100px;">
							<table  id="course_detail_table" class="mdl-data-table display responsive nowrap">
								<thead>
									<tr>
										<!-- Name -->
										<th>Наимен.</th>
										<!-- Count -->
										<th>Кол-во</th>
										<!-- price -->
										<th>Цена за единицу</th>
									</tr>
								</thead>

								<!-- ..............................................................
														Loop for course
								................................................................... -->

								<tbody>
								{% if course is defined and course is not empty %}
									{% for product in course[0].content %}
									<tr>
										<!-- Product Name  -->
										<td>
											<a href="/pDetail/{{product.prodid}}">
												{{product.prod_name}} {{product.count_dosage}}
											</a>
										</td>

										<!-- Count -->
										<td>
											{{ product.count }}
										</td>

										<!-- price -->
										<td>
											{{product.price}}
											<i class="fa fa-rub" aria-hidden="true"></i>
										</td>
									</tr>
									{% endfor %}
								{% endif %}
								</tbody>

										{#
										#}
								<tfoot>
									<th colspan="2">Cумма за 1 курс:</th>
									<th>
										{{ course[0].price }}
										<i class="fa fa-rub" aria-hidden="true"></i>
									</th>
								</tfoot>
							</table>
						</div>

						{% if user_favorites|length %}
						<div class="row">
							<div class="col-md-3">
								<div class="box text-uppercase">
									<h4>ВАМ ТАКЖЕ ПОНРАВИЛОСЬ</h4>
								</div>
							</div>

							{% for item in user_favorites %}
								{% include '@App/components/favorite_products.html.twig'%}
							{% endfor %}
						</div>
						{% endif %} <!-- if not empty user_favorites array-->

					</div>
					<!-- /.col-md-9 -->
					<!-- *** LEFT COLUMN END *** -->


								<!-- *** RIGHT COLUMN ***
					_________________________________________________________ -->
					
					<div class="col-sm-3">
						{% include '@App/components/shop_category_full_menu.html.twig' %}
						<!--*** MENUS AND FILTERS END *** -->
					</div>
					<!-- /.col-md-3 -->

					<!-- *** RIGHT COLUMN END *** -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->
{% endblock %}

{% block javascripts %}
<script>
var table = $('#course_detail_table').DataTable( {
	"language": {
		lengthMenu: "Отобразить _MENU_ записей на страницы",
		zeroRecords: "Ничего не найдено - извините",
		info: "Показаны страницы _PAGE_ из _PAGES_",
		nfoEmpty: "Нет доступных записей",
		infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
		processing:     "Обработка ...",
		search:         "Поиск:",
		infoPostFix:    "",
			loadingRecords: "Загружается ...",
		emptyTable:     "В таблице нет данных.",

		paginate: {
			first:      "Первый",
			previous:   "Предыдущий",
			next:       "Следующий",
			last:       "Последний"
		},
		aria: {
			sortAscending:  ": активировать сортировку столбца в порядке возрастания",
			sortDescending: ": активировать сортировку столбца в порядке убывания"
		}
	},
	columnDefs: [
		{
			// targets: [ 0, 1, 2 ],
			className: 'mdl-data-table__cell--non-numeric'
		}
	],
	responsive: true,
	columnDefs: [
		{ responsivePriority: 0, targets: 0 },
	],
	autoFill: true,
});

</script>
{% endblock %}
