{% extends "baseCourier.html.twig" %}

{% block title %}CourierBundle:admin:admin{% endblock %}

{% block stylesheets %}
  {% include '@Courier/components/index_links.html.twig' %}
{% endblock %}

{% block body %}
<!-- page content -->
<div class="right_col" role="main">
	<!-- top tiles -->
	<div class="row tile_count">
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-plus"></i> Новые заказоы</span>
		<div class="count aero">2500</div>
		</div>

		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-clock-o green"></i> Приоритетные заказы</span>
			<div class="count green">123.50</div>
		</div>

		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-cube"></i> В процессе упаковки</span>
			<div class="count">4,567</div>
			<!-- <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span> -->
		</div>

		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Ожидается оплата</span>
			<div class="count ">2,500</div>
		</div>

		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-warning red"></i> Ошибка в заказе</span>
			<div class="count red">2,315</div>
		</div>




	</div>
	<!-- /top tiles -->

<br />




	  <div class="row">

    <div class="row">
	<div class="col-md-4 col-sm-4 col-xs-12">
	  <div class="x_panel">
	    <div class="x_title">
		<h2>Recent Activities <small>Sessions</small></h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		    <ul class="dropdown-menu" role="menu">
			<li><a href="#">Settings 1</a>
			</li>
			<li><a href="#">Settings 2</a>
			</li>
		    </ul>
		  </li>
		  <li><a class="close-link"><i class="fa fa-close"></i></a>
		  </li>
		</ul>
		<div class="clearfix"></div>
	    </div>
	    <div class="x_content">
		<div class="dashboard-widget-content">

		  <ul class="list-unstyled timeline widget">
		    <li>
			<div class="block">
			  <div class="block_content">
			    <h2 class="title">
						    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
						</h2>
			    <div class="byline">
				<span>13 hours ago</span> by <a>Jane Smith</a>
			    </div>
			    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
			    </p>
			  </div>
			</div>
		    </li>
		    <li>
			<div class="block">
			  <div class="block_content">
			    <h2 class="title">
						    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
						</h2>
			    <div class="byline">
				<span>13 hours ago</span> by <a>Jane Smith</a>
			    </div>
			    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
			    </p>
			  </div>
			</div>
		    </li>
		    <li>
			<div class="block">
			  <div class="block_content">
			    <h2 class="title">
						    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
						</h2>
			    <div class="byline">
				<span>13 hours ago</span> by <a>Jane Smith</a>
			    </div>
			    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
			    </p>
			  </div>
			</div>
		    </li>
		    <li>
			<div class="block">
			  <div class="block_content">
			    <h2 class="title">
						    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
						</h2>
			    <div class="byline">
				<span>13 hours ago</span> by <a>Jane Smith</a>
			    </div>
			    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
			    </p>
			  </div>
			</div>
		    </li>
		  </ul>
		</div>
	    </div>
	  </div>
	</div>


	  </div>
	</div>
    </div>
  </div>
  <!-- /page content -->

{% endblock %}

{% block javascripts %}
	{% include '@Courier/components/index_scripts.html.twig' %}
{% endblock %}