
<p class="btn btn-default" data-toggle="modal" data-target=".bs{{order.uniqid}}">
	<input type="text" class="order_uniqid" value="{{order.uniqid}}" name="uniqid" style="display:none;">
	{{order.uniqid}}
</p>

<div class="x_content">
	<!-- modals -->

	<div class="modal fade bs{{order.uniqid}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Содержимое заказа : {{order.uniqid}}
					</h4>

					<p>Ид записи : {{order.id}}</p>
					<p>Ид клиент : {{order.idUser}}</p>
				</div>

				<div class="modal-body" style="overflow: scroll;">
					<table class="table" >
						<thead>
							<tr>
								<!-- images -->
								<th>Фото</th>
								<!-- Name -->
								<th>Наимен.</th>
								<!-- Count -->
								<th>Кол-во</th>

								{% if is_granted('ROLE_ADMIN') %}
								<!-- Count -->
								<th>Цена | 1</th>
								<!-- discount -->
								<th> Скидка </th>
								<!-- Amount -->
								<th>Сумма</th>
								{% endif %}
							</tr>
						</thead>

						<tbody>
							<!-- .....................................................
									Loop for order products
							....................................................... -->
							{% for product in order.products['products'] %}
							<tr>
								<!-- Images  -->
								<td>
									{% if product.0.images is not empty %}
										<img src="{{ product.0.images.0 }}" alt="img" width="30">
									{% endif %}
								</td>

								<!-- Product Name  -->
								<td>
									{{product.0.name}} 
									{{product.0.count_dosage}}
								</td>

								<!-- Count -->
								<td>
									{{product.count}}

								</td>

								{% if is_granted('ROLE_ADMIN') %}
								<!-- price -->
								<td>
									{{product.0.price}}
									<i class="fa fa-rub" aria-hidden="true"></i>
								</td>

								<!-- discount -->
								<td>
									{% if product.0.discount is not null %}
										{% if product.0.discount['discount'] != 0  %}
										{{ product.0.discount['discount'] }} %
										{% endif %}
									{% endif %}
								</td>

								<!-- amount -->
								<td>
									{{product.0.price * product.count}}
									<i class="fa fa-rub" aria-hidden="true"></i>
								</td>
								{% endif %}
							</tr>
							{% endfor %}

							<!-- .....................................................
									Loop for order products
							....................................................... -->
							{% for course in order.products['course'] %}
							<tr>
								<!-- button detail  -->
								<td>
									<button type="button" class="btn btn-template-main course_products"
									onclick="$('.course_product{{course.id}}').toggle('slow');">
										<i class="fa fa-arrow-down"></i>
									</button>
								</td>

								<!-- Product Name  -->
								<td>
									<div class="heading">
										<h6>
										{{course.0.name}}
										</h6>
									</div>
								</td>

								<!-- Count -->
								<td>
									{{ course.count }}
								</td>


								{% if is_granted('ROLE_ADMIN') %}
								<!-- price -->
								<td>
									{{ course.0.price }}
									<i class="fa fa-rub" aria-hidden="true"></i>
								</td>


								<!-- discount -->
								<td>
									
								</td>

								<!-- amount -->
								<td>
									{{ course.count * course.0.price }}
									<i class="fa fa-rub" aria-hidden="true"></i>
								</td>
								{% endif %}
							</tr>

							<!-- course products -->
							{% for cprod in course.0.content %}
							<tr class="course_product{{course.id}}" style="display:none;">
								<td>
									
								</td>

								<!-- prod name & dosage -->
								<td>
									н:
									{{ cprod.prod_name }}
									{{ cprod.count_dosage }}
								</td>

								<!-- prod count -->
								<td>
									<!-- кол-во: -->
									{{ cprod.count }}
								</td>

								<td>
									<!-- едниц: -->
									{{ cprod.price }}
									<i class="fa fa-rub" aria-hidden="true"></i>
								</td>
							</tr>
							{% endfor %}
							<!-- End Loop of content of course -->

						{% endfor %}
						<!-- End Loop for products of course -->

						<tbody>

						{% if is_granted('ROLE_ADMIN') %}
						<tfoot>
							<tr>
								<td colspan="1"></td>
								<td colspan="2">
									<strong>
										Цена за доставку:  
									</strong>
								</td>

								<td colspan="2"></td>

								<td colspan="1">
									<strong>
										{{ order.deliveryCost }}
										<i class="fa fa-rub" aria-hidden="true"></i>
									</strong>
								</td>
								<!-- <td colspan="1"></td> -->
							</tr>

							{% if order.coupon is not empty %}
							<tr>
								<td colspan="1"></td>
								<td colspan="3">
									 <strong> Купон "{{ order.coupon.name }}":  <strong>
								</td>

								<td colspan="1">
									 <strong>
									{{ order.coupon.percent }}
									%
									 <strong>
								</td>

								<td>
									<strong>
										{% set full_perc = order.coupon.percent - 100 %}
										{% set complete_sum = (((order.finalCost * 100) / full_perc) + order.finalCost)|number_format %}

										- {{ complete_sum|abs }}
										<i class="fa fa-rub" aria-hidden="true"></i>
									</strong>
								</td>
							</tr>
							{% endif %}

							<tr >
								<td colspan="3"> <strong> Финальная сумма к оплате: </strong> </td>
								<td colspan="2"></td>

								<td colspan="1" >
									<strong>
										{% if order.finalCost is not empty and order.paymentStatus != "order_failed" %}
											{{ order.finalCost }}
											<i class="fa fa-rub" aria-hidden="true"></i>
										{% else %}
											<p class="red"> ------- </p>
										{% endif %}
									</strong>
								</td>

							</tr>
						</tfoot>
						{% endif %}

					</table>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
				</div>

			</div><!-- ./modal-content -->
		</div><!-- ./modal-dialog -->
	</div><!-- ./modal -->
</div><!-- /.x_content -->