{% extends "baseCP.html.twig" %}

{% block title %}Инфо.контент{% endblock %}

{% block stylesheets %}
<style>
	.wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}
	.wrap img{
		display: block; max-height: 100px;
	}

	.view {
		min-height: 100px;
	}
</style>
{% endblock %}

{% block body %}
<!-- page content -->
<div class="right_col" role="main">
{#
	{{ dump(home_carousel) }}
#}
	<!-- ...................................................................
						BANERS
	.................................................................... -->
	<div class="x_panel">

		<div class="x_title">
			<h2>Баннеры <small> главная страница </small></h2>


			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
			<small> 1140px X 400px </small>
			
		</div>

		<!-- Add new Banner -->
		<div class="x_content">
			<form action="/newHomeCarousel" method="post" enctype="multipart/form-data" >

			<button type="button" data-toggle="modal" data-target=".newQiwiWallet">
				<i class="fa fa-plus"></i>
			</button>

			<div class="modal fade newQiwiWallet" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">

				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							</button>
						</div>

						<div class="modal-body">

							<div class="row">
								{#
								<div class="col-md-12 col-md-offset-3 col-xs-12">
									<input type="file" id="number" name="files[]" placeholder="Введите номер"
									 required  multiple>
									<br>
								</div>
								#}

								<!-- alternative images -->
								<div class="form-group">
									<div class="control-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Ссылка на фото</label>

										<div class="col-md-9 col-sm-9 col-xs-12">
											<input type="text" value="" name="alter_img" data-role="tagsinput" >
										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
							<button type="submit" class="btn btn-default">Добавить</button>
						</div>

					</div><!-- ./modal-content -->
				</div><!-- ./modal-dialog -->
			</div><!-- ./modal -->

			</form>
		</div>
		<!-- END Add new Banner -->

		<div class="x_content">
			<div class="row">

				{% for item in home_carousel %}
				<div class="col-md-2">
					<form action="/removeHomeCarousel" method="post">
					<div class="wrap">
						<div class="image view view-first">
							<img  src="{{ asset(item.src) }}" alt="{{ item.src }}">
							<div class="mask">

								<div class="tools tools-bottom">
									<input type="text" name="bannerId" value="{{ item.id }}" style="display:none;">
									<button type="submit"> <i class="fa fa-times"></i> </button>
								</div>

							</div>
						</div>
					</div>
					</form>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>

{#
	<!-- ...................................................................
						BANERS
	.................................................................... -->
	<div class="x_panel">
		<div class="x_title">
			<h2>Баннеры <small> главная страница </small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
			<div class="clearfix"></div>
		</div>

		<div class="x_content">
			<div class="row">

				{% for item in home_carousel %}
				<div class="col-md-2">
					<!-- <div class="thumbnail"> -->

						<div class="image view view-first">
							<img style="width: 100%; display: block;" src="{{ asset(item.src) }}" alt="{{ item.src }}">
							<div class="mask">

								<div class="tools tools-bottom">
									<a href="#"><i class="fa fa-times"></i></a>
								</div>

							</div>
						</div>

					<!-- </div> -->
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
#}

</div> <!-- ./right_col -->
{% endblock %}