{% extends "base.html.twig"  %}

{% block title %}Qiwi{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}
	<hr>


	{% if qiwi_url is not empty %}
	<div class="container" style="min-height: 300px;">
		<div class="row">
			<button id="qiwiurl" class="col-md-12 btn btn-template-main" onclick="openRequestedPopup()" uniqid="{{order_uniqid}}" qiwiurl={{qiwi_url}}>Перейти на страницу оплаты</button>
		</div>

		<br>
		<br>
		<br>

		<div class="row">
			<button id="confirmation" class="col-md-12 btn btn-template-main" onclick="confrim()"> ПРОВЕРИТЬ ОПЛАТУ </button>
		</div>
	</div>
	<br>
	{% endif %}

	<hr>


	<div class="container">
		<!-- INSTRUCTION -->
		<h1 class="text-center">Инструкция</h1>

		{% if is_granted('ROLE_ADMIN') %}
		<div class="for_admin">
			<!--  Add new questions and answer -->
			<a class="btn btn-default" onclick="$('#comment_block').toggle('slow');">
				Добавить вопрос
			</a>

			<div id="comment_block" style="display:none">
				<form action="/newQuestion/{{order_uniqid}}" method="post">
					<div class="form-group">
						<label for="question">Вопрос</label>
						<input type="text" class="form-control" id="questionn" name="question" required>
					</div>

					<textarea id="answer" class="form-control" placeholder="Ответ на вопрос …" name="answer" value="" required></textarea>
					<br>
					<button type="submit" class="btn btn-default">Сохранить</button>
				</form>
			</div>

			<br> <br> <br>
		</div> <!-- ./ END for admin -->
		{% endif %}

		<!-- display list of quesions and answers  -->
		<section>
			<div class="panel-group" id="accordion">
				{% for item in QiwiInfo %}
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#question{{item.id}}">
								{{ loop.index }}. {{ item.question }}
							</a>

						</h4>
					</div>

					<div id="question{{item.id}}" class="panel-collapse collapse">
						<div class="panel-body">
							{{ item.answer }}
							<hr>
							<p class="date-comments">
								<!-- <a href="blog-post.html"> -->
									<i class="fa fa-calendar-o"></i> {{ item.date|date('j-m-y - G:i') }}
								<!-- </a> -->
								{% if is_granted('ROLE_ADMIN') %}
								<form action="/rmvQuestion/{{order_uniqid}}" method="post">
									<input type="text" name="entry_id" value="{{item.id}}" style="display:none;">

									<button type="submit" class="btn btn-template-black btn-lg right" data-toggle="tooltip" data-placement="top"
										data-original-title="Удалить запись">
										<i class="fa fa-trash"></i>
									</button>
								</form>
								{% endif %}
							</p>


						</div>
					</div>
				</div>
				<!-- /.panel -->
				{% endfor %}

			</div>
			<!-- /.panel-group -->

			{#
			#}

		</section>
	</div>

{% endblock %}

{% block javascripts %}
<script>

	/*--------------------------------------------------------------------------
				Check qiwi payment
	--------------------------------------------------------------------------*/
	qiwiChecker();

	// when call from button
	function confrim(){
		qiwiChecker();
		location.reload();
	}


</script>

	{% if qiwi_url is not empty %}
	<script>

		function openRequestedPopup() {
			qiwiurl = $('#qiwiurl').attr('qiwiurl');
			order_uniqid = $('#qiwiurl').attr('uniqid');

			// redirect user to qiwi payment page
			window.open(qiwiurl);

			// chenge status of order
			$.ajax({
				url:'{{ (path('changeOrderQiwiStatus')) }}',
				type: "POST",
				dataType: "json",
				data: {
					"order_uniqid": order_uniqid,
					"payment_status": 'pending_confirmation'
				},
				async: true,
				success: function (data)
				{

					// notification part
					new Noty({
						text: data.output,
						type: data.type,
						layout: 'topRight',
						timeout: 3500
					}).show()
				}
			});
			return false;

		}

	</script>
	{% endif %}

{% endblock %}
