{% extends "baseCP.html.twig"  %}

{% block title %}Qiwi Setttings {% endblock %}

{% block stylesheets %}
<style>
	.mainQiwiWallet{
		background: #0080001f !important;
	}
</style>
{% endblock %}

{% block body %}
<div class="right_col" role="main" style="min-height: 898px;">

	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">

				<div class="x_title">
					<h2> Qiwi Настройки </h2>

					<ul class="nav navbar-right panel_toolbox">
						<li>
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</li>
					</ul>

					<div class="clearfix"></div>
				</div> <!-- ./x_title -->

				<div class="x_content">
					<div class="dashboard-widget-content">
						<!-- .........................................
							New Qiwi wallet
						........................................... -->
						<div class="x_content">
							<form action="/newWallet" method="post">


							<button type="button" 
								 data-toggle="modal" data-target=".newQiwiWallet">

								<i class="fa fa-plus"></i>
							</button>

							<div class="modal fade newQiwiWallet" tabindex="-1" role="dialog"
								aria-hidden="true" style="display: none;">

								<div class="modal-dialog modal-lg">
									<div class="modal-content">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
											</button>
										</div>

										<div class="modal-body">

											<div class="row">
												<div class="col-md-6 col-md-offset-3 col-xs-12">
													<input type="text" id="number" name="number"
													placeholder="Введите номер" required class="col-md-12 col-xs-12 ">
													<br>
													<br>
													<input type="text" id="token" name="token" required
													placeholder="Введите токен" class="col-md-12 col-xs-12">
												</div>
											</div>

										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
											<button type="submit" class="btn btn-default" >Добавить</button>
										</div>

									</div><!-- ./modal-content -->
								</div><!-- ./modal-dialog -->
							</div><!-- ./modal -->

							</form>
						</div> <!-- ./x_content -->


						<!-- QIWI LIST -->
						<table id="qiwi_list_table" class="mdl-data-table display responsive nowrap"> 
							<thead>
								<tr>
									<th>ID</th>
									<!-- name -->
									<th>Номер кошелька</th>
									<!-- Токен-->
									<th>Токен</th>
									<!-- Main -->
									<th>Главный</th>
									<!-- Control -->
									<th>Управление</th>
								</tr>
							</thead>

							<tbody>
									{% for wallet in qiwi_wallets %}
										<!-- EXAMPLE OF ROW OF TABLE -->

									{% if wallet.mainWallet == '1' %}
										<tr class="mainQiwiWallet" id="row_{{loop.index}}">
									{% else %}
										<tr id="row_{{loop.index}}">
									{% endif %}
											<!-- ID wallet -->
											<td>
												<input type="text" name="wallet_id" class="form-control col-md-3 col-sm-3 col-xs-3"
												 value="{{ wallet.id }}" style="display:none;">

												<p>{{ wallet.id }}</p>
											</td>

											<!-- Наименование -->
											<td>
												<input type="text" name="wallet_nr" value="{{ wallet.detailWallet['walletNr'] }}">
											</td>

											<!-- Токен -->
											<td>
												<input type="text" name="token" value="{{ wallet.detailWallet['token'] }}">
											</td>

											<!-- Main -->
											<td>
												{% if wallet.mainWallet == '1' %}
													<input type="radio" name="main_wallet" checked>
												{% else %}
													<input type="radio" name="main_wallet">
												{% endif %}
											</td>


											<!-- Control -->
											{% if is_granted('ROLE_SUPER_ADMIN') %}
											<td>
												<!-- change -->
												<button type="submit" class="btn btn-default  col-md-3" data-toggle="tooltip" data-placement="top" 
												data-original-title="изменить" style="margin-right: 20px;" onclick="submitForm('#row_{{loop.index}}', 'updateWallet')"> 
													<i class="fa fa-edit"></i>
												</button>


												<!-- trash -->
												<button type="button" class="btn  btn-default col-md-3" data-toggle="modal" data-target=".bs{{ wallet.id }}"> <i class="fa fa-trash"></i></button>

												<!-- Info -->
												{% if wallet.mainWallet == '1' %}
												<a href="/validQiwiWallet" class="btn  btn-default col-md-3">
													<i class="fa fa-info"></i>
												</a>
												{% endif %}

												<div class="modal fade bs{{ wallet.id }}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																<h4 class="modal-title" id="myModalLabel">Вы уверены что хотите удалить qiwi кошелек, c Nr:
																 {{ wallet.detailWallet['walletNr']}} </h4>
															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">
																	закрыть
																</button>

																	<a href="/removeWallet/{{ wallet.id }}" class="btn btn-primary wallet_rmv">
																		<i class="fa fa-trashs"></i> удалить
																	</a>
																</form>
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->

											</td>
											{% endif %}

										</tr>
										<!-- EXAMPLE OF ROW OF TABLE -->
									{% endfor %}

							</tbody>
						</table>
						<!-- END QIWI LIST -->

					</div> <!-- ./dashboard-widget-conten -->
				</div> <!-- ./x_content -->
			</div> <!-- ./x_panel -->
		</div>

	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function() {
	var table = $('#qiwi_list_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: [
			{
				// targets: [ 0, 1, 2 ],
				className: 'mdl-data-table__cell--non-numeric'
			}
		],
		responsive: true,
		columnDefs: [
			{ responsivePriority: 0, targets: 1 },
		],
		autoFill: true,

	});
} );
</script>
{% endblock %}