{% extends "baseCP.html.twig" %}

{% block title %}cPanelBundle{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
 
<!-- page content -->
<div class="right_col" role="main">

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Список клинтов</h2>

					<div class="clearfix"></div>
				</div><!-- ./x_title -->

				<div class="x_content">

					<table id="client_list_table" class="mdl-data-table display responsive nowrap">
						<thead>
							<tr>
								<th>ID</th>
								<th>Логин</th>
								<th>Ник</th>

								{% if is_granted('ROLE_SUPER_ADMIN') %}
								<th>Пароль</th>
								{% endif %}

								<th>Эл. почта</th>
								<th>Зарегестрирован</th>
								<th>Управление</th>
							</tr>
						</thead>

						<tbody>
								{% for user in users_list %}
									<!-- EXAMPLE OF ROW OF TABLE -->
									<tr id="row_{{loop.index}}">
										<!-- ID -->
										<td>
											<input type="text" value="{{user.id}}" name="admin_id" style="display:none">
											<input type="text" value="{{user.id}}" name="client" style="display:none">
											{{user.id}}
										</td>

										<!-- Логин -->
										<td>
											<!-- <input type="text" class="form-control" placeholder=""> -->
											{{user.username}}
										</td>

										<!-- nickname -->
										<td>
											<!-- <input type="text" class="form-control" placeholder=""> -->
											{{user.username}}
										</td>

										<!-- пароль -->
										{% if is_granted('ROLE_SUPER_ADMIN') %}
										<td>
											<input type="text" class="form-control" placeholder="введите новый пароль"  data-toggle="tooltip" data-placement="top" data-original-title="изменить пароль" name="admin_password">
										</td>
										{% endif %}

										<!-- email -->
										<td>{{user.email}}</td>

										<!-- Зарегестрирован -->
										<td>{{user.date|date('d-m-y | H : i')}}</td>

										<!-- Управление -->
										<td>
											<div class="x_content">

												<!-- modals -->
												<!-- <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="изменить"> <i class="fa fa-edit"></i></button> -->

												{% if is_granted('ROLE_SUPER_ADMIN') %}
												<!-- modals -->
												<button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top"
												 onclick="submitForm('#row_{{loop.index}}', 'managerupdate')"  data-original-title="изменить">
													<i class="fa fa-edit"></i>
												</button>
												{% endif %}

												<button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs{{loop.index}}"> <i class="fa fa-trash"></i></button>


												<div class="modal fade bs{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">

															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																</button>
															</div>

															<div class="modal-body">
																<h4 class="modal-title" id="myModalLabel">Вы уверены что хотите удалить пользователя: {{user.username}} </h4>
															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>

																<a href="/rmuser/{{us_role}}/{{user.id}}" class="btn btn-primary"><i class="fa fa-trash"></i> удалить</a>
															</div>

														</div><!-- ./modal-content -->
													</div><!-- ./modal-dialog -->
												</div><!-- ./modal -->

											</div><!-- /.x_content -->
										</td>

									</tr>
									<!-- EXAMPLE OF ROW OF TABLE -->

								{% endfor %}

						</tbody>
					</table>

				</div><!-- ./x_content -->
			</div><!-- ./x_panel -->
		</div>
	</div><!-- ./row -->
</div><!-- ./right_col -->
<!-- /page content -->
{% endblock %}

{% block javascripts %}
<script>

$(document).ready(function() {
	var table = $('#client_list_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: [
			{
				// targets: [ 0, 1, 2 ],
				className: 'mdl-data-table__cell--non-numeric'
			}
		],
		responsive: true,
		columnDefs: [
			{ responsivePriority: 0, targets: 0 },
		],
		autoFill: true,
	});

} );
</script>
{% endblock %}