{% extends "baseCP.html.twig" %}

{% block title %}Курьеры{% endblock %}

{% block stylesheets %}
<style>
	.mainCourier {
		background: #0080001f !important;
	}

</style>
{% endblock %}

{% block body %}
<!-- page content -->
<div class="right_col" role="main">

	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Список курьеров</h2>

					<div class="clearfix"></div>
				</div><!-- ./x_title -->

				<!-- Filters -->
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<a href="/regcp" type="button" class="btn btn-round btn-default" width="100%">
						<i class="fa fa-plus"></i>
						создать
					</a>
				{% endif %}
				<!-- ./Filters -->
				<div class="divider"></div>


				<div class="x_content">
					<table id="courierlist_table" class="mdl-data-table display responsive nowrap">
						<thead>
							<tr>
								<th>Ид</th>
								<th>Логин</th>
								<th>Пароль</th>
								<th>Зарегестрирован</th>
								<th>Главный</th>
								<th>Управление</th>
							</tr>
						</thead>

						<tbody>
							<!-- EXAMPLE OF ROW OF TABLE -->
							{% for courier in couriers %}

								{% if courier.main == 1 %}
								<tr id="row_{{loop.index}}" class="mainCourier">
								{% else %}
								<tr id="row_{{loop.index}}">
								{% endif %}

									<td>
										{{courier.id}}
										<input type="text" value="{{courier.id}}" name="courier_id" style="display:none">
									</td>

									<!-- Логин -->
									<td>
										<input type="text" class="form-control" value="{{ courier.username }}" data-toggle="tooltip" data-placement="top" data-original-title="изменить логи" name="courier_name" onchange="this.form.submit()">
									</td>

									<!-- Пароль -->
									<td>
										<input type="text" class="form-control" placeholder="введите новый пароль"  data-toggle="tooltip" data-placement="top" data-original-title="изменить пароль" name="courier_password" onchange="this.form.submit()"> 
									</td>

									<!-- Зарегестрирован -->
									<td>{{ courier.date|date('d-m-y | H : i') }}</td>

									<!-- main courier -->
									<td>
										{% if courier.main == 1 %}
										<input type="radio" name="main_courier" checked>
										{% else %}
										<input type="radio" name="main_courier">
										{% endif %}
									</td>

									<!-- Управление -->
									<td>
										<div class="x_content">

											<!-- modals -->
											<button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top"
											data-original-title="изменить" onclick="submitForm('#row_{{loop.index}}', 'courierupdate')">
												<i class="fa fa-edit"></i>
											</button>

											{% if is_granted('ROLE_SUPER_ADMIN') %}
											<button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs{{loop.index}}"> <i class="fa fa-trash"></i></button>
											{% endif %}

											<div class="modal fade bs{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true" >
												<div class="modal-dialog modal-lg">
													<div class="modal-content">

														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
															</button>
														</div>

														<div class="modal-body">
															<h4 class="modal-title" id="myModalLabel">Вы уверены что хотите удалить пользователя: {{courier.username}}</h4>
														</div>

														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>

															<a href="/rmuser/{{us_role}}/{{courier.id}}" class="btn btn-primary"><i class="fa fa-trash"></i> удалить</a>
														</div>

													</div><!-- ./modal-content -->
												</div><!-- ./modal-dialog -->
											</div><!-- ./modal -->

										</div><!-- /.x_content -->
									</td>
								</tr>
								<!-- EXAMPLE OF ROW OF TABLE -->

							{% endfor %}
						</tbody>
					</table>
				</div><!-- ./x_content -->
			</div><!-- ./x_panel -->
		</div>
	</div><!-- ./row -->
</div><!-- ./right_col -->
<!-- /page content -->
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function() {
	var table = $('#courierlist_table').DataTable( {
		"language": {
			lengthMenu: "Отобразить _MENU_ записей на страницы",
			zeroRecords: "Ничего не найдено - извините",
			info: "Показаны страницы _PAGE_ из _PAGES_",
			nfoEmpty: "Нет доступных записей",
			infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
			processing:     "Обработка ...",
			search:         "Поиск:",
			infoPostFix:    "",
				loadingRecords: "Загружается ...",
			emptyTable:     "В таблице нет данных.",

			paginate: {
				first:      "Первый",
				previous:   "Предыдущий",
				next:       "Следующий",
				last:       "Последний"
			},
			aria: {
				sortAscending:  ": активировать сортировку столбца в порядке возрастания",
				sortDescending: ": активировать сортировку столбца в порядке убывания"
			}
		},
		columnDefs: [
			{
				// targets: [ 0, 1, 2 ],
				className: 'mdl-data-table__cell--non-numeric'
			}
		],
		responsive: true,
		columnDefs: [
			{ responsivePriority: 0, targets: 2 },
			{ responsivePriority: 0, targets: 3 },
		],
		autoFill: true,
		buttons: [
			'print'
		]
	});
} );
</script>
{% endblock %}