{% extends "base.html.twig" %}

{% block title %}Мой аккаунт{% endblock %}
{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7 hidden-sm hidden-xs">
						<h1>МОЙ АККАУНТ</h1>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">

							<li><a href="/">Главная</a>
							</li>
							<li>МОЙ АККАУНТ</li>
						</ul>
					</div>
				</div>
			</div>
		</div> 
{% endblock %}

{% block body %}


<div id="content" class="clearfix">

	<div class="container">

		<div class="row">

			<!-- *** LEFT COLUMN ***
	 _________________________________________________________ -->

			<div class="col-md-9 clearfix" id="customer-account">

				<p class="lead">Измените свои личные данные или свой пароль здесь.</p>


				<div class="box">

					<div class="heading">
						<h4 class="text-uppercase">Изменить  Логин / Nickname</h4>
					</div>

					<form action="{{ path('updatecustomer')}}" method="post" name="updatecustomer">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="password_1">
										Новый логи</label>
									<input type="text" class="form-control" id="login" name="login" maxlength="50" value="{{user.username}}">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="password_2">Новый Nickname</label>
									<input type="text" class="form-control" id="nickname" name="nickname" maxlength="50" value="{{user.nickname}}">
								</div>
							</div>
						</div>
						<!-- /.row -->

						<div class="text-center">
							<button type="button" class="btn btn-template-main btn_sbmt"><i class="fa fa-save"></i> Изменить</button>
						</div>
					</form>

				</div>
				<!-- /.box -->

				<div class="box">

					<div class="heading">
						<h4 class="text-uppercase">Изменить пароль </h4>
					</div>

					<form action="{{ path('updatecustomer')}}" method="post" name="updatecustomer">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="new_password1">
										<span class="red"> * </span>
										Новый пароль
									</label>
									<input type="password" class="form-control" id="new_password1" name="new_password1" minlength="6" maxlength="50">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="new_password2">
										<span class="red"> * </span>
										Введите повторно новый пароль
									</label>
									<input type="password" class="form-control" id="new_password2" name="new_password2" minlength="6" maxlength="50">
								</div>
							</div>

							<div class="pass_message"></div>
						</div>
						<!-- /.row -->

						<div class="text-center">
							<button type="button" class="btn btn-template-main btn_sbmt btn_pass" disabled><i class="fa fa-save"></i> Изменить</button>
						</div>
					</form>

				</div>
				<!-- /.box -->

				<div class="box">

					<div class="heading">
						<h4 class="text-uppercase">Изменить Эл.почту</h4>
					</div> 

					<form action="{{ path('updatecustomer')}}" method="post" name="updatecustomer">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="email">Эл. почта</label>
									<input type="email" class="form-control" required name="customer_mail" required value="{{ user.email }}">
								</div>
							</div>
						</div>

						<div class="text-center">
							<button type="button" class="btn btn-template-main btn_sbmt"><i class="fa fa-save"></i> Изменить</button>
						</div>
					</form>

				</div>
				<!-- /.box -->

			</div>
			<!-- /.col-md-9 -->
			<!-- *** LEFT COLUMN END *** -->


			<!-- *** RIGHT COLUMN ***
			__________________________________ -->

			<div class="col-md-3">
				<!-- *** CUSTOMER MENU ***
				_________________________________________ -->

				{% include '@App/components/customer_menu.html.twig' %}
				<!-- *** CUSTOMER MENU END *** -->
			</div>

			<!-- *** RIGHT COLUMN END *** -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->
</div>
<!-- /#content -->
{% endblock %}

{% block javascripts %}
<script>

$('#new_password2').keyup(function(event) {
	first_pass = $('#new_password1').val();

	if (first_pass.length > 6) {
		if (first_pass  == $(this).val()) {
			$('.btn_pass').removeAttr('disabled')
			$message = '<p class="green"> Пароли совпадают, можно сохранить изменения. </p>';
			$('.pass_message').html($message);
		}else {
			$message = '<p class="red"> Пароли не совпадают </p>';
			$('.pass_message').html($message);
		}
	}else {
		$message = '<p class="red">  Пароль должен содержать не менее 6 символов </p>';
		$('.pass_message').html($message);
	}
});

$('#new_password1').keyup(function(event) {
	if ($(this).val().length > 6 && $(this).val().length < 51) {
		$message = '<p class="green"> Первое поле заполнено. </p>';
		$('.pass_message').html($message);
	}
	else {
		$message = '<p class="red"> Пароль должен содержать не менее 6 символов </p>';
		$('.pass_message').html($message);
	}
});


</script>
{% endblock %}
