{% extends "base.html.twig" %}

{% block title %}AppBundle:customer_account:customer_wishlist{% endblock %}

{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1>Сообщения от менеджера</h1>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">

							<li><a href="/">Главная</a>
							</li>
							<li><a href="/">Личный кабинет</a>
							</li>
							<li>Сообщения</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block body %}
		<div id="content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-md-9">

						<!-- *** LEFT COLUMN ***
						 _________________________________________________________ -->
						<!--Search content -->
						<div class="right_col" role="main">
							<div class="page-title">
								<div class="title_right">
									<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Поиск сообщений">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div><!-- ./right_col -->
						<!--Search content END -->

						<!-- TEST -->
						<div class="tabs">
							<div class="row">
								<div class="col-md-3 custom_acordion">
									<ul class="nav nav-pills nav-justified">
										{% for  i in 1..4 %}
											<li class="">
												<a href="#tab{{i}}" data-toggle="tab" aria-expanded="false">
													<p> {{i}} Заголовок сообшения .. 1{{i}} FEB 201{{i + 1}}</p>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>

								<style>
									.custom_acordion .nav-pills > li{
										float: none;
										display: block;
										width: 100%;
									}
								</style>

								<div class="col-md-9">
									<div class="tab-content tab-content-inverse" style="border: solid 1px #ddd;">

										{% for i in 1..4 %}
											<!-- To first will be assigned a class -->
											{% if i == 1 %}
												<div class="tab-pane active" id="tab{{i}}">
											{% else %}
												<div class="tab-pane" id="tab{{i}}">
											{% endif %}
												<div class="row">
													<!-- CONTENT MAIL -->
													<div class="col-sm-12 mail_view">
														<div class="inbox-body">

															<div class="mail_heading row">
																<div class="col-md-8">
																	<div class="btn-group">
																		<button class="btn btn-sm btn-primary" type="button"><i class="fa fa-reply"></i> Ответить</button>
																		<button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Удалить"><i class="fa fa-trash-o"></i></button>
																	</div>
																</div>
																<div class="col-md-4 text-right">
																	<p class="date"> 8:02 PM 12 FEB 2014</p>
																</div>
																<div class="col-md-12">
																	<h4> Заголовок сообшения {{i}}</h4>
																</div>
															</div>

															<div class="sender-info">
																<div class="row">
																	<div class="col-md-12">
																		<strong>Менеджер</strong>
																		<span>(support@gmail.com)</span> кому:
																		<strong>мне</strong>
																		<a class="sender-dropdown"><i class="fa fa-chevron-down"></i></a>
																	</div>
																</div>
															</div>
															<br>

															<div class="view-mail">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
																Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
																<p>Riusmod tempor incididunt ut labor erem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
																nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
																mollit anim id est laborum.</p>
																<p>Modesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
																velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
															</div>

															<div class="attachment">
																<p>
																	<span><i class="fa fa-paperclip"></i> 3 вложения — </span>
																	<a href="#">Скачать вложения</a>
																</p>
															</div>

															<div class="btn-group">
																<button class="btn btn-sm btn-primary" type="button"><i class="fa fa-reply"></i> Ответить</button>
																<button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Удалить"><i class="fa fa-trash-o"></i></button>
															</div>
														</div>

													</div>
													<!-- /CONTENT MAIL -->
												</div>
											</div>
											<!-- /.tab -->
										{% endfor %}


									</div><!-- ./tab-content -->
								</div>
							</div><!-- ./row -->

							<!-- TEST END  -->
						</div><!-- ./tabs -->
					</div><!-- /.col-md-9 -->
					<!-- *** LEFT COLUMN END *** -->



					<!-- *** RIGHT COLUMN ***
			 _________________________________________________________ -->

					<div class="col-md-3">
						<!-- *** CUSTOMER MENU ***
						_________________________________________ -->

						{% include '@App/components/customer_menu.html.twig' %}
						<!-- *** CUSTOMER MENU END *** -->
					</div>

					<!-- *** RIGHT COLUMN END *** -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->
{% endblock %}
