{% extends "base.html.twig" %}

{% block title %} {{ order.uniqid }}{% endblock %}

{% block heading_breadcrumbs %}
	<div id="heading-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-7 hidden-sm hidden-xs">
					<p class="text-muted lead">Если у вас есть какие-либо вопросы, пожалуйста <a href="/contact"> свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>
				</div>

				<div class="col-md-5">
					<ul class="breadcrumb">
						<li><a href="/">Главная</a>
						</li>
						<li><a href="/customer_orders">Мои заказы</a>
						</li>
						<li> : {{ order.uniqid }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div> 
{% endblock %}

{% block body %}
{#
{{ dump(order.products['products']) }}
#}

<div id="content">
	<div class="container">

		<div class="row">

			<!-- *** LEFT COLUMN ***
			_________________________________________________________ -->

			<div class="col-md-9 clearfix" id="customer-order">

				<p class="lead">
					Заказ <strong> {{ order.uniqid }} </strong>

					был размещен <strong>{{ order.date|date('d.m.y') }}</strong>

					и в настоящее время статус заказа : 
					<!-- OREDR STATUS MODEL -->
					{% include '@App/components/order_status_model.html.twig' %}

					<!--  					Client error notify 								 -->
					{% include '@App/components/client_order_error_notify.html.twig' %}
					<!-- 																				 -->
				</p>


				<div class="box">
					<div class="table-responsive">

						<table  id="customer_order" class="mdl-data-table display responsive nowrap">
							<thead>
								<tr>
									<th ></th>
									<th>Наименование</th>
									<th>Количество</th>
									<th>Цена за единицу</th>
									<th>Cкидка</th>
									<th >Всего</th>
								</tr>
							</thead>

							<tbody>
								<!--  ...............................................................................
												Loop for Order products
								................................................................................. -->
								{% for item in order.products['products'] %}
									<tr class="entry{{ item.0.id }} entry">
										<!-- Продукт -->
										<td>
											{% if item.0.images is not empty %}
												<img src="{{ asset(item.0.images.0) }}" width="50">
											{% endif %}
										</td>

										<!-- Name -->
										<td>
											<a href="/pDetail/{{item.productid}}">
												{{ item.0.name }}
												{{ item.0.count_dosage }}
											</a>
										</td>

										<!-- count -->
										<td>
											{{ item['count'] }}
										</td>

										<!--unit price  -->
										<td>
											<i class="fa fa-rub" aria-hidden="true"></i> {{ item.0.price }}
										</td>

										<!-- Cкидка -->
										<td>
											{% if item.0.discount is not empty %}
												{{ item.0.discount['discount'] }} %
											{% else  %}
												0 % 
											{% endif %}
										</td>

										<!-- Всего -->
										<td>
											<i class="fa fa-rub" aria-hidden="true"></i>
											<span class="entry_total">
												{% if item['count'] > 0 %}
													{{ item.0.price * item['count'] }}
												{% else  %}
													{{ item.0.price }}
												{% endif %}
											</span>
										</td>
									</tr>
								{% endfor %}

								<!--  ...............................................................................
												Loop for Order products
								................................................................................. -->
								{% if order.products['course'] is defined and order.products['course'] is not empty %}

									{% for item in order.products['course'] %}

										{% if item.0.entry_status == false %}
										<tr class="entry{{ item['id'] }} entry bg-failed" >
										{% else %}
										<tr class="entry{{ item['id'] }} entry">
										{% endif %}

											<!-- Продукт -->
											<!-- 																				 -->
											<td>
												<p  class="btn btn-template-main btn-sm" style="border-color:#000; color:#000;" data-toggle="modal" data-target=".course_content{{item.id}}">
													<i class="fa fa-info"></i>
												</p>

												<div class="x_content">
													<!-- modals -->

													<div class="modal fade course_content{{item.id}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
														<div class="modal-dialog modal-lg">
															<div class="modal-content">

																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
																	</button>
																	<p class="modal-title" id="myModalLabel">Содержимое курса : {{item.0.name}}</p>
																</div>

																<div class="modal-body" style="overflow: scroll;">
																	<table class="table">
																		<thead>
																			<tr>
																				<!-- Name -->
																				<th>Наимен.</th>
																				<!-- Count -->
																				<th>Кол-во</th>
																				<!-- price -->
																				<th>Цена за единицу</th>
																			</tr>
																		</thead>

																		<tbody>
																			{% for product in item.0.content %}
																			<tr>
																				<!-- Product Name  -->
																				<td>
																					{{product.prod_name}} {{product.count_dosage}}
																					{#
																					<a href="/pDetail/{{product.id}}">
																					</a>
																					#}
																				</td>

																				<!-- Count -->
																				<td>
																					{{ product.count }}
																				</td>

																				<!-- price -->
																				<td>
																					{{product.price}}
																					<i class="fa fa-rub" aria-hidden="true"></i>
																				</td>
																			</tr>
																			{% endfor %}
																		<tbody>

																		<tfoot>
																			<th colspan="2">
																				<strong>
																					 Cумма за 1 курс: 
																				</strong>
																			</th>

																			<th>
																				<strong>
																					{{ item.0.price }}
																					<i class="fa fa-rub" aria-hidden="true"></i>
																				</strong>
																			</th>
																		</tfoot>

																	</table>
																</div>

																<div class="modal-footer">
																	<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
																</div>

															</div><!-- ./modal-content -->
														</div><!-- ./modal-dialog -->
													</div><!-- ./modal -->

												</div><!-- /.x_content -->
											</td>
											<!-- 																				 -->

											<td>
												{{ item.0.name }}
											</td>

											<!-- Количество -->
											<td>
												 {{ item['count'] }}
											</td>

											<!-- Цена за единицу -->
											<td>
												<i class="fa fa-rub" aria-hidden="true"></i>
												{{ item.0.price }}
											</td>

											<!-- Cкидка -->
											<td>
												------
											</td>

											<!-- Всего -->
											<td>
												<i class="fa fa-rub" aria-hidden="true"></i>
												<span class="entry_total">
													{% if item['count'] > 0 %}
														{{ item.0.price * item['count'] }}
													{% else  %}
														{{ item.0.price }}
													{% endif %}
												</span>
											</td>
										</tr>

									{% endfor %}

								{% endif %}
							</tbody>

							<tfoot>
								<tr>
									<td colspan="3">
										<strong>
											Цена за доставку:
										</strong>
									</td>
									<td colspan="2">
									</td>
									<td colspan="1">
										<strong>
											{{ order.deliveryCost }}
											<i class="fa fa-rub" aria-hidden="true"></i>
										</strong>
									</td>
									<!-- <td colspan="1"></td> -->
								</tr>

								{% if order.coupon is not empty %}
								<tr>
									<td colspan="3">
										<strong>
											Скидка по купону  "{{ order.coupon.name }}":
										</strong>
									</td>

									<td colspan="2">
										<strong>
											{{ order.coupon.percent }}
											%
										</strong>
									</td>

									<td>
										<strong>
											{% set full_perc = order.coupon.percent - 100 %}
											{% set complete_sum = (((order.finalCost * 100) / full_perc) + order.finalCost)|number_format %}

											- {{ complete_sum|abs }}
											<i class="fa fa-rub" aria-hidden="true"></i>
										</strong>
									</td>
								</tr>
								{% endif %}

								<tr >
									<td colspan="3">
										<strong>
											Финальная сумма к оплате:
										</strong>
									</td>

									<td colspan="2"></td>

									<td colspan="1" >
										<strong>
										{% if order.finalCost is not empty and order.paymentStatus != "order_failed" %}
											{{ order.finalCost }}
											<i class="fa fa-rub" aria-hidden="true"></i>
										{% else %}
											<p class="red"> ------- </p>
										{% endif %}
										</strong>
									</td>

								</tr>
							</tfoot>

						</table>

					</div>

					<!-- /.table-responsive -->
					<div class="row addresses">
						<div class="col-sm-6">
							<h3 class="text-uppercase">Способ доставки</h3>
							{{ order.deliveryMethod }}
						</div>

						{% if order is defined and order.delivery_address is not empty %}
						<div class="col-sm-6">
							<h3 class="text-uppercase">Адрес доставки</h3>
							{% include '@App/components/recipient_address_order.html.twig' %}
						</div>
						{% endif %}
					</div>
					<!-- /.addresses -->

				</div>
				<!-- /.box -->

			</div>
			<!-- /.col-md-9 -->
			<!-- *** LEFT COLUMN END *** -->


			<!-- *** RIGHT COLUMN ***
			 _________________________________________________________ -->
			<div class="col-md-3">
				<!-- *** CUSTOMER MENU *** -->
				{% include '@App/components/customer_menu.html.twig' %}
				<!-- *** CUSTOMER MENU END *** -->
			</div>
			<!-- *** RIGHT COLUMN END *** -->


		</div>
		<!-- /.row -->


	</div>
	<!-- /.container -->
</div>
<!-- /#content -->

{% endblock %}
{% block javascripts %}
<script>
var table = $('#customer_order').DataTable( {
	"language": {
		lengthMenu: "Отобразить _MENU_ записей на страницы",
		zeroRecords: "Ничего не найдено - извините",
		info: "Показаны страницы _PAGE_ из _PAGES_",
		nfoEmpty: "Нет доступных записей",
		infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
		processing:     "Обработка ...",
		search:         "Поиск:",
		infoPostFix:    "",
			loadingRecords: "Загружается ...",
		emptyTable:     "В таблице нет данных.",

		paginate: {
			first:      "Первый",
			previous:   "Предыдущий",
			next:       "Следующий",
			last:       "Последний"
		},
		aria: {
			sortAscending:  ": активировать сортировку столбца в порядке возрастания",
			sortDescending: ": активировать сортировку столбца в порядке убывания"
		}
	},
	columnDefs: [
		{
			// targets: [ 0, 1, 2 ],
			className: 'mdl-data-table__cell--non-numeric'
		}
	],
	responsive: true,
	columnDefs: [
		{ responsivePriority: 0, targets: 0 },
	],
	autoFill: true,
});
</script>
{% endblock %}