{% extends "base.html.twig" %}

{% block title %}AppBundle:customer_account:customer_wishlist{% endblock %}
{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7 hidden-sm hidden-xs">
						<h1>Понравившиеся товары</h1>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">

							<li><a href="/">Главная</a>
							</li>
							<li>Понравившиеся товары</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block body %}
		<div id="content">
			<div class="container">

				<div class="row">

					<!-- *** LEFT COLUMN ***
			 _________________________________________________________ -->

					<div class="col-md-9 clearfix">

						<!-- <p class="lead">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p> -->

						<div class="row products">
							{% for product in user_favorites %}
								{% if product['favorite'] == true %}
									{% include '@App/components/product_model.html.twig' %}
								{% endif %}
							{% endfor %}
						</div>
						<!-- /.products -->

					</div>
					<!-- /.col-md-9 -->
					<!-- *** LEFT COLUMN END *** -->


					<!-- *** RIGHT COLUMN ***
			 _________________________________________________________ -->

					<div class="col-md-3">
						<!-- *** CUSTOMER MENU ***
						_________________________________________ -->

						{% include '@App/components/customer_menu.html.twig' %}
						<!-- *** CUSTOMER MENU END *** -->
					</div>

					<!-- *** RIGHT COLUMN END *** -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->
{% endblock %}

{% block javascripts %}
<!-- 	if the user is on the page customer_account > customer_wishlist make opportunity what would can remove 
	products from favorite list and apply effect with notification -->
	{% if is_granted('ROLE_USER') and app.request.get('_route') == 'app_customer_account_customer_wishlist' %}
		<script>
			$(document).on('click', '.rmFavorite', function(){
				pid = $(this).attr('pid');
				$('.product'+pid).fadeOut();
			});
		</script>
	{% endif %}
{% endblock %}
