{% extends "base.html.twig" %}

{% block title %} Список заказов {% endblock %}

{% block heading_breadcrumbs %}
<div id="heading-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-7 hidden-sm hidden-xs">
				<p class="text-muted lead">Если у вас есть какие-либо вопросы, пожалуйста <a href="/contact"> свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>
			</div>
			<div class="col-md-5">
				<ul class="breadcrumb"> 
					<li><a href="/">Главная</a>
					</li>
					<li>МОЙ ЗАКАЗЫ</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block body %}

<div id="content"> 
	<div class="container-fluid" style="min-height: 500px;">

		<div class="row">

			<!-- *** LEFT COLUMN ***
			 _________________________________________________________ -->

			<div class="col-md-7 col-md-offset-2" id="customer-orders">

				<div class="box">

					<div class="table-responsive">
						<table  id="shop_category" class="mdl-data-table display responsive nowrap">
							<thead>
								<tr>
									<th>Заказ</th>
									<th>Трек-код</th>
									<th>Дата</th>
									<th>сумма</th>
									<th>Статус</th>
									<th>Управление</th>
								</tr>
							</thead>
							<tbody>
								{% if customer_orders is not empty %}
								{% for order in customer_orders %}

								<tr>
									<!-- NR order -->
									<th>
										{{loop.index}})
										<!-- 						ORDER CONTENT								 -->
										{% include '@App/components/order_content/order_content.html.twig' %}
										<!-- 																				 -->
									</th>

									<!-- track code -->
									<th>
										<!-- 						If not inseted track code						 -->
										{% if order.trackСode is empty %}
											Не указан
										{% else %}

											<!-- 				If  track code is inserted and track date is less than 10 days ago 		 -->
											{% if track_days[loop.index - 1] is defined %}

												{% if track_days[loop.index - 1]['orderId'] == order.id and track_days[loop.index - 1]['track_days_avail'] > 8 %}
													<a href="https://www.pochta.ru/tracking#{{order.trackСode}}" class="btn btn-template-main btn-sm">
														{{ order.trackСode }}
													</a>
												{% else %}
													Не указан
												{% endif %}

											{% endif %} <!-- ./ End less that 10 day ago -->

										{% endif %} <!-- ./ END not inserted track code -->
									</th>

									<!-- Date -->
									<td> {{ order.date|date('d.m.y') }} </td>

									<!-- Final price -->
									<td>
										<i class="fa fa-rub" aria-hidden="true"></i>
										{% if order.finalCost is not empty and order.paymentStatus != "order_failed" %}
											{{ order.finalCost }}
										{% else  %}
											----
										{% endif %}
									</td>

									<!-- Order status -->
									<td>
										<!--  					Order status 								 -->
										{% include '@App/components/order_status_model.html.twig' %}
										<!-- 																				 -->

										<!--  					Client error notify 								 -->
										{% include '@App/components/client_order_error_notify.html.twig' %}
										<!-- 																				 -->
									</td>

									<!-- Control -->
									<td>
										<a href="/customer_order/{{order.uniqid}}" class="btn btn-template-main btn-sm mall-2" >
											Посмотреть
										</a>

										{% if order.paymentStatus != 'paid' and order.order_status != 'order_failed' %}
											<a href="/shop_checkout_three/{{order.uniqid}}" class="btn btn-template-main btn-sm mall-2" >
												Оплатить
											</a>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
								{% endif %}

							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box -->

			</div>
			<!-- /.col-md-9 -->

			<!-- *** LEFT COLUMN END *** -->

			<!-- *** RIGHT COLUMN ***
			 _________________________________________________________ -->

			<div class="col-md-3">
				<!-- *** CUSTOMER MENU ***
				_________________________________________ -->

				{% include '@App/components/customer_menu.html.twig' %}
				<!-- *** CUSTOMER MENU END *** -->
			</div>


			  <!-- *** RIGHT COLUMN END *** -->

		</div>


		</div>
		<!-- /.container -->
	</div>
	<!-- /#content -->


{% endblock %}


{% block javascripts %}
<script>
var table = $('#shop_category').DataTable( {
	"language": {
		lengthMenu: "Отобразить _MENU_ записей на страницы",
		zeroRecords: "Ничего не найдено - извините",
		info: "Показаны страницы _PAGE_ из _PAGES_",
		nfoEmpty: "Нет доступных записей",
		infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
		processing:     "Обработка ...",
		search:         "Поиск:",
		infoPostFix:    "",
			loadingRecords: "Загружается ...",
		emptyTable:     "В таблице нет данных.",

		paginate: {
			first:      "Первый",
			previous:   "Предыдущий",
			next:       "Следующий",
			last:       "Последний"
		},
		aria: {
			sortAscending:  ": активировать сортировку столбца в порядке возрастания",
			sortDescending: ": активировать сортировку столбца в порядке убывания"
		}
	},
	columnDefs: [
		{
			// targets: [ 0, 1, 2 ],
			className: 'mdl-data-table__cell--non-numeric'
		}
	],
	responsive: true,
	columnDefs: [
		{ responsivePriority: 0, targets: 0 },
		{ responsivePriority: 2, targets: 4 },
		{ responsivePriority: 3, targets: 1 },
		{ responsivePriority: 4, targets: 5 },
		{ responsivePriority: 5, targets: 2 },
		{ responsivePriority: 6, targets: 3 }
	],
	autoFill: true,
});


	/*--------------------------------------------------------------------------
				Filter sort by
	--------------------------------------------------------------------------*/
	qiwiChecker();
</script>
{% endblock %}
