{% extends "base.html.twig" %}

{% block title %}Прайс{% endblock %}

{% block heading_breadcrumbs %}
		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<p class="text-muted lead hidden-xs">Если у вас есть какие-либо вопросы, пожалуйста <a href="/contact"> свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="/">Главная</a>
							</li>
							<li>ПРАЙС</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

	<div id="content">
		<div class="container"> <!-- -fluid -->

			<div class="row">

			<!-- *** LEFT COLUMN ***
			_________________________________________________________ -->
			<div class="col-md-9">  <!-- col-md-offset-2 -->

					<div class="row products">
						<div class="col-md-12" id="customer-orders">

							<div class="divider"></div>

							<button id="onlyInStock" class="btn btn-template-main btn-sm  mt-10" attr="inStockT">Только в наличии</button>

							<button class="btn btn-template-main btn-sm btn-danger reset_filter mt-10">
								<i class="fa fa-times-circle"></i>

								Сбросить фильтры
							</button>

							<br>
							<br>
							<br>

							<div class="box" style="padding: 0;">
								<table  id="example1" class="mdl-data-table display responsive nowrap"
								 style="width:100%">

									<thead>
										<tr>
											<!-- name -->
											<th>Название</th>

											<!-- Images -->
											<th>Фото</th>

											<!-- Price -->
											<th>Цена</th>

											<!-- On basket -->
											{% if is_granted('IS_AUTHENTICATED_FULLY') %}
												<th>Добаить</th>
											{% endif %}
										</tr>
									</thead>
									<tbody>
										{% for product in products %}
											{% if product[0].inStock == false %}
												<tr class="product inStockF catid{{ product.0.categoryId }} manid{{ product.0.manufacturerid }} ">
											{% else %}
												<tr class="product inStockT catid{{ product.0.categoryId }}  manid{{ product.0.manufacturerid }} ">
											{% endif %}

													<!-- Name -->
													<td>
														<a href="/pDetail/{{product[0].id}}">
															{{product[0].name}}
														</a>

														<br>

														<a href="/pDetail/{{product[0].id}}">
															{{product[0].count_dosage}}
														</a>
													</td>

													<!-- Images -->
													<td>
														{% if product[0].images.0 is defined %}
															<img src="{{ product[0].images[0] }}"
															 class="mr-5" 
															 alt="{{ product[0].images[0] }}"
															 width="50">
														{% endif %}
													</td>

													<!-- price -->
													<td>
														<i class="fa fa-rub" aria-hidden="true"></i>
														{{product[0].price}}

														{% if product[0].oldprice %}
															| <br>
															<i class="fa fa-rub" aria-hidden="true"></i>
															<del>{{ product[0].oldprice }}</del>
														{% endif %}
													</td>

													<!-- on basket -->
													{% if is_granted('IS_AUTHENTICATED_FULLY') %}
													<td>
														{% if product[0].inStock == true %}
															{% if  product.onbasket == true %}
																добавлен
															{% else %}
																<button pid="{{product[0].id}}" class="toBasket btn btn-template-main btn-sm mt-5">
																	<i class="fa fa-shopping-cart" aria-hidden="true"></i>
																</button>
															{% endif %}
														{% else %}

															<!-- If product is in stock display it  -->
															{% if product[0].inStock == false and is_granted('IS_AUTHENTICATED_FULLY') and app.user.email is not null %}
																<!-- subscr to prod -->
																<input type="text" value="{{app.user.email}}" class="prodNotifyInput{{product[0].id}} " style="display:none;">
																<p class="text-center">
																	<button class="btn btn-template-main btn-sm prodNotify" 
																	style="border-color: #792e27; color:#792e27;" pid="{{product[0].id}}">
																		<!-- Оповестить -->

																		<i class="fa fa-bell" aria-hidden="true"></i>

																	</button>
																</p>

															<!-- If case when user have status Anonymous  display input with subscribe user at product  -->
															{% elseif product[0].inStock == false and not is_granted('IS_AUTHENTICATED_FULLY') %}
																<input type="text" class="form-control input-sm mt-10 prodNotifyInput{{product[0].id}}"
																	placeholder="Введите e-mail" aria-controls="example1"
																	name="subscribe_input" >

																<button class="btn btn-template-main btn-sm mt-10 prodNotify" pid="{{product[0].id}}">
																	 <i class="fa fa-send"></i>
																</button>

															<!-- If user is authentificated and does'nt set her email, display input element -->
															{% elseif product[0].inStock == false and is_granted('IS_AUTHENTICATED_FULLY') and app.user.email is null %}
																<input type="text" class="form-control input-sm  mt-10 prodNotifyInput{{product[0].id}}"
																	placeholder="Введите e-mail" aria-controls="example1"
																	name="subscribe_input" >


																<button class="btn btn-template-main btn-sm mt-10 prodNotify" pid="{{product[0].id}}">
																	 <i class="fa fa-send"></i>
																</button>
															{% endif %}

														{% endif %}
													</td>
													{% endif %}


											</tr>
										{% endfor %}

									</tbody>
								</table>

							</div><!-- /.box -->
						</div><!-- /.col-md-12 -->
					</div><!-- /.product -->

			</div>
			<!-- /.col-md-9 -->
			<!-- *** LEFT COLUMN END *** -->


			<!-- *** RIGHT COLUMN ***
			_________________________________________________________ -->

			<div class="col-sm-2 col-sm-offset-1">
				<!-- *** MENUS AND FILTERS ***-->
					{% include '@App/components/price_filter.html.twig' %}
				<!--*** MENUS AND FILTERS END *** -->
			</div>
			<!-- /.col-md-3 -->

			<!-- *** RIGHT COLUMN END *** -->

			</div>

		</div>
		<!-- /.container -->
	</div>
	<!-- /#content -->
{% endblock %}
{% block javascripts %}

	<!--  .........................................................................
						Get main settings
	............................................................................-->
	<script>
	function getSett(columnDefs = null){
		var custom_settings = {
			columnDefs: [
				{ responsivePriority: 1, targets: 0 },
				{ responsivePriority: 2, targets: 2 },
				{ responsivePriority: 3, targets: 3 }
			]
		};


		if (columnDefs == 'not_auth') {
			custom_settings.columnDefs = [
				{ responsivePriority: 1, targets: 0 },
				{ responsivePriority: 2, targets: 2 },
				{ responsivePriority: 3, targets: 1 }
			]
		}

		return custom_settings;
	}
	</script>

	<!--  .........................................................................
		Custom functionality for check if customer is authorized
	............................................................................-->
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<script>
			csettings = getSett();
	</script>
	{% else %}
	<script>
			csettings = getSett('not_auth');
	</script>
	{% endif %}

	<script>
	$(document).ready(function() {
		var columnDefs = csettings.columnDefs;

		// Declare responsive table
		var table = $('#example1').DataTable( {
			"language": {
				lengthMenu: "Отобразить _MENU_ записей на страницы",
				zeroRecords: "Ничего не найдено - извините",
				info: "Показаны страницы _PAGE_ из _PAGES_",
				nfoEmpty: "Нет доступных записей",
				infoFiltered: "	(отфильтрован из _MAX_ общих записей)",
				processing:     "Обработка ...",
				search:         "Поиск:",
				infoPostFix:    "",
					loadingRecords: "Загружается ...",
				emptyTable:     "В таблице нет данных.",

				paginate: {
					first:      "Первый",
					previous:   "Предыдущий",
					next:       "Следующий",
					last:       "Последний"
				},
				aria: {
					sortAscending:  ": активировать сортировку столбца в порядке возрастания",
					sortDescending: ": активировать сортировку столбца в порядке убывания"
				}
			},
			columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}
			],
			responsive: {
				details: {
					display: $.fn.dataTable.Responsive.display.modal( {
						// header: function ( row ) {
						// 	var data = row.data();
						// 	return 'Детали продукта' + data[0];
						// }
					} ),
					renderer: $.fn.dataTable.Responsive.renderer.tableAll()
				},
			},
			columnDefs: columnDefs,
			autoFill: true,
			"pageLength": 100
		});
	});
	</script>



<script>
	/*            "Only In Stock" 
	*	FadeOut/FadeIn  product which is in Stock or no
	 --------------------------------------------------------*/
	$(document).on('click', '#onlyInStock', function(){
		attr = $(this).attr('attr');
		button = $(this);

		switch(attr) {
			case "inStockT":
				$('.inStockF').fadeOut();
				button.attr('attr', "inStockF")
				button.html("Все товары.")
				break;

			case "inStockF":
				$('.product').fadeIn();
				button.attr('attr', "inStockT")
				button.html("Только в наличии.")
				break;
		}

	});

	/*           SORT PRODUCTS BY CATEGORY
	 --------------------------------------------------------*/
	$(document).on('click', '.cat_sort', function(){
		catid = $(this).attr('catid');

		$('.product').fadeOut();
		$('.catid'+catid).fadeIn();
	});
	/*             SORT PRODUCTS BY MANUFACTURER
	 --------------------------------------------------------*/
	$(document).on('click', '.man_sort', function(){
		manid = $(this).attr('manid');

		$('.product').fadeOut();
		$('.manid'+manid).fadeIn();
	});

	/*            RESET PRODUCTS BY CATEGORY SORT
	 --------------------------------------------------------*/
	$(document).on('click', '.reset_filter', function(){
		$('.product').fadeIn();
	});

</script>
{% endblock %}
